

<form #form="ngForm" class="k-form" *ngIf="platformcomponent" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusMemoryAvailable" class="label-top">Memory Available </label>
	 <input [readonly]="true"
            #statusMemoryAvailable
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.memory.available"
            name="status.memory.available"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusMemoryUtilized" class="label-top">Memory Utilized </label>
	 <input [readonly]="true"
            #statusMemoryUtilized
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.memory.utilized"
            name="status.memory.utilized"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
