:host {
  width: 100%;
}

.file-block {
  border: 1px solid #E8EAEE;
  border-radius: 5px;
  padding: 7px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.file-label {
  display: inline-block;
}

.file-title {
  font-size: 14pt;
}

.container {
  min-height: 300px;
  max-height: 600px;
  overflow-y: auto;
  font-size: 80%;
}
