<kendo-dialog-titlebar>
  <div style="font-size: 18px; line-height: 1.3em;"><span class="k-icon k-i-form-element"></span>Selected Rows</div>
</kendo-dialog-titlebar>
<div class="container">
  <div *ngFor="let file of fileItems; let index = index">
    <div class="file-block">
      <input kendoCheckBox id="terms{{index}}" type="checkbox" (change)="onItemSelected($event, file)" />
      <label class="k-checkbox-label file-label" for="terms{{index}}">
        <div class="file-title">{{ file.name }}</div>
        <div class="file-path">{{ getFilePathBradcrumb(file.fullPath) }}</div>
      </label>
    </div>
  </div>
</div>
<kendo-dialog-actions>
  <button kendoButton (click)="onCancelAction()">Cancel</button>
  <button kendoButton (click)="onDeselect()">
    Deselect {{selectedItems.length}}
  </button>
  <button kendoButton (click)="onDeselectAll()" [primary]="true">
    Deselect all
  </button>
</kendo-dialog-actions>
