<div fxLayout="row" fxLayoutAlign="space-between center" class="gridster-item-content" fxFlex="0 1 100">
  <span fxLayout="row" fxLayoutAlign="start center" fxFlex="0 1 100" class="chart-title pl-16"
    *ngIf="widget?.title">{{widget.title}}</span>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="chart-filter">
      <div class="item range">
        <kendo-dropdownlist matTooltip="Set a data range" [value]="selectedRange" (valueChange)="updateRange($event)" [data]="rangeList" [textField]="'label'" [valueField]="'short'">
        </kendo-dropdownlist>
      </div>
      <div class="item refresh">
        <mat-button-toggle-group>
          <mat-button-toggle mat-icon-button matTooltip="Refresh the dashboard" (click)="onRefresh()">
            <mat-icon aria-hidden="false" aria-label="Refresh">autorenew</mat-icon>
          </mat-button-toggle>
          <kendo-dropdownlist style="width: 70px" [(ngModel)]="refreshTime" (valueChange)="refreshTimeSelected($event)" [data]="refreshList" [textField]="'label'" [valueField]="'value'">
          </kendo-dropdownlist>
        </mat-button-toggle-group>
      </div>
    </div>
    <ng-container *ngIf="widget?.resizeEnabled">
      <button fxLayout="row" fxLayoutAlign="center center" mat-menu-item class="drag-handler chart-icon_btn px-8 w-40">
          <mat-icon class="mr-0">open_with</mat-icon>
      </button>
    </ng-container>
    <button *ngIf="isMenu" matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu"
      aria-label="Operations">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button *ngIf="isReturn" mat-menu-item (click)="return.emit(widget)">
        <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
        <span>Go back</span>
      </button>
      <button *ngIf="isView" mat-menu-item (click)="view.emit(widget)">
        <mat-icon>visibility</mat-icon>
        <span>View</span>
      </button>
      <ng-container *ngIf="isJsonPanel">
        <button mat-menu-item (click)="panelJson.emit(widget)">
          <mat-icon>code</mat-icon>
          <span>Panel Json</span>
        </button>
      </ng-container>

      <button mat-menu-item (click)="changeGridsterState(widget)">
        <ng-container *ngIf="widget?.resizeEnabled; else lockedTemplate">
          <mat-icon>lock_open</mat-icon>
          <span>Lock Resize/Position</span>
        </ng-container>
        <ng-template #lockedTemplate>
          <mat-icon>lock</mat-icon>
          <span>Unlock Resize/Position</span>
        </ng-template>
      </button>

      <ng-container *ngIf="isRemove">
        <hr *ngIf="isJsonPanel || isView || isReturn" class="break">
        <button mat-menu-item class="remove-menu" (click)="onRemove()">
          <mat-icon>delete_outline</mat-icon>
          <span>Remove</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</div>
