// test
:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  .drag-handler {
    width: auto;
  }
}

.mat-button {
  border-radius: none !important;
  width: 100%;
}

.break {
  color: #464748;
  border: 0.5px solid;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0px;
}

.item {
  mat-button-toggle-group {
    mat-button-toggle {
      border-color: rgba(0, 0, 0, 0.08);
      color: #656565;
      background-color: #f8fbfc;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#f8fbfc),
        to(#f1f1f1)
      );
      background-image: linear-gradient(#f8fbfc, #f1f1f1);
    }
  }

  &.refresh {
    mat-icon {
      color: rgba(0, 0, 0, 0.54);
      width: 20px;
      height: 20px;
      font-size: 20px;
      margin-top: 4px;
    }
  }
}

::ng-deep .widget-menu-position {
  + .cdk-overlay-connected-position-bounding-box {
    align-items: center !important;
  }
}
