<gridster fuseNavigationMenuGlidster [options]="options" *ngIf="layout">
    <gridster-item fxFlex [item]="item" *ngFor="let item of layout; let i = index">
        <ng-container *ngIf="(item.reportType || item.reportType === 0) && item.reportType !== ItemType?.CHART; else chartTemplate" [ngSwitch]="item.reportType" class="widget">
        <ng-container *ngSwitchCase="ItemType?.DEVICE_LIST">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget
                        class="w-100-p"
                        #tableHeader
                        [item]="item"
                        [index]="0"
                        [isContolPanel]="true"
                        [resizeble]="tableList?.clientHeight">
                        <span title>{{ ItemType?.DEVICE_LIST }}</span>
                        <div menuItems>
                            <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                            <button (click)="tableList?.onExportPDFHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to PDF</span>
                            </button>
                            <button (click)="tableList?.onExportExcelHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to Excel</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item)">
                                <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                            <button mat-menu-item (click)="tableList?.onGroupable()">
                                <ng-container *ngIf="tableList?.groupable; else lockedDragTemplate">
                                    <mat-icon>highlight_off</mat-icon>
                                    <span>Disable group by column</span>
                                </ng-container>
                                <ng-template #lockedDragTemplate>
                                    <mat-icon>group_work</mat-icon>
                                    <span>Enable group by column</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div class="gridster-item-content table-wrapper">
                    <device-list #tableList [url]="'device'" [searchText]="tableHeader.searchText" [pageSize]="tableHeader.pageSize.value" (setRows)="setHeightGridster($event, item, tableHeader.height, layout)" ></device-list>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="ItemType?.DEVICE_USER_LIST">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget
                        class="w-100-p"
                        #tableHeader
                        [item]="item"
                        [index]="0"
                        [isContolPanel]="true"
                        [resizeble]="tableList?.clientHeight">
                        <span title>{{ ItemTitle.DEVICE_USER_LIST }}</span>
                        <div menuItems>
                            <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                            <button (click)="tableList?.onExportPDFHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to PDF</span>
                            </button>
                            <button (click)="tableList?.onExportExcelHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to Excel</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item)">
                                <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                            <button mat-menu-item (click)="tableList?.onGroupable()">
                                <ng-container *ngIf="tableList?.groupable; else lockedDragTemplate">
                                    <mat-icon>highlight_off</mat-icon>
                                    <span>Disable group by column</span>
                                </ng-container>
                                <ng-template #lockedDragTemplate>
                                    <mat-icon>group_work</mat-icon>
                                    <span>Enable group by column</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div class="gridster-item-content table-wrapper">
                    <deviceuserrule-list [url]="'deviceuser'" #tableList [pageSize]="tableHeader.pageSize.value" (setRows)="setHeightGridster($event, item, tableHeader.height, layout)" ></deviceuserrule-list>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="ItemType?.DEVICE_USER_RULE_LIST">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget
                        class="w-100-p"
                        #tableHeader
                        [item]="item"
                        [index]="0"
                        [isContolPanel]="true"
                        [resizeble]="tableList?.clientHeight">
                        <span title>{{ ItemTitle.DEVICE_USER_RULE_LIST }}</span>
                        <div menuItems>
                            <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                            <button (click)="tableList?.onExportPDFHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to PDF</span>
                            </button>
                            <button (click)="tableList?.onExportExcelHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to Excel</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item)">
                                <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                            <button mat-menu-item (click)="tableList?.onGroupable()">
                                <ng-container *ngIf="tableList?.groupable; else lockedDragTemplate">
                                    <mat-icon>highlight_off</mat-icon>
                                    <span>Disable group by column</span>
                                </ng-container>
                                <ng-template #lockedDragTemplate>
                                    <mat-icon>group_work</mat-icon>
                                    <span>Enable group by column</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div class="gridster-item-content table-wrapper">
                    <deviceuserrule-list [url]="'deviceuser'" #tableList [pageSize]="tableHeader.pageSize.value" (setRows)="setHeightGridster($event, item, tableHeader.height, layout)" ></deviceuserrule-list>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="ItemType?.DEVICE_ITEM_DETAIL">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget
                        class="w-100-p"
                        #tableHeader
                        [item]="item"
                        [index]="0"
                        [isContolPanel]="true">
                        <span title>{{ ItemTitle.DEVICE_ITEM_DETAIL }}</span>
                        <div menuItems>
                            <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item)">
                                <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div class="gridster-item-content table-wrapper">
                    <device-general [resourceName]="item.id"></device-general>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="ItemType?.DEVICE_ITEM_IP">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget
                        class="w-100-p"
                        #tableHeader
                        [item]="item"
                        [index]="0"
                        [isContolPanel]="true">
                        <span title>{{ ItemTitle.DEVICE_ITEM_IP }}</span>
                        <div menuItems>
                            <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item)">
                                <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div class="gridster-item-content table-wrapper">
                    <device-ip [resourceName]="item.id"></device-ip>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="ItemType?.DEVICE_USER_ITEM">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget
                        class="w-100-p"
                        #tableHeader
                        [item]="item"
                        [index]="0"
                        [isContolPanel]="true">
                        <span title>{{ ItemTitle.DEVICE_USER_ITEM }}</span>
                        <div menuItems>
                            <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item)">
                                <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div class="gridster-item-content table-wrapper">
                    <deviceuserrule-details [resourceName]="item.id"></deviceuserrule-details>
                </div>
            </div>
        </ng-container>
        </ng-container>
        <ng-template #chartTemplate>
            <app-panel-header
                [widget]="item"
                [selectedRange]="period$ | async"
                [refreshTime]="refreshTimer$ | async"
                (edit)="chartWidget.editWidget($event)"
                (gridsterStateChanged)="gridsterStateChanged()"
                (panelJson)="chartWidget.jsonWidget($event, index)"
                (remove)="chartWidget.removeWidget($event)"
                (view)="chartWidget.viewWidget($event)">
            </app-panel-header>
            <shared-chart-widget
                #chartWidget 
                [item]="item" 
                [index]="i" 
                [period]="period$ | async" 
                [refreshTimer]="refreshTimer$ | async"
                [interval]="interval$ | async"
                (editWidgetChange)="editWidget($event)"
                (removeWidgetChange)="removeWidget($event)">
            </shared-chart-widget>
        </ng-template>
    </gridster-item>
</gridster>
<mat-menu #menu="matMenu" xPosition="before">
    <ng-template matMenuContent let-item="item" let-index="index">
        <button (click)="removeDocumentWidget(index)" mat-menu-item>
            <mat-icon>assessment</mat-icon>
            <span>Remove from Dashboard</span>
        </button>
    </ng-template>
</mat-menu>
