<div class="measure-container" *ngIf="editor.viewManager.editorMode === 0 && !editor.measureManager.isConfirmed">
  <div class="measure-info">
    <div class="measure-form" *ngIf="editor.measureManager.isSetted">
      <input type="text" [(ngModel)]="measureUnit1"/>
      <input type="text" [(ngModel)]="measureUnit2"/>
      <select (change)="measureSystem = $event.target.value">
        <option value="imperial">Ipr</option>
        <option value="metric">Mtr</option>
      </select>
      <button
        type="button"
        *ngIf="editor.measureManager.isSelected"
        (click)="editor.measureManager.confirmScale(measureSystem, (+measureUnit1 * (measureSystem === 'metric' ? 100 : 12)) + +measureUnit2)"
      >
        Ok
      </button>
    </div>

    <!-- <div class="measure-action" *ngIf="!editor.measureManager.isSetted">
      <button type="button" (click)="editor.measureManager.setScale()">Set Unit</button>
    </div> -->
  </div>
</div>

<!-- -->

<div class="catalog-container" *ngIf="editor.viewManager.editorMode === 0">
  <div class="catalog--item" *ngFor="let item of catalog" (click)="editor.entityManager.addEntity(item)">
    <div class="catalog--image">
      <img width="60%" [src]="item.preview" [alt]="item.name"/>
    </div>
    <div class="catalog--label">{{item.name}}</div>
  </div>
</div>

<!-- -->

<div class="editor-container" #editorContainer>
  <div class="zoom-control">
    <button
      class="btn btn--zoom"
      (click)="editor.viewManager.zoomIn()"
    >
      <mat-icon [svgIcon]="'roomplanner-zoom-in'" class="secondary-text"></mat-icon>
    </button>
    <div class="divider"></div>
    <button
      class="btn btn--zoom"
      (click)="editor.viewManager.zoomOut()"
    >
      <mat-icon [svgIcon]="'roomplanner-zoom-out'" class="secondary-text"></mat-icon>
    </button>
  </div>
</div>
