:host {
  width: calc(100vw - 51px);
  height: calc(100vh - 96px);
  overflow: hidden;
}

/* */

.measure-container {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 1;
  z-index: 1000;

  .measure-info {
    border-radius: 4px;
    background-color: #FF8080;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .measure-value {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    margin-top: 2px;
  }

  .measure-form {
    padding: 4px;

    input {
      width: 32px;
      border: 0;
      border-radius: 4px;
      text-align: center;
      padding: 4px 0;
      margin-right: 8px;
    }

    select {
      border: 0;
      border-radius: 4px;
      text-align: center;
      padding: 3px 6px;
    }

    button {
      border: 0;
      border-radius: 4px;
      text-align: center;
      padding: 4px 8px;
      margin-left: 8px;
      color: #ffffff;
      background: #C94F4F;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .measure-action {
    button {
      padding: 8px 20px;
      background: transparent;
      color: #ffffff;
      border: 0;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.catalog-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 157px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;

  .catalog--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 21px 0;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    .catalog--image {
      width: 100px;
      height: 90px;
      overflow: hidden;
      border: 1px solid #A8BAC3;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .catalog--label {
      margin-top: 4px;
      text-align: center;
    }
  }
}

.editor-container {
  width: 100%;
  height: 100%;

  .zoom-control{
    width: 40px;
    height: 80px;
    padding: 7px 0;
    border-radius: 4px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    position: absolute;
    left: 20px;
    bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn--zoom{
    border: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .divider{
    height: 1px;
    width: 40px;
    border: 1px solid #818181;
    opacity: 0.15;
    margin: 5px 0;
  }
}
