

<form #form="ngForm" class="k-form" *ngIf="endpoint" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsOptions" class="label-top">Options </label>
	 <input [readonly]="false"
            #statusDHCPParamsOptions
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.options"
            name="status.DHCPParams.options"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsHostName" class="label-top">HostName </label>
	 <input [readonly]="false"
            #statusDHCPParamsHostName
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.hostName"
            name="status.DHCPParams.hostName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsClientIdentifier" class="label-top">ClientIdentifier </label>
	 <input [readonly]="false"
            #statusDHCPParamsClientIdentifier
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.clientIdentifier"
            name="status.DHCPParams.clientIdentifier"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsClassIdentifier" class="label-top">ClassIdentifier </label>
	 <input [readonly]="false"
            #statusDHCPParamsClassIdentifier
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.classIdentifier"
            name="status.DHCPParams.classIdentifier"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsUserClassId" class="label-top">UserClassId </label>
	 <input [readonly]="false"
            #statusDHCPParamsUserClassId
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.userClassId"
            name="status.DHCPParams.userClassId"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsVendorClass" class="label-top">VendorClass </label>
	 <input [readonly]="false"
            #statusDHCPParamsVendorClass
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.vendorClass"
            name="status.DHCPParams.vendorClass"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDHCPParamsClientFQDN" class="label-top">ClientFQDN </label>
	 <input [readonly]="false"
            #statusDHCPParamsClientFQDN
            kendoTextBox
            [(ngModel)]="endpoint?.status.DHCPParams.clientFQDN"
            name="status.DHCPParams.clientFQDN"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusLastDhcpTimeStamp" class="label-top">End Time </label>
	 <input [readonly]="true"
            #statusLastDhcpTimeStamp
            kendoTextBox
            [ngModel]="getendpointend_time_status_lastdhcptimestamp()" (ngModelChange)="endpoint?.status.lastDhcpTimeStamp = $event"
            name="status.lastDhcpTimeStamp"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDhcpTimeDiff" class="label-top">Time Taken in ms </label>
	 <input [readonly]="true"
            #statusDhcpTimeDiff
            kendoTextBox type="number"
            [(ngModel)]="endpoint?.status.dhcpTimeDiff"
            name="status.dhcpTimeDiff"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
