<kendo-dialog-titlebar>
  <div style="font-size: 18px; line-height: 1.3em;"><span class="k-i-warning k-icon icon-normal"></span>Warning</div>
</kendo-dialog-titlebar>
<div class="container">
  <ng-container>Are you sure to delete</ng-container>
  <ng-container *ngFor="let name of names; last as isLast"
  > "{{ name }}"<ng-container *ngIf="!isLast">,</ng-container></ng-container
  ><ng-container>?</ng-container>
</div>
<kendo-dialog-actions class="no-border kendo-actions-container">
  <button kendoButton class="btn bulk-actions cancel" (click)="onCancelAction()">No</button>
  <button kendoButton class="btn btn-primary bulk-actions save" (click)="onConfirmAction()" [primary]="true">Yes</button>
</kendo-dialog-actions>
