<kendo-contextmenu
  #contextMenu
  class="tenant-location-context-menu"
  [target]="target"
  [alignToAnchor]="true"
  [anchorAlign]="{ horizontal: 'right', vertical: 'top' }"
  showOn="click"
  (open)="contextMenu.hide()"
  (select)="onSelectMenuItem($event)"
>
  <kendo-menu-item text="Add" *ngIf="!addButtonHidden">
    <ng-template kendoMenuItemTemplate>
      <div class="menu-item">
        <span class="k-icon k-i-plus"></span>
        {{ addButtonTitle }}
      </div>
    </ng-template>
  </kendo-menu-item>
  <kendo-menu-item text="Edit">
    <ng-template kendoMenuItemTemplate>
      <div class="menu-item">
        <span class="k-icon k-i-edit"></span>
        {{ editButtonTitle }}
      </div>
    </ng-template>
  </kendo-menu-item>
  <kendo-menu-item text="Delete">
    <ng-template kendoMenuItemTemplate>
      <div class="menu-item">
        <span class="k-icon k-i-delete"></span>
        {{ deleteButtonTitle }}
      </div>
    </ng-template>
  </kendo-menu-item>
</kendo-contextmenu>
