<div class="breadcrumb-action-menu">
  <button mat-icon-button
    (click)="onUploadFile()" 
    class="dashboard-menu-item icon-button"
    [class]="selectedAction ==='UPLOAD' ? 'selected' : ''"
  >
    <mat-icon matTooltip="Upload" [svgIcon]="'file-upload'"></mat-icon>
  </button>
  <button mat-icon-button
    (click)="onDownloadFile()" 
    class="dashboard-menu-item icon-button"
    [disabled]="!toolbarState.canDownload"
    [class]="selectedAction ==='DOWNLOAD' ? 'selected' : ''"
  >
    <mat-icon matTooltip="Download" [svgIcon]="'file-download'"></mat-icon>
  </button>
  <button mat-icon-button
    (click)="onRefresh()" 
    class="dashboard-menu-item icon-button"
    [class]="selectedAction ==='REFRESH' ? 'selected' : ''"
  >
    <mat-icon matTooltip="Refresh" [svgIcon]="'file-refresh'"></mat-icon>
  </button>
  <button mat-icon-button
    class="dashboard-menu-item icon-button btn-compare"
    [disabled]="!toolbarState.canDiff"
    (click)="onDiff()"
    [class]="selectedAction ==='COMPARE' ? 'selected' : ''"
  >
    <mat-icon matTooltip="Compare" [svgIcon]="'file-compare'"></mat-icon>
  </button>
  <button
    mat-icon-button
    class="dashboard-menu-item icon-button aaaaaaaa"
    mat-icon-button 
    [matMenuTriggerFor]="menu"
    (menuOpened)="onOthersMenuOpened()"
    (menuClosed)="onOthersMenuClosed()"
    [class]="selectedAction ==='OTHERS' ? 'selected' : ''"
  >
    <mat-icon matTooltip="Operations" [svgIcon]="'file-settings'"></mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="file-menu">
    <button (click)="onCreateNewFolder()" mat-menu-item>
      <mat-icon>create_new_folder</mat-icon>
      <span>New Folder</span>
    </button>
    <button       
      [disabled]="!toolbarState.canCopyOrCut"
      (click)="onCopy()" 
      mat-menu-item
    >
      <mat-icon>file_copy</mat-icon>
      <span>Copy</span>
    </button>
    <button       
      [disabled]="!toolbarState.canCopyOrCut"
      (click)="onCut()" 
      mat-menu-item
    >
      <mat-icon><span class="k-icon k-i-cut"></span></mat-icon>
      <span>Cut</span>
    </button>
    <button       
      [disabled]="!toolbarState.canPaste"
      (click)="onPaste()" 
      mat-menu-item
    >
      <mat-icon><span class="k-icon k-i-paste"></span></mat-icon>
      <span>Paste</span>
  </button>
  <button       
    [disabled]="!toolbarState.canDelete"
    (click)="onDeleteItems()"
    mat-menu-item
  >
    <mat-icon><span class="k-icon k-i-delete"></span></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
  <!-- <kendo-toolbar>
    <kendo-toolbar-button
      look="bare"
      [text]="'New'"
      iconClass="zmdi zmdi-folder mr-8"
      (click)="onCreateNewFolder()"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Upload'"
      iconClass="zmdi zmdi-upload mr-8"
      (click)="onUploadFile()"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Refresh'"
      iconClass="zmdi zmdi-refresh-alt mr-8"
      (click)="onRefresh()"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Cut'"
      iconClass="zmdi zmdi-scissors mr-8"
      [disabled]="!toolbarState.canCopyOrCut"
      (click)="onCut()"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Copy'"
      iconClass="zmdi zmdi-copy mr-8"
      [disabled]="!toolbarState.canCopyOrCut"
      (click)="onCopy()"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Paste'"
      iconClass="zmdi zmdi-file-text mr-8"
      [disabled]="!toolbarState.canPaste"
      (click)="onPaste()"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Delete'"
      iconClass="zmdi zmdi-delete mr-8"
      (click)="onDeleteItems()"
      [disabled]="!toolbarState.canDelete"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Download'"
      iconClass="zmdi zmdi-download mr-8"
      (click)="onDownloadFile()"
      [disabled]="!toolbarState.canDownload"
    ></kendo-toolbar-button>
    <kendo-toolbar-button
      look="bare"
      [text]="'Compare'"
      iconClass="zmdi zmdi-flip-to-front mr-8"
      [disabled]="!toolbarState.canDiff"
      (click)="onDiff()"
    ></kendo-toolbar-button>

    <app-file-manager-toolbar-selected-rows
      *ngIf="selectedGridItems.length > 0"
      [selectedFiles]="selectedGridItems"
      (resetSelected)="onResetSelectedFiles($event)"
    ></app-file-manager-toolbar-selected-rows>
  </kendo-toolbar> -->
</div>
