<div fxLayout="column">
  <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
    <shared-table-header-widget
      class="w-100-p"
      [isContolPanel]="true"
      [isMenuDisabled]="true"
      (filterChanged)="onFilterChanged($event)"
      (pageSizeChanged)="onPageSizeChanged($event)"
    >
      <span title>{{ title }}</span>
    </shared-table-header-widget>
  </div>
  <div content class="gridster-item-content table-wrapper">
    <kendo-grid
      [data]="gridView"
      [pageSize]="pageSize"
      [skip]="skip"
      class="no-select"
      [selectable]="selectableSettings"
      [pageable]="true"
      [reorderable]="true" 
      [resizable]="true" 
      [groupable]="false"
      [sortable]="sortableSettings"
      [sort]="sort"
      kendoGridSelectBy="name"
      [selectedKeys]="mySelection"
      [loading]="isLoading"
      (pageChange)="onPageChange($event)"
      (selectionChange)="onRowSelected($event)"
      (sortChange)="onSortChange($event)"
      (dblclick)="onItemDbclick($event)"
    >
      <kendo-grid-checkbox-column width="30"></kendo-grid-checkbox-column>
      <kendo-grid-column field="name" title="Name">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [class.file-download-failed]="dataItem.downloadStatus === FileDownloadStatus.DownloadFailed">
            <span class="k-icon" [ngClass]="getIconClass(dataItem)"></span>
            {{ dataItem.name }}
            <span class="k-icon d-inline-flex" *ngIf="dataItem.downloadStatus === FileDownloadStatus.Downloading" title="File is downloading...">
              <mat-spinner [diameter]="15"></mat-spinner>
            </span>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="location" title="Location" width="120"></kendo-grid-column>
      <kendo-grid-column
        field="attributes.vendor"
        title="Vendor"
        [hidden]="!gridViewSettings.showVendorColumn"
      ></kendo-grid-column>
      <kendo-grid-column
        field="attributes.version"
        title="Version"
        [hidden]="!gridViewSettings.showVendorColumn"
      ></kendo-grid-column>
      <kendo-grid-column
        field="attributes.args"
        title="Attributes"
        [hidden]="!gridViewSettings.showArgsColumn"
      ></kendo-grid-column>
      <kendo-grid-column field="dateModified" title="Date modified" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.dateModified | date: dataTimeFormat }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="size" title="Size" width="130">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.size | fileSize }}
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
