@mixin fuse-shortcuts-2-theme($theme) {

    $background: map-get($theme, background);

    #fuse-shortcuts-2 {

        &.show-mobile-panel {
            background-color: map-get($background, background);
        }
    }
}
