
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="IfInterfacespecBaseRealName" title="Interface" width="230" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.IfInterfacespecBaseRealName}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.IfInterfacespecBaseRealName"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacespecEnabled" title="Enabled">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.IfInterfacespecEnabled"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.IfInterfacespecEnabled" />
        </ng-template>
    </kendo-grid-column>

        <kendo-grid-column field="IfInterfacestatusOperStatus" title="Oper Status" width="120" >
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'TunnelConnecting'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'TunnelConnected'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'TunnelInactive'" class="badge badge-unknown">Inactive</span>
                <span *ngIf="(dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'unknown') || (!dataItem.IfInterfacestatusOperStatus)" class="badge badge-unknown">Unknown</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'REJECTED'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'DECLINED'" class="badge badge-danger">Failed</span>

                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'alert'"><img class="enum-icon" src="assets/icons/faults-events/Alert.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                <span *ngIf="dataItem.IfInterfacestatusOperStatus == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>


            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
                let-isNew="isNew">
                {{formGroup.controls.IfInterfacestatusOperStatus.value}}
            </ng-template>
        </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusPoeEnabled" title="PoE">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.IfInterfacestatusPoeEnabled"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [formControl]="formGroup.controls.IfInterfacestatusPoeEnabled" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacespecEthernetAutoNegotiate" title="AutoNeg">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.IfInterfacespecEthernetAutoNegotiate"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.IfInterfacespecEthernetAutoNegotiate" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacespecEthernetPortSpeed" title="Speed" width="120" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of speed_spec_ethernet_portspeed_enum"> 
                <ng-container *ngIf="item.value===dataItem.IfInterfacespecEthernetPortSpeed"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="IfInterfacespecEthernetPortSpeed"
            [(ngModel)]="formGroup.controls.IfInterfacespecEthernetPortSpeed.value"
            [data]="speed_spec_ethernet_portspeed_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusEthernetPortSpeed" title="Oper Speed" width="120" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.IfInterfacestatusEthernetPortSpeed}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.IfInterfacestatusEthernetPortSpeed.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacespecEthernetDuplexMode" title="Duplex" width="120" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of duplex_spec_ethernet_duplexmode_enum"> 
                <ng-container *ngIf="item.value===dataItem.IfInterfacespecEthernetDuplexMode"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="IfInterfacespecEthernetDuplexMode"
            [(ngModel)]="formGroup.controls.IfInterfacespecEthernetDuplexMode.value"
            [data]="duplex_spec_ethernet_duplexmode_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusEthernetDuplexMode" title="Oper Duplex" width="120" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.IfInterfacestatusEthernetDuplexMode}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.IfInterfacestatusEthernetDuplexMode.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusEthernetSwitchedVlanInterfaceMode" title="Mode" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.IfInterfacestatusEthernetSwitchedVlanInterfaceMode}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.IfInterfacestatusEthernetSwitchedVlanInterfaceMode.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusEthernetSwitchedVlanTrunkVlans" title="VLANs" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.IfInterfacestatusEthernetSwitchedVlanTrunkVlans}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.IfInterfacestatusEthernetSwitchedVlanTrunkVlans.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusRemoteDevice" title="Peer Device" >
        <ng-template kendoGridCellTemplate let-dataItem>
            <a style="color:#039be5" *ngIf="dataItem.IfInterfacestatusRemoteDevice"
             href="{{objectRefToUrl(dataItem.IfInterfacestatusRemoteDevice)}}"
             (click)="loadRefLink(dataItem.IfInterfacestatusRemoteDevice)">
	         {{dataValueAccessor(dataItem.IfInterfacestatusRemoteDevice, DeviceDataSource)}}
            </a>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup" let-isNew="isNew">
		<kendo-dropdownlist matTooltip="Peer Device" [data]="DeviceDataSource"
                        [textField]="'name'" [valueField]="'value'" [(ngModel)]="selectedIfInterfacestatusRemoteDevice"
			[popupSettings]="{ popupClass: 'popup-page-dropdown' }"
			(valueChange)="onIfInterfacestatusRemoteDeviceValueChange($event)" >
                </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="IfInterfacestatusRemoteIntf" title="Peer Port" width="230" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.IfInterfacestatusRemoteIntf}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.IfInterfacestatusRemoteIntf.value}}
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="ifinterfaces.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="ifinterfaces.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
