<div *ngIf="geoData" fxFlex fxLayoutAlign="start start">
    <agm-map (mapReady)="mapReady($event)" [fitBounds]="true" [mapTypeId]="location.mapType" [zoom]="location.zoom">
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
            (markerDblClick)="onDbClick($event)" (markerClick)="onMarkerClick($event)"
            (mouseOver)="onMouseOverMaker(infoWindow, $event)" (mouseOut)="onMouseOutMarker(infoWindow, $event)"
            [agmFitBounds]="true" [markerDraggable]="false">
            <agm-info-window [disableAutoPan]="false" #infoWindow>
                <div class="info" style="text-align: center;">
                    <p class="address">
                        {{marker.address}}
                    </p>
                    <p class="location">
                        {{marker.location}}
                    </p>
                </div>

            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
