:host ::ng-deep{

    .content {
        max-width: 960px;
    }

    agm-map {
        width : 100%;
        height: calc(100vh - 122px);
    }

    .gm-ui-hover-effect {
        display: none !important;
    }

    .gm-style-iw+div {
        display: none;
    }

    // hide div

    .gm-style-iw+div+img {
        display: none;
    }

    // hide img 
}
