<mat-spinner [diameter] = "50" *ngIf="pending"></mat-spinner>
<div echarts [options]="options" class="echart"  (chartLegendSelectChanged)="onChartLegendSelected($event, 'chartClick')"  (chartInit)="onChartInit($event)"></div>
