

<form #form="ngForm" class="k-form" *ngIf="platformcomponent" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureInstant" class="label-top">Temperature Instant </label>
	 <input [readonly]="true"
            #statusTemperatureInstant
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.instant"
            name="status.temperature.instant"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureAvg" class="label-top">Temperature Average </label>
	 <input [readonly]="true"
            #statusTemperatureAvg
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.avg"
            name="status.temperature.avg"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureMin" class="label-top">Temperature Minimum </label>
	 <input [readonly]="true"
            #statusTemperatureMin
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.min"
            name="status.temperature.min"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureMax" class="label-top">Temperature Maximum </label>
	 <input [readonly]="true"
            #statusTemperatureMax
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.max"
            name="status.temperature.max"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureInterval" class="label-top">Temperature Interval </label>
	 <input [readonly]="true"
            #statusTemperatureInterval
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.interval"
            name="status.temperature.interval"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureMinTime" class="label-top">Temperature Minimum Time </label>
	 <input [readonly]="true"
            #statusTemperatureMinTime
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.minTime"
            name="status.temperature.minTime"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureMaxTime" class="label-top">Temperature Maximum Time </label>
	 <input [readonly]="true"
            #statusTemperatureMaxTime
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.maxTime"
            name="status.temperature.maxTime"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusTemperatureAlarmStatus">Temperature Alarm Status </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.temperature.alarmStatus" [(ngModel)]="platformcomponent.status.temperature.alarmStatus" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureAlarmThreshold" class="label-top">Temperature Alarm Threshold </label>
	 <input [readonly]="true"
            #statusTemperatureAlarmThreshold
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.temperature.alarmThreshold"
            name="status.temperature.alarmThreshold"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusTemperatureAlarmSeverity" class="label-top">Temperature Alarm Severity </label>
	 <input [readonly]="true"
            #statusTemperatureAlarmSeverity
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.temperature.alarmSeverity"
            name="status.temperature.alarmSeverity"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
