<gridster fuseNavigationMenuGlidster id="details-grid" name="details-grid" [options]="options">
    <gridster-item [item]="item1">
        <inventory-server-properties></inventory-server-properties>
    </gridster-item>

    <gridster-item [item]="item2">
        <inventory-server-properties></inventory-server-properties>
    </gridster-item>

    <gridster-item [item]="item3">

    </gridster-item>
</gridster>
