<div class="location-menu-wrapper">
<!--    <button [disabled]="! isSelected" mat-icon-button (click)="showAll()">-->
<!--        <mat-icon>flip</mat-icon>-->
<!--    </button>-->
<!--    <button [disabled]="! isSelected" mat-icon-button (click)="onAdd()">-->
<!--        <mat-icon>add</mat-icon>-->
<!--    </button>-->
<!--    <button [disabled]="! isSelected" disabled mat-icon-button (click)="onEdit()">-->
<!--        <mat-icon>edit</mat-icon>-->
<!--    </button>-->
<!--    <button [disabled]="! isSelected" disabled mat-icon-button (click)="onDelete()">-->
<!--        <mat-icon>delete</mat-icon>-->
<!--    </button>-->

  <!-- <button kendoButton class="bulk-actions cancel" [icon]="'close-circle'" (click)="onCancel()">Cancel</button>
  <button kendoButton class="bulk-actions save" [icon]="'save'" [disabled]="!changesExist" (click)="onSave()">Save</button> -->
</div>

<div kendoDialogContainer></div>
