<!-- <h1 mat-dialog-title>Labels</h1> -->
<div
  class="label-content kendo-dialog-content"
  [style.height.px]="gridsterStyleHeight"
>
  <gridster
    fuseNavigationMenuGlidster
    id="labels-grid"
    name="labels-grid"
    [options]="options"
  >
    <gridster-item
      [item]="item"
      *ngFor="let item of items; let index = index"
      [ngSwitch]="item.reportType"
    >
      <ng-container *ngSwitchCase="ItemType.LABELS">
        <div class="table" fxLayout="column">
          <div
            class="table-title"
            fxLayout="column"
            fxLayoutAlign="center start"
          >
            <shared-table-header-widget
              class="w-100-p"
              #tableHeader
              [item]="item"
              [index]="0"
              [isContolPanel]="true"
              [resizeble]="labelList.clientHeight"
            >
              <span title>Labels</span>
              <div menuItems>
                <button (click)="labelList.onExportPDFHandler()" mat-menu-item>
                  <span
                    class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"
                  ></span>
                  <span>Export to PDF</span>
                </button>
                <button
                  (click)="labelList.onExportExcelHandler()"
                  mat-menu-item
                >
                  <span
                    class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"
                  ></span>
                  <span>Export to Excel</span>
                </button>
                <button mat-menu-item (click)="changeGridsterState(item)">
                  <ng-container
                    *ngIf="item?.resizeEnabled; else lockedTemplate"
                  >
                    <mat-icon>lock_open</mat-icon>
                    <span>Lock Resize/Position</span>
                  </ng-container>
                  <ng-template #lockedTemplate>
                    <mat-icon>lock</mat-icon>
                    <span>Unlock Resize/Position</span>
                  </ng-template>
                </button>
                <button mat-menu-item (click)="labelList.onGroupable()">
                  <ng-container
                    *ngIf="labelList.groupable; else lockedDragTemplate"
                  >
                    <mat-icon>highlight_off</mat-icon>
                    <span>Disable group by column</span>
                  </ng-container>
                  <ng-template #lockedDragTemplate>
                    <mat-icon>group_work</mat-icon>
                    <span>Enable group by column</span>
                  </ng-template>
                </button>
              </div>
            </shared-table-header-widget>
          </div>
          <div content class="gridster-item-content table-wrapper">
            <label-table
              #labelList
              [labels]="data.label"
              (dataChanged)="changeData($event)"
              (setRows)="setHeightGridster(index, item, $event)"
              [pageSize]="tableHeader.pageSize.value"
            ></label-table>
          </div>
        </div>
      </ng-container>
    </gridster-item>
  </gridster>
</div>
<kendo-dialog-actions class="no-border kendo-actions-container">
  <button kendoButton (click)="onCancelBtnClicked()" [icon]="'close-circle'" class="btn bulk-actions cancel">
    Cancel
  </button>
  <button kendoButton (click)="onSaveBtnClicked()" [icon]="'save'" class="btn btn-primary bulk-actions save">
    Save
  </button>
</kendo-dialog-actions>
