.topology-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item {
  padding: 0px 15px;
}

ng-multiselect-dropdown {
  min-width: 320px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.void-space {
  width: 25%;
}

.select-view-dropdown {
  min-width: 150px;
  border-radius: 0px !important;
  margin-top: 5px;
  font-size: 14px !important;
}

.fit-to-content-item {
  margin-right: 20px;
  line-height: 26px;
}

.fit-to-content-checkbox {
  color: #039be5;
  font-family: IBM Plex Mono, sans-serif;
  vertical-align: sub;
}
