<div class="topology-menu-wrapper">
  <!-- <div class="item void-space"></div>
  <div class="item fit-to-content-item">
    <mat-checkbox
      class="fit-to-content-checkbox"
      [(ngModel)]="_breadcrumbService.isFitToScreen"
      (change)="onFitToScreenChange()"
      >Fit to screen</mat-checkbox
    >
  </div>
  <div class="item">
    <kendo-dropdownlist
      matTooltip="Select a view"
      class="select-view-dropdown"
      [(ngModel)]="_breadcrumbService.viewDropdown.selectedItem"
      [data]="_breadcrumbService.viewDropdown.dropdownList"
      textField="item_text"
      valueField="item_id"
      [popupSettings]="{ width: 'auto' }"
      (valueChange)="onViewItemChanged($event)"
    >
    </kendo-dropdownlist>
  </div>
  <div class="item">
    <ng-multiselect-dropdown
      [placeholder]="'Select Properties'"
      [settings]="_breadcrumbService.propertyDropdown.dropdownSettings"
      [data]="_breadcrumbService.propertyDropdown.dropdownList"
      (onSelect)="onPropertyItemSelect($event)"
      (onSelectAll)="onPropertySelectAll($event)"
      (onDeSelectAll)="onPropertyDeSelectAll($event)"
      (onDeSelect)="onPropertyItemDeSelect($event)"
      [(ngModel)]="_breadcrumbService.propertyDropdown.selectedItems"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="item">
    <ng-multiselect-dropdown
      [placeholder]="'Select Instances'"
      [settings]="_breadcrumbService.instanceDropdown.dropdownSettings"
      [data]="_breadcrumbService.instanceDropdown.dropdownList"
      (onSelect)="onInstanceItemSelect($event)"
      (onSelectAll)="onInstanceSelectAll($event)"
      (onDeSelectAll)="onInstanceDeSelectAll($event)"
      (onDeSelect)="onInstanceItemDeSelect($event)"
      [(ngModel)]="_breadcrumbService.instanceDropdown.selectedItems"
    >
    </ng-multiselect-dropdown>
  </div> -->
  <button mat-icon-button
    (click)="onFitToScreenClicked()" 
    class="icon-button"
    [class]="_breadcrumbService.isFitToScreen ? 'selected' : ''"
    matTooltip="Fit to screen" 
  >
    <mat-icon [svgIcon]="'center-on-screen'"></mat-icon>
  </button>
  <button mat-icon-button
    (click)="onViewChangeClicked()" 
    class="icon-button"
    [matTooltip]="tooltipForOrientation" 
  >
    <mat-icon 
      [svgIcon]="_breadcrumbService.viewDropdown.selectedItem && _breadcrumbService.viewDropdown.selectedItem.item_text == 'Left to Right' ? 'left-to-right' : 'top-to-bottom'">
    </mat-icon>
  </button>
</div>
