<div class="divider">
    <div class="filter-items">
        <kendo-chip
            *ngFor="let chip of filterItems"
            [label]="chip?.item.dataItem.keyName ? chip?.item.dataItem.keyName : chip?.item.dataItem.name"
            [removable]="true"
            (remove)="onRemove($event)">
        </kendo-chip>
    </div>
    <div class="filter-clear-wrapper">
        <a class="btn" (click)="removeAllFilterItems()">
            Clear Filters
        </a>
        <!-- <a class="btn-close">
            <mat-icon [svgIcon]="'toolbar-close'" class="s-24 secondary-text ml-12 mr-12"></mat-icon>
          </a> -->
    </div>
</div>
<kendo-treeview class="search-filter"
    [nodes]="data"
    textField="name"
    kendoTreeViewExpandable
    [children]="fetchChildren.bind(this)"
    [hasChildren]="hasChildren"
    kendoTreeViewCheckable
    [(checkedKeys)]="checkedKeys"
    (checkedChange)="handleChecking($event)"
    [kendoTreeViewCheckable]="checkableSettings"
    [(expandedKeys)]="expandedKeys"
    [isChecked]="isChecked"
>
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
        <span [ngClass]='hasChildren(dataItem)? "parent" : "child"'>
            {{dataItem.name}}
        </span>
    </ng-template>
</kendo-treeview>
