
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="AuditstatusTimeStamp" title="TimeStamp" width="300" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.AuditstatusTimeStamp}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.AuditstatusTimeStamp.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AuditstatusAction" title="Action" width="150" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.AuditstatusAction}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.AuditstatusAction.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AuditstatusUserEmail" title="User" width="250" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.AuditstatusUserEmail}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.AuditstatusUserEmail"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AuditstatusDescription" title="Description" width="700" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.AuditstatusDescription}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.AuditstatusDescription.value}}
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="audits.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="audits.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
