

<form #form="ngForm" class="k-form" *ngIf="device" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusRole" class="label-top">Role </label>
	 <input [readonly]="true"
            #statusRole
            kendoTextBox
            [(ngModel)]="device?.status.role"
            name="status.role"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusVendor" class="label-top">Vendor </label>
	 <input [readonly]="true"
            #statusVendor
            kendoTextBox
            [(ngModel)]="device?.status.vendor"
            name="status.vendor"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusModel" class="label-top">Model </label>
	 <input [readonly]="true"
            #statusModel
            kendoTextBox
            [(ngModel)]="device?.status.model"
            name="status.model"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusSerialNo" class="label-top">Serial Number </label>
	 <input [readonly]="true"
            #statusSerialNo
            kendoTextBox
            [(ngModel)]="device?.status.serialNo"
            name="status.serialNo"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusMacAddress" class="label-top">MAC </label>
	 <input [readonly]="true"
            #statusMacAddress
            kendoTextBox
            [(ngModel)]="device?.status.macAddress"
            name="status.macAddress"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusOsVersion" class="label-top">OS Version </label>
	 <input [readonly]="true"
            #statusOsVersion
            kendoTextBox
            [(ngModel)]="device?.status.osVersion"
            name="status.osVersion"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
