:host {
	position: relative;
	display: block;

	::ng-deep {
		.nse-item {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.3s, top 0.3s, left 0.3s, width 0.3s, height 0.3s, opacity 0.3s;

			// :first-child {
			// 	width: 100%;
			// 	height: 100%;
			// }

			&:hover {
				box-shadow: 0px 0px 1px 1px #bbb !important;
			}
		}

		.nse-selected {
			border: 2.5px solid #007bff !important;
			border-radius: 9px;
		}
	}

	.nse-select-area {
		position: absolute;
		bottom: 0;
		left: 0px;
		right: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 130px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		z-index: 99;
		transition: all 0.2s;

		&-buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
		}

		&-button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: rgb(50, 200, 10);
			cursor: pointer;
			opacity: 0.7;
			transition: all 0.3s;
			margin: 0 5px;

			&.nse-active {
				border: 3px solid rgba(255, 255, 255, 0.4);
			}

			&:hover {
				padding-bottom: 10px;
			}
		}
	}
}
