<div class="card-widget" fxLayout="column" fxLayoutAlign="start">
    <div class="card-header" fxFlex="10">
        <h3>{{card.title}}</h3>
    </div>
    <div class="card-content" fxFlex="50"
         fxLayout="row"
         fxLayoutAlign="space-between center">
        <div class="up-value" fxFlex="45"
             fxLayoutAlign="end end"
             fxLayout="row">
            <span>{{upValue}}</span>
            <span class="up-label">up</span>
<!--                        <span class="k-icon k-i-sort-asc-sm k-icon-md"></span>-->
        </div>
        <div class="down-value" fxFlex="45"
             fxLayoutAlign="start end"
             fxLayout="row">
           <span>{{downValue}}</span>
            <span class="down-label">down</span>
<!--                        <span class="k-icon k-i-sort-desc-sm k-icon-md"></span>-->
        </div>
    </div>
</div>
