
<form class="p-16" #form="ngForm" fxLayout="column" fxLayoutAlign="start" *ngIf="initialized" (ngSubmit)="save(form)">
    <mat-form-field fxFlex>
        <input matInput name="name" placeholder="Name:" [(ngModel)]="labelData.metadata.name">
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput name="description" placeholder="description:" [(ngModel)]="labelData.spec.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Values:</mat-label>
        <mat-chip-list #chipList aria-label="Labels">
          <mat-chip *ngFor="let chip of labelData.spec.values;index as idx" [removable]="true" (removed)="remove(chip,idx)">
            {{chip}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="New value..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="12px">
        <button mat-raised-button [disabled]="form.pristine && !didEdit" (submit)=save(form) color="accent">Save</button>
        <button mat-raised-button [disabled]="form.pristine && !didEdit" (click)=load(form) color="submit">Cancel</button>
    </div>
</form>
