
:host {
  padding-bottom: 5px;

  #admitdevice-detail-grid {
    gridster-item {
      background-color: transparent;

      &.shared-chart {
        background-color: #fff !important;
        border-color: rgba(0, 0, 0, 0.12);
        border: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
  }

  .list-in-detail {
    background-color: #ffffff;
    padding: 0 15px;

    .table,
    ::ng-deep .fuse-widget-front,
    ::ng-deep .k-grid,
    ::ng-deep .k-grid-pager {
      border: none;
    }
  }

  .table-title {
    margin-left: -16px;
  }

  gridster-item {
    border-radius: 9px;
  }

  .gridster-item-content {
    height: 100%;
  }

  .shared-chart {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px 30px;
  }

  form-widget {
    overflow-y: auto;
    height: 100%;
    border: 0px solid;
    border-color: rgba(193, 193, 193, 1);
  }

  .switch-details {
    box-shadow: none;
    background: transparent !important;
    color: gray;
    border: none;
  }
}
