<fuse-widget class="widget" fxLayout="column" fxFlex="100">
    <div class="fuse-widget-front">
        <div class="title-bar">
            <div class="h3">
                <ng-content select="[title]"></ng-content>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="overflow-container">
                <ng-content select="[content]"></ng-content>
            </div>
        </div>
    </div>
</fuse-widget>
