fuse-widget {
    display: flex;
    flex-direction: column;
}

/* an arbitrary container of fixed height */
.title-bar {
    height: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* this is the flex container that will take the rest of the height */
.content-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px;
    border: 0px solid;
    border-color: rgba(193,193,193,1);
    /* IMPORTANT: you need this for non-chrome browsers */
}

/* the container for our overflowed content */
.overflow-container {
    flex: 1;
    overflow: hidden;
}
