

<form #form="ngForm" class="k-form" *ngIf="device" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specHostName" class="label-top">Host Name </label>
	 <input [readonly]="false"
            #specHostName
            kendoTextBox
            [(ngModel)]="device?.spec.hostName"
            name="spec.hostName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specIpv4Net" class="label-top">IP </label>
	<div class="device-width-100">
            <kendo-textbox
	     [readonly]="false"
             [(ngModel)]="device?.spec.ipv4Net"
             name="specIpv4Net"
	     class="k-textbox"
	     (keyup)="onValueChanged(form)"
             #specIpv4Net="ngModel"
	     [showSuccessIcon]="false"
             [showErrorIcon]="false"
	     appValidateRules
             [validateRules]="specIpv4NetRules"
            >
	        <ng-template kendoTextBoxSuffixTemplate>
                    <kendo-textbox-separator></kendo-textbox-separator>
                    <div kendoTooltip [tooltipTemplate]="specIpv4NetTooltipTemplate" filter="kendo-icon">
                    <kendo-icon
                        *ngIf="!(!specIpv4Net.errors && specIpv4Net.dirty)"
                        [name]="'info'"
                        [class.k-color-error]="!!specIpv4Net.errors && specIpv4Net.dirty"
                    ></kendo-icon>
                    <kendo-icon
                        *ngIf="!specIpv4Net.errors && specIpv4Net.dirty"
                        [name]="'check-outline'"
                        class="k-color-success"
                    ></kendo-icon>
                    <ng-template #specIpv4NetTooltipTemplate>
                      <ul class="ul-tooltip-info">
                        <li>IP Format: 255.255.255.255 or 255.255.255.255/32</li>
                      </ul>
                    </ng-template>
                  </div>
                </ng-template>
            </kendo-textbox>
            <div class="validation-error" *ngIf="specIpv4Net.errors && specIpv4Net.dirty">
                <div *ngIf="!!specIpv4Net.errors?.Subnet_Format">Invalid format for IP address.</div>
            </div>
	</div>
    </div>
</form>
