
    <gridster fuseNavigationMenuGlidster id="system-grid" name="system-grid" [options]="options">
        <gridster-item [class.shared-chart]="item.reportType === ItemType.CHART" [item]="item" *ngFor="let item of list; let index = index" [ngSwitch]="item.reportType">
            <ng-container *ngSwitchCase="ItemType.SYSTEM_LIST">
                <div class="table" fxLayout="column">
                    <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget 
                            class="w-100-p"
                            #systemTableHeader
                            [item]="item"
                            [index]="index"
                            [isContolPanel]="true"
                            [resizeble]="systemList.clientHeight">
                            <span title>System</span>
                            <div panelItems>
                                <button mat-icon-button (click)="systemList.onAddHandler()">
                                <mat-icon class="button-color-grey">add</mat-icon>
                                </button>
                            </div>
                            <div menuItems>
                                <button (click)="systemTableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="systemTableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button (click)="systemList.onExportPDFHandler()" mat-menu-item>
                                    <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                    <span>Export to PDF</span>
                                </button>
                                <button (click)="systemList.onExportExcelHandler()" mat-menu-item>
                                    <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                    <span>Export to Excel</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                                <button mat-menu-item (click)="systemList.onGroupable()">
                                    <ng-container *ngIf="systemList.groupable; else lockedDragTemplate">
                                        <mat-icon>highlight_off</mat-icon>
                                        <span>Disable group by column</span>
                                    </ng-container>
                                    <ng-template #lockedDragTemplate>
                                        <mat-icon>group_work</mat-icon>
                                        <span>Enable group by column</span>
                                    </ng-template>
                                </button>
                            </div>
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content table-wrapper">
                        <system-list #systemList [searchText]="systemTableHeader.searchText" (setUid)="getUid($event)" (setRows)="setHeightGridster(index, item, $event)" [pageSize]="systemTableHeader.pageSize.value"></system-list>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="ItemType.CHART">
                <shared-chart-header-widget title #widgetHeader [widget]="item" (edit)="chartWidget.editWidget($event)"
                    (gridsterStateChanged)="changeGridsterState(item, false)" (panelJson)="chartWidget.jsonWidget($event, index)"
                    (remove)="chartWidget.removeWidget($event)" (view)="customViewWidget($event)">
                </shared-chart-header-widget>
                <shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async"
                    [interval]="widgetHeader.refreshTimeObs | async">
                </shared-chart-widget>
            </ng-container>
        </gridster-item>
    </gridster>
    
