
:host {
    padding-bottom: 5px;
    #system-grid {
        gridster-item {
            background-color: transparent;

            &.shared-chart {
                background-color: #fff;
                border-color: rgba(0, 0, 0, 0.12);
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }

    .table-title {
	margin-left: -15px;
    }

    gridster {
        margin: 0px auto;
        background: #f4f2f7;
    }


}
