<kendo-dialog-titlebar>
  <div style="font-size: 18px; line-height: 1.3em;">Create New Folder</div>
</kendo-dialog-titlebar>
<div class="container">
  <form #createFolderForm="ngForm" novalidate fxLayout="column" fxLayoutAlign="start">
    <div class="form-group">
      <label for="name">Folder Name: </label>
      <input 
        kendoTextBox
        name="name"
        class="form-control k-textbox"
        [(ngModel)]="name"
        #folderName="ngModel"
        [appUnique]="existingFolderNames"
        [maxlength]="folderNameMaxLength"
        [appAllowedCharacters]="folderNameAllowedCharacters"
        required
      />
      <div class="invalid-feedback" *ngIf="folderName.errors && folderName.dirty">
        <div
          *ngIf="!!folderName.errors?.required"
        >
          Enter a folder name.
        </div>

        <div
          *ngIf="!!folderName.errors?.unique"
        >
          Folder or file with the same name already exists.
        </div>

        <div
          *ngIf="!!folderName.errors?.maxlength"
        >
          Cannot be more then {{ folderNameMaxLength }} characters.
        </div>

        <div *ngIf="!!folderName.errors?.allowedCharacters">
          <ng-container
          >
            Cannot contain any of the following characters:
          </ng-container>
          {{ name | notIncludedCharacters: folderNameAllowedCharacters | join: ', ' }}
        </div>
      </div>
    </div>
  </form>
</div>
<kendo-dialog-actions class="no-border kendo-actions-container">
  <button kendoButton class="btn bulk-actions cancel" (click)="onCancelAction()">Cancel</button>
  <button 
    kendoButton
    class="btn btn-primary bulk-actions save"
    (click)="onCreateFolder()"
    [primary]="true"
    [disabled]="createFolderForm.invalid || state.isLoading"
  >
    Create
  </button>
</kendo-dialog-actions>
