.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: start;
}

.form-control {
  display: block;
  width: 100%;
  height: 36px;
}

.invalid-feedback {
  font-size: 80%;
  font-weight: 400;
  color: red;
  padding: 0 4px 4px 4px;
}
