@font-face {
    font-family: IBMPlexMono;
    src: local(IBMPlexMono),
        url(./ibm/IBMPlexMono-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
