


<div kendoDialogContainer></div>
<gridster fuseNavigationMenuGlidster *ngIf="device" id="device-grid" name="device-grid" [options]="options">

    <ng-container *ngFor="let item of activeDashboards; let index = index" [ngSwitch]="item.reportType">

        <ng-container *ngSwitchCase="itemType.LABELS">
            <gridster-item [item]="item" *ngIf="labels && labels.length > 0">
                <labels-grid-item [labels]="labels"></labels-grid-item>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_INTERFACE_CONFIG_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Interface Configuration</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-interface_config
			            
			             [ifinterface]="ifinterface" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-interface_config>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_PLATFORM_COMPONENT_DETAILS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Platform Component Details</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-platform_component_details
			            
			             [platformcomponent]="platformcomponent" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-platform_component_details>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.IFINTERFACE_DETAILCARD">
            <gridster-item [item]="item" class="list-in-detail">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Interfaces</span>
                            <div menuItems>
				<button (click)="onAddHandler('IfInterface')" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Add</span>
				</button>
				<button (click)="IfInterfaceList.editSelectedItem()" mat-menu-item>
				    <mat-icon>edit</mat-icon>
				    <span>Edit</span>
				</button>
				<button (click)="IfInterfaceList.removeSelectedItem()" mat-menu-item>
				    <mat-icon>delete</mat-icon>
				    <span>Delete</span>
				</button>
                            </div>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <ifinterface-list #IfInterfaceList [pageSize]=item.pageSize (setRows)="setHeightGridster(index, item, $event)"
			            
			             [wsFilter]="IfInterfaceWSFilter()"
			             [ifinterface]="ifinterface" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></ifinterface-list>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.PLATFORMCOMPONENT_DETAILCARD">
            <gridster-item [item]="item" class="list-in-detail">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Platform Components</span>
                            <div menuItems>
				<button (click)="onAddHandler('PlatformComponent')" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Add</span>
				</button>
				<button (click)="PlatformComponentList.editSelectedItem()" mat-menu-item>
				    <mat-icon>edit</mat-icon>
				    <span>Edit</span>
				</button>
				<button (click)="PlatformComponentList.removeSelectedItem()" mat-menu-item>
				    <mat-icon>delete</mat-icon>
				    <span>Delete</span>
				</button>
                            </div>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <platformcomponent-list #PlatformComponentList [pageSize]=item.pageSize (setRows)="setHeightGridster(index, item, $event)"
			            
			             [wsFilter]="PlatformComponentWSFilter()"
			             [platformcomponent]="platformcomponent" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></platformcomponent-list>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="itemType.SWITCH_DETAIL">
            <gridster-item class="switch-details" [item]="item">
                <kd-switch-details (rowsChange)="switchDetailRowsChanged($event)"></kd-switch-details>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_ETHERNET_CONFIG_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Ethernet Configuration</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-ethernet_config
			            
			             [ifinterface]="ifinterface" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-ethernet_config>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_TEMPERATURE_DETAILS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Temperature Details</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-temperature_details
			            
			             [platformcomponent]="platformcomponent" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-temperature_details>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_IP_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>IP</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-ip
			            
			             [device]="device" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-ip>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_GENERAL_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>General</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-general
			            
			             [device]="device" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-general>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_MEMORY_DETAILS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Memory Details</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-memory_details
			            
			             [platformcomponent]="platformcomponent" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-memory_details>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_NEIGHBOR_DISCOVERY_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Neighbor Discovery</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-neighbor_discovery
			            
			             [ifinterface]="ifinterface" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-neighbor_discovery>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_LAYER2_STATUS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Layer2 Status</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-layer2_status
			            
			             [ifinterface]="ifinterface" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-layer2_status>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_POWER_DETAILS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Power Details</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-power_details
			            
			             [platformcomponent]="platformcomponent" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-power_details>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_STATUS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Status</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <device-status
			            
			             [device]="device" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></device-status>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.DEVICE_DEVICESVICONFIG_DETAILCARD">
            <gridster-item [item]="item" class="list-in-detail">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span class="chart-title" title>SVI</span>
                            <div menuItems>
				<button (click)="DevicesviconfigStructListComponent.onAddHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Add</span>
				</button>
				<button (click)="DevicesviconfigStructListComponent.onInsertBeforeHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Insert Before</span>
				</button>
				<button (click)="DevicesviconfigStructListComponent.onInsertAfterHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Insert After</span>
				</button>
				<button (click)="DevicesviconfigStructListComponent.editSelectedItem()" mat-menu-item>
				    <mat-icon>edit</mat-icon>
				    <span>Edit</span>
				</button>
				<button (click)="DevicesviconfigStructListComponent.removeSelectedItem()" mat-menu-item>
				    <mat-icon>delete</mat-icon>
				    <span>Delete</span>
				</button>
                            </div>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <devicesviconfig-struct-list #DevicesviconfigStructListComponent [pageSize]=item.pageSize (setRows)="setHeightGridster(index, item, $event)" 
			            
			             [device]="device" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></devicesviconfig-struct-list>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="itemType.CHART">
    	    <gridster-item class="shared-chart" [item]="item">
        	<shared-chart-header-widget title #widgetHeader [widget]="item" (edit)="chartWidget.editWidget($event)"
            	    (gridsterStateChanged)="changeGridsterState(item, false)" (panelJson)="chartWidget.jsonWidget($event, index)"
            	    (remove)="chartWidget.removeWidget($event)" (view)="customViewWidget($event)">
        	</shared-chart-header-widget>
        	<shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async"
            	    [interval]="widgetHeader.refreshTimeObs | async">
        	</shared-chart-widget>
    	    </gridster-item>
    	</ng-container>
    </ng-container>
</gridster>

