<div id="rulesEditorContainer">
  <div class="kendo-table">
    <kendo-grid 
        #grid="kendoGrid" 
        class="noselect rules-kendo"
        [data]="gridView"  
        [groupable]="groupable"
        [group]="groups"
        [pageSize]="pageSize"
        (cellClick)="onCellClick($event)"
        [pageable]="true">
    <kendo-grid-column field="dict" title="Dictionary" width=170>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.dict}}
    </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew" let-rowIndex="rowIndex">
      <kendo-dropdownlist
        [formControl]="formGroup.controls.dict"
        [data]="ruleDicts"
        [value]="dataItem.dict"
        (valueChange)="changeHandler(dataItem, rowIndex)">
      </kendo-dropdownlist>
  </ng-template>
  </kendo-grid-column>
    <kendo-grid-column field="field" title="Category" width=170>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.field}}
    </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew" let-rowIndex="rowIndex">
      <kendo-dropdownlist
        [formControl]="formGroup.controls.field"
        [data]="ruleFields"
        [value]="dataItem.field"
        (valueChange)="changeHandler(dataItem, rowIndex)">
      </kendo-dropdownlist>
  </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="criteria" title="Operations" width=180>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.criteria}}
    </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew" let-rowIndex="rowIndex">
      <kendo-dropdownlist
        [formControl]="formGroup.controls.criteria"
        [data]="ruleCriteria"
        [value]="dataItem.criteria"
        (valueChange)="changeHandler(dataItem, rowIndex)">
      </kendo-dropdownlist>
  </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="values" title="Value">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.values}}
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew" let-rowIndex="rowIndex">
        <div *ngIf="ruleValues.length;then dropdown else text"></div>
        <ng-template #dropdown>
        <kendo-dropdownlist
          [formControl]="formGroup.controls.values"
          [data]="ruleValues"
          textField="text"
          valueField="value"
          valuePrimitive="true"
          [value]="dataItem.values"
          (valueChange)="changeHandler(dataItem, rowIndex)">
        </kendo-dropdownlist>
        </ng-template>
        <ng-template #text>
        <input kendoTextBox
         [formControl]="formGroup.controls.values"
         (change)="changeHandler(dataItem, rowIndex)"/>
        </ng-template>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Description">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.description }}
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-isNew="isNew" let-rowIndex="rowIndex">
        <input kendoTextBox [formControl]="formGroup.controls.description"
        (keyup.enter)="changeHandler(dataItem, rowIndex)" (blur)="changeHandler(dataItem, rowIndex)"/>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Actions">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div class="rules-kendo-actions">
            <button type="button" (click)="addNewRow(dataItem, rowIndex)" class="add-and">+ AND</button>
            <button type="button"
              kendoButton  [icon]="'minus-outline'" look="flat" class="rules-kendo-remove" (click)="removeHandler(dataItem, rowIndex, true)" ></button>
          </div>
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem  let-column="column" let-rowIndex="rowIndex" let-formGroup="formGroup" let-isNew="isNew">
        <div class="rules-kendo-actions">
          <button type="button" (click)="addNewRow(dataItem, rowIndex)" class="add-and">+ AND</button>
          <button type="button"
            kendoButton  [icon]="'minus-outline'" look="flat" class="rules-kendo-remove" (click)="removeHandler(dataItem.value, rowIndex, true)" ></button>
        </div>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" title="id" [hidden]="true">
      <ng-template kendoGridGroupHeaderTemplate let-dataItem>
            <button type="button" (click)="addNewCard()" class="add-or">+ OR</button>
            <button type="button" kendoButton [icon]="'minus-outline'" look="flat" class="rules-kendo-remove" (click)="removeHandler(dataItem.items[0], false)"></button>
    </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridNoRecordsTemplate>
        <div *ngIf="isLoading">Loading...</div>
        <div *ngIf="!isLoading">No records available</div>
    </ng-template>
    <kendo-grid-pdf fileName="endpointsets.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="endpointsets.xlsx"></kendo-grid-excel>
  </kendo-grid>
  </div>
</div>
