#rulesEditorContainer {
  margin: 0 0 0 0;
  padding-bottom: 50px;
  .main-container {
    .card-connection {
      padding: 5px 0;
      color: #8096a0;
      font-weight: bold;
      position: relative;
      > p {
        position: absolute;
        left: -50px;
        background: #8096a0;
        text-align: center;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        width: 40px;
        display: block;
        padding: 7px;
        margin: 0;
        border-radius: 13px;
      }
    }
    .add-new-node {
      margin: 0;
      color: #a8bac3;
      font-weight: bold;
      button {
        background: #039be5 0 0 no-repeat padding-box;
        border-radius: 3px;
        color: #ffffff;
        padding: 7px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

//.rules-card {
//  height: 100%;
//  padding: 20px 15px;
//  background: #f6f7fc 0 0 no-repeat padding-box;
//  box-shadow: 0 3px 6px #00000029;
//  border: 1px dashed #8096A0;
//  border-radius: 5px;
//
//  .rules {
//    //background: #4a4a4a;
//    .rule-connection {
//      //border-top: 1px dashed #76CD57;
//      //border-left: 1px dashed #76CD57;
//      //&:last-child {
//      //  border-bottom: 1px dashed #76CD57;
//      //}
//      padding: 5px 0;
//      > p {
//        background: #76CD57;
//        color: #FFF;
//        font-family: "Poppins", sans-serif;
//        font-size: 12px;
//        width: 40px;
//        display: block;
//        padding: 7px;
//        border-radius: 3px;
//      }
//    }
//    .rule-row {
//      background: #FFFFFF 0 0 no-repeat padding-box;
//      box-shadow: 0 3px 6px #D7E1F4;
//      border-radius: 10px;
//      //background: black;
//      color: #494C57;
//      text-align: center;
//      vertical-align: middle;
//      margin: 15px 0;
//      padding: 15px 20px;
//      .rule-actions {
//        button {
//          color: #FF8080;
//          .k-icon {
//            font-size: 20px;
//          }
//        }
//      }
//    }
//  }
//}

:host ::ng-deep {
  .rules-kendo {
    .k-grouping-header {
      display: none;
    }
    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-edit {
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      color: #039be5;
      width: 32px;
      height: 32px;
      margin-left: 10px;
      .k-icon {
        color: #039be5 !important;
        font-size: 26px !important;
        margin-right: 0;
      }
    }
    &-remove {
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      width: 32px;
      height: 32px;
      margin-left: 10px;
      &:before {
        background: #ff8080;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
      &:hover::before {
        opacity: 0.1;
      }
      .k-icon {
        color: #ff8080 !important;
        font-size: 32px !important;
        margin-right: 0;
      }
    }
  }
  .add-and,
  .add-or {
    white-space: nowrap;
    background: #8096a0 0 0 no-repeat padding-box;
    border-radius: 3px;
    color: #ffffff;
    padding: 7px;
    border: none;
    cursor: pointer;
  }
  .add-and {
    background: #76cd57 0 0 no-repeat padding-box;
    &:disabled {
      background: #76cd576b 0 0 no-repeat padding-box;
    }
  }
}
