<div mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field *ngIf="type =='edit'">
        <mat-label>Select a parent</mat-label>
        <mat-select formControlName="selected" [(ngModel)]="selected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let item of parentList" [value]="item.selfLink">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="show">
        <mat-label>Address</mat-label>
        <input (focus)="onFocus()" formControlName="address" matInput>
    </mat-form-field>
    <mat-form-field *ngIf="!show">
        <mat-label>Address</mat-label>
        <input #addressAuto matInput matGoogleMapsAutocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
            (onLocationSelected)="onLocationSelected($event)">
        <input formControlName="addressAuto" hidden>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input type="number" formControlName="latitude" [readonly]="false" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input type="number" formControlName="longitude" [readonly]="false" matInput>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button [disabled]="(form.value.name.length == 0) || (form.value.address.length ==0)" [mat-dialog-close]="form">Save</button>
</div>
