<div *ngIf="widget" class="view-panel" kendoDialogContainer>
    <gridster fuseNavigationMenuGlidster [options]="options">
        <gridster-item [item]="item1">
            <shared-chart-widget #chartWidget [item]="widget" [widget]="widget" [interval]="interval$ | async"
                [period]="timer$ | async" [refreshTime]="refreshTimer$ | async" (filterChange)="filterChanged($event)" [isViewPanel]="true"
                                 [class.table-widget]="isTableWidget"
                                           >
                <app-view-panel-header #viewHeader [widget]="widget" [item]="item1" (remove)="removeWidget($event)" *ngIf="!isTableWidget">
                    <div menuItemsChart>
                        <button mat-menu-item (click)="editWidget(widget)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <ng-container>
                            <button mat-menu-item (click)="jsonWidget(widget)">
                                <mat-icon>code</mat-icon>
                                <span>Panel Json</span>
                            </button>
                        </ng-container>
                        <button mat-menu-item (click)="changeGridsterState(item1)">
                            <ng-container *ngIf="item1?.resizeEnabled; else lockedTemplate">
                                <mat-icon>lock_open</mat-icon>
                                <span>Lock Resize/Position</span>
                            </ng-container>
                            <ng-template #lockedTemplate>
                                <mat-icon>lock</mat-icon>
                                <span>Unlock Resize/Position</span>
                            </ng-template>
                        </button>
                    </div>
                </app-view-panel-header>

                <app-shared-table-view-header-widget
                    #tableViewHeader
                    *ngIf="isTableWidget"
                    [widget]="widget"
                    [item]="item1"
                    [index]="0"
                    [isControlPanel]="true">
                    <span title>{{widget.title}}</span>
                    <div menuItems>
                        <button mat-menu-item (click)="editWidget(widget)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <ng-container>
                            <button mat-menu-item (click)="jsonWidget(widget)">
                                <mat-icon>code</mat-icon>
                                <span>Panel Json</span>
                            </button>
                        </ng-container>
                        <button mat-menu-item (click)="changeGridsterState(item1)">
                            <ng-container *ngIf="item1?.resizeEnabled; else lockedTemplate">
                                <mat-icon>lock_open</mat-icon>
                                <span>Lock Resize/Position</span>
                            </ng-container>
                            <ng-template #lockedTemplate>
                                <mat-icon>lock</mat-icon>
                                <span>Unlock Resize/Position</span>
                            </ng-template>
                        </button>
                    </div>
                </app-shared-table-view-header-widget>
            </shared-chart-widget>
        </gridster-item>
        <gridster-item [item]="item2" *ngIf="!isTableWidget">
            <div class="table" fxLayout="column">
                <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                    <shared-table-header-widget class="w-100-p" #tableHeader [item]="item2" [index]="0"
                        [isContolPanel]="true">
                        <div menuItems>
                            <button (click)="detailTable.onExportPDFHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to PDF</span>
                            </button>
                            <button (click)="detailTable.onExportExcelHandler()" mat-menu-item>
                                <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                <span>Export to Excel</span>
                            </button>
                            <button mat-menu-item (click)="changeGridsterState(item2)">
                                <ng-container *ngIf="item2?.resizeEnabled; else lockedTemplate">
                                    <mat-icon>lock_open</mat-icon>
                                    <span>Lock Resize/Position</span>
                                </ng-container>
                                <ng-template #lockedTemplate>
                                    <mat-icon>lock</mat-icon>
                                    <span>Unlock Resize/Position</span>
                                </ng-template>
                            </button>
                            <button mat-menu-item (click)="detailTable.onGroupable()">
                                <ng-container *ngIf="detailTable.groupable; else lockedDragTemplate">
                                    <mat-icon>highlight_off</mat-icon>
                                    <span>Disable group by column</span>
                                </ng-container>
                                <ng-template #lockedDragTemplate>
                                    <mat-icon>group_work</mat-icon>
                                    <span>Enable group by column</span>
                                </ng-template>
                            </button>
                        </div>
                    </shared-table-header-widget>
                </div>
                <div content class="gridster-item-content table-wrapper">
                    <app-kendo-table #detailTable [widget]="widget" [refreshTime]="refreshTimer$ | async"
                        [interval]="interval$ | async" [selectedRange]="timer$ | async" [filter]="filter"
                        [searchText]="tableHeader.searchText"
                        (setRows)="setHeightGridster($event, item2, tableHeader.height, item1)"
                        [pageSize]="tableHeader.pageSize.value">
                    </app-kendo-table>
                </div>
            </div>
        </gridster-item>
    </gridster>
</div>
