:host {
    overflow: auto;
    border-bottom: 1px solid;
    box-sizing: border-box;
    padding-bottom: 5px;

    .view-panel {
        width: 98%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex: auto;

        .chart-wrapper {
            border: 1px solid #999;
            margin-bottom: 10px;
            flex: 1 0 auto;
            width: 100%;
            height: 100%;
        }
    }
}

.gridster-item-content {
    width: 100%;
    height: calc(100% - 80px) !important;
}
:host ::ng-deep {
    gridster-item {
        padding: 15px 30px;
    }
}
