// test
:host {
    display: flex;
    justify-content: space-between;

    .mat-button {
        border-radius: none !important;
        width: 100%;
    }
}

.break {
    color: #464748;
    border: 0.5px solid;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding-bottom: 0px;
}


    ::ng-deep .widget-menu-position {
        +.cdk-overlay-connected-position-bounding-box {
            align-items: center !important;
        }
    }

.panel-header-container {
    padding: 0 0 16px;

    .action-buttons {
        margin-right: -15px;

        .mat-menu-item {
            height: 100%;
        }

        button.chart-icon_btn, .drag-handler > mat-icon {
            color: #353F66;
        }
    }


}
