<div class="panel-header-container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="0 1 100">
  <span class="gridster-item-content" fxLayout="row" fxLayoutAlign="start center" class="chart-title c-16" *ngIf="widget?.title">{{widget.title}}</span>
  <div class="action-buttons" fxLayout="row" fxLayoutAlign="space-between center">
    <button fxLayout="row" fxLayoutAlign="center center" mat-menu-item class="drag-handler chart-icon_btn px-8" *ngIf="widget?.resizeEnabled">
        <mat-icon class="mr-0">open_with</mat-icon>
    </button>
    <button class="chart-icon_btn" matTooltip="Select widget operation" mat-icon-button
      [matMenuTriggerFor]="menu" aria-label="Operations">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="view.emit(widget)">
        <mat-icon>visibility</mat-icon>
        <span>View</span>
      </button>
      <button mat-menu-item (click)="edit.emit(widget)">
        <mat-icon>edit</mat-icon>
        <!-- <i class="fas fa-edit"></i> -->
        <span>Edit</span>
      </button>

      <button mat-menu-item (click)="changeGridsterState(widget)">
        <ng-container *ngIf="widget?.resizeEnabled; else lockedTemplate">
          <mat-icon>lock_open</mat-icon>
          <span>Lock Resize/Position</span>
        </ng-container>
        <ng-template #lockedTemplate>
          <mat-icon>lock</mat-icon>
          <span>Unlock Resize/Position</span>
        </ng-template>
      </button>

      <button mat-menu-item (click)="panelJson.emit(widget)">
        <mat-icon>code</mat-icon>
        <span>Panel Json</span>
      </button>
      <button (click)="onAddToReport(widget)" mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>Add to Report</span>
      </button>
      <hr class="break">
      <button mat-menu-item class="remove-menu" (click)="remove.emit(widget)">
        <!-- <i class="fas fa-trash-alt"></i> -->
        <mat-icon>delete_outline</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>
    <button *ngIf="detailView" mat-menu-item (click)="return.emit(widget)">
      <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
      <span>Go back</span>
    </button>
  </div>
</div>
