
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="name" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    <div *ngIf="!isNew">
                        {{formGroup.controls.name.value}}
                    </div>
                    <div *ngIf="isNew">
                        <input kendoTextBox #input class="k-textbox" [formControl]="formGroup.controls.name">
                        <kendo-popup [anchor]="input"
                            *ngIf="formGroup.controls.name.invalid && !(isNew && formGroup.controls.name.untouched)"
                            popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-i-warning"></span>
                            PlatformComponent name is required
                        </kendo-popup>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentspecName" title="Platform Name" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentspecName}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.PlatformComponentspecName"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentspecBaseParentLink" title="Parent" >
        <ng-template kendoGridCellTemplate let-dataItem>
            <a style="color:#039be5" *ngIf="dataItem.PlatformComponentspecBaseParentLink"
             href="{{objectRefToUrl(dataItem.PlatformComponentspecBaseParentLink)}}"
             (click)="loadRefLink(dataItem.PlatformComponentspecBaseParentLink)">
	         {{dataValueAccessor(dataItem.PlatformComponentspecBaseParentLink, DataSource)}}
            </a>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup" let-isNew="isNew">
		<kendo-dropdownlist matTooltip="Parent" [data]="DataSource"
                        [textField]="'name'" [valueField]="'value'" [(ngModel)]="selectedPlatformComponentspecBaseParentLink"
			[popupSettings]="{ popupClass: 'popup-page-dropdown' }"
			(valueChange)="onPlatformComponentspecBaseParentLinkValueChange($event)" >
                </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusType" title="Type" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusType}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusType.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusId" title="ID" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusId}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusId.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusDescription" title="Description" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusDescription}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusDescription.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusMfgName" title="Manufacturer Name" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusMfgName}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusMfgName.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusHardwareVersion" title="Hardware Version" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusHardwareVersion}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusHardwareVersion.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusSoftwareVersion" title="Software Version" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusSoftwareVersion}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusSoftwareVersion.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusSerialNo" title="Serial Number" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusSerialNo}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusSerialNo.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="PlatformComponentstatusPartNo" title="Part Number" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.PlatformComponentstatusPartNo}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.PlatformComponentstatusPartNo.value}}
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="platformcomponents.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="platformcomponents.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
