

<form #form="ngForm" class="k-form" *ngIf="endpointset" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="metadataName" class="label-top">Name </label>
	<div class="device-width-100">
            <kendo-textbox
	     [readonly]="false"
             [(ngModel)]="endpointset?.metadata.name"
             name="metadataName"
	     class="k-textbox"
	     (keyup)="onValueChanged(form)"
             #metadataName="ngModel"
	     [showSuccessIcon]="false"
             [showErrorIcon]="false"
	     appValidateRules
             [validateRules]="metadataNameRules"
            >
	        <ng-template kendoTextBoxSuffixTemplate>
                    <kendo-textbox-separator></kendo-textbox-separator>
                    <div kendoTooltip [tooltipTemplate]="metadataNameTooltipTemplate" filter="kendo-icon">
                    <kendo-icon
                        *ngIf="!(!metadataName.errors && metadataName.dirty)"
                        [name]="'info'"
                        [class.k-color-error]="!!metadataName.errors && metadataName.dirty"
                    ></kendo-icon>
                    <kendo-icon
                        *ngIf="!metadataName.errors && metadataName.dirty"
                        [name]="'check-outline'"
                        class="k-color-success"
                    ></kendo-icon>
                    <ng-template #metadataNameTooltipTemplate>
                      <ul class="ul-tooltip-info">
                        <li>start with an alphanumeric character</li>
                      </ul>
                    </ng-template>
                  </div>
                </ng-template>
            </kendo-textbox>
            <div class="validation-error" *ngIf="metadataName.errors && metadataName.dirty">
                <div *ngIf="!!metadataName.errors?.First_Letter">First character has to be alphanumeric.</div>
                <div *ngIf="!!metadataName.errors?.allowed_characters">Only alphanumeric and '- + . @ _' allowed..</div>
            </div>
	</div>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specTemplateEnable">Template Mode </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #specTemplateEnable="ngModel"
	    [readonly]="false"
	    name="specTemplateEnable"
            [(ngModel)]="endpointset.spec.template.enable"
            [data]="template_mode_spec_template_enable_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
        </kendo-dropdownlist>
    </div>

    <div *ngIf="!(false) && (this.endpointset?.spec.template.enable === 'TemplateEnable_ExList')" class="row-item">
        <label [for]="specTemplateExlist">Apply to All Sub Locations Except </label>
	<kendo-multiselect [autoClose]="false" [popupSettings]="{ popupClass: 'multiselect' }"
	
            #specTemplateExlist="ngModel"
	    [readonly]="false"
            name="specTemplateExlist"
            [(ngModel)]="endpointset.spec.template.Exlist"
            [data]="LocationDataSource"
            textField="name"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
	    <ng-template kendoMultiSelectItemTemplate let-dataItem>
        	<input type="checkbox" class="k-checkbox"
		 [checked]="isspecTemplateExlistSelected(dataItem.value)">
        	<label class="k-checkbox-label">{{dataItem.name}}</label>
      	    </ng-template>
	    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                {{dataItem.name}}
                <a href="{{objectRefToUrl(dataItem.item)}}"
		 (click)="loadRefLink(dataItem.item)">
                    <kendo-icon [name]="'hyperlink-open-sm'" class="reflink-icon"></kendo-icon>
                </a>
            </ng-template>
        </kendo-multiselect>
    </div>
	
    <div *ngIf="!(false) && (this.endpointset?.spec.template.enable === 'TemplateEnable_IncList')" class="row-item">
        <label [for]="specTemplateInclist">Apply to Only These Locations </label>
	<kendo-multiselect [autoClose]="false" [popupSettings]="{ popupClass: 'multiselect' }"
	
            #specTemplateInclist="ngModel"
	    [readonly]="false"
            name="specTemplateInclist"
            [(ngModel)]="endpointset.spec.template.Inclist"
            [data]="LocationDataSource"
            textField="name"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
	    <ng-template kendoMultiSelectItemTemplate let-dataItem>
        	<input type="checkbox" class="k-checkbox"
		 [checked]="isspecTemplateInclistSelected(dataItem.value)">
        	<label class="k-checkbox-label">{{dataItem.name}}</label>
      	    </ng-template>
	    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                {{dataItem.name}}
                <a href="{{objectRefToUrl(dataItem.item)}}"
		 (click)="loadRefLink(dataItem.item)">
                    <kendo-icon [name]="'hyperlink-open-sm'" class="reflink-icon"></kendo-icon>
                </a>
            </ng-template>
        </kendo-multiselect>
    </div>
	
    <div *ngIf="!(this.endpointset?.spec.template.enable === 'TemplateDisabled') && (true)" class="row-item">
        <label [for]="statusTemplateAppliedtoLocations">Applied To Locations </label>
	<kendo-multiselect [autoClose]="false" [popupSettings]="{ popupClass: 'multiselect' }"
	
            #statusTemplateAppliedtoLocations="ngModel"
	    [readonly]="true"
            name="statusTemplateAppliedtoLocations"
            [(ngModel)]="endpointset.status.template.appliedto_locations"
            [data]="LocationDataSource"
            textField="name"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
	    <ng-template kendoMultiSelectItemTemplate let-dataItem>
        	<input type="checkbox" class="k-checkbox"
		 [checked]="isstatusTemplateAppliedtoLocationsSelected(dataItem.value)">
        	<label class="k-checkbox-label">{{dataItem.name}}</label>
      	    </ng-template>
	    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                {{dataItem.name}}
                <a href="{{objectRefToUrl(dataItem.item)}}"
		 (click)="loadRefLink(dataItem.item)">
                    <kendo-icon [name]="'hyperlink-open-sm'" class="reflink-icon"></kendo-icon>
                </a>
            </ng-template>
        </kendo-multiselect>
    </div>
	</form>
