<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ data.title }}</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button [disabled]="!form.valid" [mat-dialog-close]="form.get('name').value" cdkFocusInitial>Save</button>
</div>
