<kendo-dialog-titlebar (close)="onClose($event)">
    <div class="k-window-title k-dialog-title">
        {{isEdit ? 'Update': 'New'}} Panel
    </div>
</kendo-dialog-titlebar>
<div class="k-content k-window-content k-dialog-content">
    <form class="k-form k-dialog-form w-100-p" [formGroup]="widgetForm">
        <kendo-tabstrip>
            <kendo-tabstrip-tab [title]="'Add new chart'" [selected]="true">
                <ng-template kendoTabContent>
                    <div fxLayout="column" class="ab-form-container">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1% grid"
                             class="row ab-widget-info">
                            <kendo-formfield fxFlex="60%">
                                <kendo-label [for]="title" text="Widget Title"></kendo-label>
                                <input class='title' formControlName="title" kendoTextBox #title required />
                                <kendo-formerror *ngIf="formSubmitted && widgetForm.get('title').invalid">
                                    Panel title is required
                                </kendo-formerror>
                            </kendo-formfield>
                            <kendo-formfield fxFlex="40%">
                                <kendo-label [for]="privilege" [text]="'Privilege list'"></kendo-label>
                                <kendo-dropdownlist class="dialog-k-dropdown" #privilege formControlName="privilege" [data]="privilegeList"
                                                    [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true"
                                                    required>
                                </kendo-dropdownlist>
                                <kendo-formerror *ngIf="formSubmitted && widgetForm.get('privilege').invalid">
                                    Privilege is required
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1% grid"
                             class="row ab-widget-info">
                            <kendo-formfield fxFlex="100%">
                                <kendo-label [for]="type" [text]="'Chart Type'"></kendo-label>
                                <kendo-dropdownlist class="dialog-k-dropdown" #type formControlName="type" [data]="chartTypes" [textField]="'text'"
                                                    [valueField]="'value'" [valuePrimitive]="true" (valueChange)="onSelectChartType($event)"
                                                    required>
                                </kendo-dropdownlist>
                                <kendo-formerror *ngIf="formSubmitted && widgetForm.get('type').invalid">
                                    Chart type is required
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1% grid"
                             class="row ab-chart-info">
                            <kendo-formfield *ngIf="chartVariants.length > 0" fxFlex="50%">
                                <kendo-label [for]="variant" [text]="'Chart variants'"></kendo-label>
                                <kendo-dropdownlist class="dialog-k-dropdown" #variant formControlName="variant" [data]="chartVariants"
                                                    [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true"
                                                    required (valueChange)="onSelectChartVariation($event)">
                                </kendo-dropdownlist>
                                <kendo-formerror *ngIf="formSubmitted && widgetForm.get('variant').invalid">
                                    Chart variant is required
                                </kendo-formerror>
                            </kendo-formfield>
                            <kendo-formfield fxFlex="40%">
                                <kendo-label [for]="colorPalettes" [text]="'Color palette'"></kendo-label>
                                <kendo-dropdownlist class="dialog-k-dropdown" #colorPalette formControlName="colorPalette" [data]="colorPalettes"
                                                    [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true"
                                                    (valueChange)="onSelectColorPalette($event)"  required>
                                    <ng-template kendoDropDownListItemTemplate kendoDropDownListValueTemplate let-dataItem>
                                        <div class="dropdown-colorPreview">
                                        <span *ngFor="let cp of dataItem?.colorsPreview" [style.background]="cp"
                                              style="width: 10px;">&nbsp;</span>
                                        </div>&nbsp;{{ dataItem?.text }}
                                    </ng-template>
                                </kendo-dropdownlist>
                            </kendo-formfield>
                            <kendo-formfield fxFlex="30%">
                                <kendo-label [for]="opacityInput" [text]="'Opacity'"></kendo-label>
                                <kendo-numerictextbox formControlName="opacity" #opacityInput [step]="0.1" [min]="0"
                                                      [max]="1" class="opacity-input">
                                </kendo-numerictextbox>
                                <kendo-formerror *ngIf="formSubmitted && widgetForm.get('opacity').invalid">
                                    Opacity is required
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1% grid"
                             class="ab-queries-info">
                            <div fxFlex="70%">
                                <span class="queires-title">Queries</span>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px" class="ab-queries" formArrayName="queries">
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px"
                                 *ngFor="let queryItem of widgetForm.get('queries').controls; let i = index"
                                 class="ab-query-item" [formGroupName]="i">
                                <div fxFlex="60%">
                                    <kendo-formfield>
                                        <kendo-dropdownlist class="dialog-k-dropdown" formControlName="query" [data]="queriesList"
                                                            [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true"
                                                            required>
                                        </kendo-dropdownlist>
                                        <kendo-formerror *ngIf="formSubmitted && widgetForm.get('queries').invalid">
                                            Query is required
                                        </kendo-formerror>
                                    </kendo-formfield>
                                </div>
                                <div fxFlex="30%">
                                    <kendo-formfield>
                                        <!-- <kendo-formfield *ngIf="hasQueryColor()"> -->
                                        <kendo-dropdownlist #color formControlName="color" [data]="queryColors"
                                                            [defaultItem]="{text: 'Select color', value: 'auto'}" [textField]="'text'"
                                                            [valueField]="'value'" [valuePrimitive]="true" class="query-color dialog-k-dropdown"
                                        >
                                            <ng-template kendoDropDownListItemTemplate kendoDropDownListValueTemplate
                                                         let-dataItem>
                                                <div class="dropdown-colorPreview">
                                                <span [style.background]="dataItem?.value"
                                                      style="width: 10px;">&nbsp;</span>
                                                </div>&nbsp;{{ dataItem?.value }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                    </kendo-formfield>
                                </div>
                                <!-- <div fxFlex="5%">
                                    <kendo-formfield *ngIf="hasShowOnAxis()">
                                        <kendo-label class="k-checkbox-label" [for]="showOnAxis" text="Show?"></kendo-label>
                                        <input formControlName="showOnAxis" type="checkbox" #showOnAxis kendoCheckBox />
                                    </kendo-formfield>
                                </div> -->
                                <div fxFlex="5%" *ngIf="i != widgetForm.get('queries').controls.length - 1">
                                    <button kendoButton [icon]="'minus'" [primary]="true" (click)="removeQueryItem(i)"
                                            class="btn-rounded btn-minus"></button>
                                </div>
                                <div fxFlex="5%" *ngIf="i == widgetForm.get('queries').controls.length - 1">
                                    <button kendoButton [icon]="'plus'" [primary]="true"
                                            [disabled]="widgetForm.value.privilege == '' || maxQueries <= 1" class="btn-rounded btn-plus"
                                            (click)="addQueryItem()"></button>
                                </div>
                            </div>
                        </div>
                        <!-- <button kendoButton class="add-button" [icon]="'plus'" [primary]="true"
                            [disabled]="widgetForm.value.privilege == '' || maxQueries <= 0" (click)="addQueryItem()"
                            fxFlex="100%">Add query</button> -->
                    </div>

                    <!--            <h2>{{widgetForm.value | json}}</h2>-->
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Import chart from JSON'">
                <ng-template kendoTabContent>
                    <ace-editor [(text)]="data" mode="json" #editor style="min-height: 323px; width:100%; overflow: auto;">
                    </ace-editor>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </form>
</div>
<kendo-dialog-actions>
    <button kendoButton class="btn bulk-actions cancel" (click)="onCancelAction()">
        {{ actionLabel1 }}
    </button>
    <button kendoButton class="btn btn-primary bulk-actions save" [disabled]="widgetForm.invalid" (click)="onConfirmAction()">
        {{ actionLabel2 }}
    </button>
</kendo-dialog-actions>
