.ab-form-container {
    .ab-widget-info {

    }
    .ab-chart-info {

    }
    .ab-queries-info {

    }
    .ab-queries {

    }
    .ab-query-item {
        margin-bottom: 6px;
    }
    ::ng-deep {
    	.dialog-k-dropdown,
    	.k-dropdown,
    	.k-dropdown-wrap,
    	.k-input,
    	.k-select,
    	.k-textbox {
    	    font-family: "IBM Plex Mono", sans-serif;
    	    font-size: 12px;
    	    color: #353F66;
    	    background: #FFFFFF;
            border-radius: 0px;
    	    box-shadow: none;
        }
    }
    a.k-button.k-bare.k-button-icon.k-window-action.k-dialog-action.k-dialog-close{
        display:none;
    }
    .k-icon {
      position: relative;
      margin: 0;
    }
    /* Design Styles as UI */
    .row {
        padding: 5px 0px;
    }
    .queires-title {
      font-size: 14px;
    }

    .add-button {
        margin-top: 12px;
    }
    .btn-rounded {
      border-radius: 50%;
      cursor: pointer;
    }
    .btn-minus {
        border: 1px solid #FF8080;
        background-color: #FFFFFF;
        color: #FF8080;
        background: #FFFFFF;
      }
  
      .btn-minus:hover {
          border: 1px solid #FF8080;
          background-color: #FFFFFF;
          background: #FFFFFF;
          color: #FF8080;
        }
      
      .btn-rounded.btn-minus > span {
          color: #FF8080 !important;
        }
        
        .btn-plus {
            border: 1px solid #039BE5;
            background-color: #FFFFFF;
            background: #FFFFFF;
            color: #039BE5;
        }
  
        .btn-plus:hover {
          border: 1px solid #039BE5;
          background-color: #FFFFFF;
          background: #FFFFFF;
          color: #039BE5;
        }
        
    .btn-rounded.btn-plus > span {
        color: #039BE5 !important;
    }
      
    .opacity-input {
        height: 30px;
    }
  
}
:host ::ng-deep {

    .query-color {
        .k-dropdown .k-dropdown-wrap {
            background-color: inherit !important;

        }
    }

    .k-numerictextbox {
        .k-numeric-wrap {
            border: none;
            font-family: IBM Plex Mono;
            font-size: 18px;
            color: rgba(144, 144, 144, 0.9);
            &:hover {
                background: rgb(242, 246, 250, 0.6);
            }
            .k-icon{
                color: #656565 !important;
            }
        }
        &.ng-invalid.ng-touched {
            border: 1px solid red;
        }
    }

    .k-dropdown {
        background: rgb(242, 246, 250);
        .k-dropdown-wrap {
            border-radius: 0 2px 2px 0 !important;
            border: 1px solid rgba(0, 0, 0, 0.08);
            //height: 28px;
            -webkit-box-align: center;
            align-items: center;
            padding-right: 5px;
            font-family: IBM Plex Mono;
            font-size: 18px;
            color: rgba(144, 144, 144, 0.9);
            &:hover {
                background: rgb(242, 246, 250, 0.6);
            }
            //.k-item {
            //    padding: 0;
            //    width: 100%;
            //    height: 100%;
            //    margin: 0;
            //
            //    .query-color-select-item {
            //        padding: 4px 8px;
            //    }
            //}
            .k-icon{
                color: #656565 !important;
            }
        }
        &.ng-invalid.ng-touched {
            border: 1px solid red;
        }
        .k-list .k-item {
            background: red;
            padding: 0;
        }
    }

    .k-select {
        padding: 4px 4px;
        width: calc( 1.4285714286em + 8px );
        border-width: 0;
        box-sizing: border-box;
        border-style: solid;
        // display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        text-align: center;
        cursor: pointer;
    }

    .k-tabstrip {
        .k-state-active {
            .k-link {
                color: #1E2129;
            }
        }
        .k-link {
            color: #03A9F4;
        }
    }


    //.k-dropdown .k-dropdown-wrap .k-input {
    //    background: transparent;
    //}
    //
    //.k-dropdown .k-dropdown-wrap .k-select {
    //    background: transparent;
    //}
    //.k-input {
    //    background-color: transparent !important;
    //    border          : none !important;
    //    color           : rgba(144, 144, 144, 0.9) !important;
    //    box-shadow      : none !important;
    //    height: 40px !important;
    //    padding-top: 0px !important;
    //    padding-bottom: 0px !important;
    //}
    .k-icon{
        color: #ffffff !important;
    }
    .k-dropdown .k-dropdown-wrap .k-select{
        background-color: #FFFFFF;
        width: 10px;
        height: 28px;
    }
    .k-checkbox {
        border-color: rgba(0, 0, 0, 0.8);
    }

    .k-checkbox:checked {
        opacity: 1;
    }
    .k-form-field {
        margin-top: 0;
    }
    .k-numeric-wrap .k-select{
        display: none;
    }
    .k-tabstrip {
        .k-tabstrip-items {
            .k-item {
                border: 0px;
                span {
                    color: #494C57;
                }
            }
            .k-state-active {
                border-bottom: 2px solid #039BE5;
                span {
                    color: #039BE5;
                }
            }
        }
    }
}
