<gridster fuseNavigationMenuGlidster id="inventory-grid" name="inventory-grid" [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
        <app-parent-dynamic [widget]="item" [resizeEvent]="resizeEvent"></app-parent-dynamic>
    </gridster-item>
</gridster>
