<form
  #addObjectForm="ngForm"
  novalidate
  fxLayout="column"
  fxLayoutAlign="start"
>
  <div class="row-item">
    <label [for]="objectName">Name </label>
    <kendo-textbox
     #objectName="ngModel"
     name="objectName"
     [(ngModel)]="data.name"
     required
     class="k-textbox"
     [showSuccessIcon]="false"
     [showErrorIcon]="false"
     appValidateRules
     [validateRules]="nameRules"
    >
      <ng-template kendoTextBoxSuffixTemplate>
          <div kendoTooltip [tooltipTemplate]="objectNameTooltipTemplate" filter="kendo-icon">
          <kendo-icon
              *ngIf="!(!objectName.errors && objectName.dirty)"
              [name]="'info'"
              [class.k-color-error]="!!objectName.errors && objectName.dirty"
          ></kendo-icon>
          <kendo-icon
              *ngIf="!objectName.errors && objectName.dirty"
              [name]="'check-outline'"
              class="k-color-success"
          ></kendo-icon>
          <ng-template #objectNameTooltipTemplate>
            <ul class="ul-tooltip-info">
              <li>contain alphanumeric characters or '-', '+', '.', '@', '_'</li>
              <li>start with an alphanumeric character</li>
            </ul>
          </ng-template>
        </div>
      </ng-template>
    </kendo-textbox>
  </div>
  <div class="validation-error" *ngIf="objectName.errors && objectName.dirty">
    <div *ngIf="!!objectName.errors?.required">Name is required.</div>
    <div *ngIf="!!objectName.errors?.firstAlphaNumeric">First character has to be alphanumeric.</div>
    <div *ngIf="!!objectName.errors?.allowedCharacters">Only alphanumeric and '- + . @ _' allowed.</div>
  </div>

  <div class="row-item search-bar-section" >
    <label [for]="location">Location </label>
    <div class="toolbar-location--wrapper" style="width: 173px;">
      <div class="kendo-hierarchical-dropdownlist" style="margin-left: -22px;">
        <div
          #anchor
          (click)="onToggle()"
          class="kendo-hierarchical-dropdownlist__btn"
          style="margin-left: 30px;"
        >
          {{ selectedKeys }}
          <mat-icon style="margin-right: 17px;">expand_more</mat-icon>
        </div>
        <kendo-popup
          #popup
          class="kendo-hierarchical-dropdownlist_popup"
          [anchor]="anchor"
          (anchorViewportLeave)="close()"
          *ngIf="show"
          style="margin-left: -9px; width: 173px; background: none; "
        >
      <span class="k-list-filter" style="height:20px">
        <input
          [(ngModel)]="searchTerm"
          #category
          class="k-textbox"
          (keyup)="onKeyUp(category.value)"
          name="searchinput"
          placeholder=""
          style="width:154px!important"
        >
        <span class="k-icon k-i-search" style="margin-top: -62px; margin-left:147px"></span>
      </span>
          <kendo-treeview
            class="treeview"
            [nodes]="filteredLocationData"
            textField="name"
            name="location"
            kendoTreeViewSelectable
            kendoTreeViewHierarchyBinding
            childrenField="children"
            [selectBy]="'name'"
            [(selectedKeys)]="selectedKeys"
            (selectionChange)="updateLocation($event)"
          >
          </kendo-treeview>
        </kendo-popup>
      </div>
      <div class="toolbar-separator"></div>
    </div>
  </div>
</form>

<kendo-dialog-actions>
  <button
    kendoButton
    class="btn bulk-actions cancel"
    (click)="onCancelAction()"
  >
    Cancel
  </button>
  <button
    kendoButton
    class="btn btn-primary bulk-actions save"
    (click)="onConfirmAction()"
    [primary]="true"
    [disabled]="!addObjectForm.valid"
  >
    Go To Details
  </button>
</kendo-dialog-actions>
