.row-item { 
    .k-icon {
	position: relative;
	margin: 0;
    }
    .ul-tooltip-info {
        font-size: 80%;
        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tooltip-info {
        font-size: 80%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.validation-error {
    font-size: 80%;
    font-weight: 400;
    color: red;
    padding: 0 4px 4px 115px;
    text-align: start;
}

.k-label {
  align-self: center;
  margin-right: 8px
}

.toolbar-location--wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}
//body.theme-default .search-bar-section
.search-bar-section .toolbar-location--wrapper .kendo-hierarchical-dropdownlist__btn {
  font-size: 14px;
  background: transparent;
}
