<div class="dropdown">

    <button class="select-trigger" (click)="open(dropdown, origin)" #origin>

        <ng-template [ngIf]="!isOpen" [ngIfElse]="searchTpl">
            {{ label }}
        </ng-template>

        <ng-template #searchTpl>
            <input [formControl]="searchControl" placeholder="Search.." (click)="$event.stopPropagation()">
        </ng-template>

    </button>

    <ng-template #dropdown>
        <div class="select-menu-wrapper">
            <div class="select-menu">

                <cdk-virtual-scroll-viewport itemSize="32" class="select-menu-inner"
                    [style.height.px]="visibleOptions * 32">

                    <div *ngIf="!options.length" class="no-results-item">No results found...</div>

                    <div *cdkVirtualFor="let option of options" class="select-item" [class.active]="isActive(option)"
                        (click)="select(option)">
                        <ng-template [ngIf]="!optionTpl">{{option.label}}<a class="edit">Edit</a></ng-template>
                        <ng-template *ngTemplateOutlet="optionTpl; context: {$implicit: option}"></ng-template>
                    </div>

                </cdk-virtual-scroll-viewport>

            </div>
            <div class="select-add">
                <a>Create new</a>
            </div>
        </div>
    </ng-template>


</div>
