.select-menu-wrapper {
    z-index: 999;
}

.select-menu {
    color           : #212529;
    text-align      : left;
    list-style      : none;
    overflow-x      : hidden;
    background-color: #fff;
    border          : 1px solid rgba(0, 0, 0, .15);
    z-index         : 999;
}

.select-trigger {
    width           : 180px;
    border          : none;
    text-align      : left;
    padding         : 0;
    height          : 36px;
    font-size       : 14px;
    color           : #212529;
    cursor          : pointer;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.select-menu-inner {
    width     : 180px;
    max-height: 128px;
}


input {
    border   : 1px solid rgba(0, 0, 0, .15);
    width    : 100%;
    font-size: 14px;
    height   : 36px;
    padding  : 0 7px;

    &:focus {
        outline: none;
    }
}


.select-item {
    height         : 32px;
    display        : flex;
    align-items    : center;
    padding        : 0 7px;
    cursor         : pointer;
    font-size      : 14px;
    justify-content: space-between;

    &:hover {
        background-color: whitesmoke;
    }
}

.no-results-item {
    height     : 32px;
    display    : flex;
    align-items: center;
    padding    : 0 7px;
    font-size  : 14px;
}

.select-add {
    border          : 1px solid rgba(0, 0, 0, .15);
    background-color: white;
    padding         : 10px 0;
    text-align      : center;

    a {
        color  : black;
        padding: 10px 0;
        cursor : pointer;
    }
}

a.edit {
    color: #212529;
    font-size: 12px;
}
