
    <div kendoDialogContainer></div>
    <gridster fuseNavigationMenuGlidster id="deviceattributeset-grid" name="deviceattributeset-grid" [options]="options">
        <gridster-item
         [class.shared-chart]="item.reportType === ItemType.CHART"
         [class.gap-10]='item.reportType === "ITEM_ROW_FILLER" || item.reportType === "ITEM_COL_FILLER"'
         [class.summary-cards]='item.reportType ==="ITEM_SUMMARY_CARDS"' 
         [item]="item"
         *ngFor="let item of list; let index = index" [ngSwitch]="item.reportType">
            <ng-container *ngSwitchCase='"ITEM_SUMMARY_CARDS"'>
                <app-summary-cards-widget *ngIf="deviceattributesetList"
                 [cards]="deviceattributesetList.summaryCards"
                 (selectChange)="deviceattributesetList.updateSummaryFilters()"
                >
                </app-summary-cards-widget>
            </ng-container>
            <ng-container *ngSwitchCase="ItemType.DEVICEATTRIBUTESET_LIST">
                <div class="table" fxLayout="column">
                    <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget 
                            class="w-100-p"
                            #deviceattributesetTableHeader
                            [item]="item"
                            [index]="index"
                            [isContolPanel]="true"
                            [resizeble]="deviceattributesetList.clientHeight"
                            [isSearchBoxDisabled]="true" >
                            <span class="chart-title" title>Device Attribute Sets</span>
                            <div menuItems>
				<button (click)="deviceattributesetList.onAddHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Add</span>
				</button>
				<button (click)="deviceattributesetList.onCloneHandler()" mat-menu-item>
				    <mat-icon>content_copy</mat-icon>
				    <span>Clone</span>
				</button>
				<button (click)="deviceattributesetList.editSelectedItem()" mat-menu-item>
				    <mat-icon>edit</mat-icon>
				    <span>Edit</span>
				</button>
				<button (click)="deviceattributesetList.removeSelectedItem()" mat-menu-item>
				    <mat-icon>delete</mat-icon>
				    <span>Delete</span>
				</button>
                                <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                                ************
                                <button (click)="deviceattributesetTableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="deviceattributesetTableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button (click)="deviceattributesetList.onExportPDFHandler()" mat-menu-item>
                                    <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                    <span>Export to PDF</span>
                                </button>
                                <button (click)="deviceattributesetList.onExportExcelHandler()" mat-menu-item>
                                    <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                    <span>Export to Excel</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                                <button mat-menu-item (click)="deviceattributesetList.onGroupable()">
                                    <ng-container *ngIf="deviceattributesetList.groupable; else lockedDragTemplate">
                                        <mat-icon>highlight_off</mat-icon>
                                        <span>Disable group by column</span>
                                    </ng-container>
                                    <ng-template #lockedDragTemplate>
                                        <mat-icon>group_work</mat-icon>
                                        <span>Enable group by column</span>
                                    </ng-template>
                                </button>
                                *************
                                END OF COMMENT -->
                            </div>
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content table-wrapper">
                        <deviceattributeset-list #deviceattributesetList [wsFilter]="wsFilter" [searchText]="deviceattributesetTableHeader.searchText" (setRows)="setHeightGridster(index, item, $event)" [pageSize]="deviceattributesetTableHeader.pageSize.value"></deviceattributeset-list>
                    </div>
                </div>
            </ng-container>
  	    <ng-container *ngSwitchCase="ITEM_ROW_FILLER">
                   <div class="gap-10"></div> 
            </ng-container>
            <ng-container *ngSwitchCase="ItemType.CHART">
                <shared-chart-header-widget title #widgetHeader [widget]="item" (edit)="chartWidget.editWidget($event)"
                    (gridsterStateChanged)="changeGridsterState(item, false)" (panelJson)="chartWidget.jsonWidget($event, index)"
                    (remove)="chartWidget.removeWidget($event)" (view)="customViewWidget($event)">
                </shared-chart-header-widget>
                <shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async"
                    [interval]="widgetHeader.refreshTimeObs | async">
                </shared-chart-widget>
            </ng-container>
  	    <ng-container *ngSwitchCase="ITEM_ROW_FILLER">
                   <!-- <div class="gap-10"></div>  -->
            </ng-container>
        </gridster-item>
    </gridster>
    
