

<form #form="ngForm" class="k-form" *ngIf="ifinterface" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="specEnabled">Enable </label>
        <mat-checkbox [disabled]="false" class="example-margin" name="spec.enabled" [(ngModel)]="ifinterface.spec.enabled" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

	<div *ngIf="!(false) && (true)" class="row-item">
	     <label [for]="statusOperStatus">Status </label>
        <div>
            <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                    <span *ngIf="ifinterface.status.operStatus == 'TunnelConnecting'" class="badge badge-success">Up</span>
                    <span *ngIf="ifinterface.status.operStatus == 'TunnelConnected'" class="badge badge-success">Up</span>
                    <span *ngIf="ifinterface.status.operStatus == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                    <span *ngIf="ifinterface.status.operStatus == 'TunnelInactive'" class="badge badge-danger">Inactive</span>
                    <span *ngIf="(ifinterface.status.operStatus.toLowerCase() == 'unknown') || (!ifinterface.status.operStatus)" class="badge badge-unknown">Unknown</span>
                    <span *ngIf="ifinterface.status.operStatus == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                    <span *ngIf="ifinterface.status.operStatus == 'REJECTED'" class="badge badge-danger">Failed</span>
                    <span *ngIf="ifinterface.status.operStatus == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                    <span *ngIf="ifinterface.status.operStatus == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                    <span *ngIf="ifinterface.status.operStatus == 'DECLINED'" class="badge badge-danger">Failed</span>

                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                    <span *ngIf="ifinterface.status.operStatus == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>

        </div>
     </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusPoeEnabled">PoE </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.poeEnabled" [(ngModel)]="ifinterface.status.poeEnabled" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specMtu" class="label-top">MTU </label>
	 <input [readonly]="false"
            #specMtu
            kendoTextBox type="number"
            [(ngModel)]="ifinterface?.spec.mtu"
            name="spec.mtu"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusMtu" class="label-top">Oper MTU </label>
	 <input [readonly]="true"
            #statusMtu
            kendoTextBox type="number"
            [(ngModel)]="ifinterface?.status.mtu"
            name="status.mtu"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specDescription" class="label-top">Description </label>
	 <input [readonly]="false"
            #specDescription
            kendoTextBox
            [(ngModel)]="ifinterface?.spec.description"
            name="spec.description"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
