<div class="content">
    <div *ngIf="!loading && !failed">
        <div *ngIf="left !== right" class="toolbar">
            <div class="toolbar-actions">
                <input type="checkbox" id="hideMatching" kendoCheckBox [(ngModel)]="hideMatchingLines" />
                <label class="k-checkbox-label toolbar-label" for="hideMatching">
                    Only Show Lines with Differences ({{ diffsCount }})
                </label>

                <input
                    class="toolbar-input"
                    type="radio"
                    name="format"
                    value="LineByLine"
                    id="lineByLine"
                    [(ngModel)]="format"
                    kendoRadioButton
                />
                <label class="k-label toolbar-label" for="lineByLine">Line By Line</label>

                <input
                    class="toolbar-input"
                    type="radio"
                    name="format"
                    value="SideBySide"
                    id="sideBySide"
                    [(ngModel)]="format"
                    kendoRadioButton
                />
                <label class="k-label toolbar-label" for="sideBySide">Side By Side</label>
            </div>
        </div>
        <td-ngx-text-diff
            #tdNgxTextDiff
            *ngIf="supported"
            [left]="left"
            [right]="right"
            [showToolbar]="false"
            [format]="format"
            [hideMatchingLines]="hideMatchingLines"
            (compareResults)="onCompareResults($event)"
        >
        </td-ngx-text-diff>

        <div *ngIf="!supported" class="info-block">
            <div class="info-message">Preview are not supported these types of files.</div>
        </div>
    </div>

    <div *ngIf="loading" class="k-i-loading"></div>

    <div *ngIf="failed" class="error-block">
        <div class="error-message">
            Cannot compare the files due to a server issue.<br />
            Please try again later.
        </div>
    </div>
</div>
