:host ::ng-deep {
	.td-table-container {
		.td-table {
			border-left: 0;
			border-right: 0;
			border-bottom: 0;
			border-top-color: #e8eaee;
		}
	}
}

.content {
	background-color: #fff;
	width: 100%;
	border: 1px solid #e8eaee;
	border-radius: 9px;
	margin-bottom: 60px;

	.toolbar {
		width: 100%;
		height: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.toolbar-actions {
			height: 100%;
			display: flex;
			align-items: center;

			.toolbar-input {
				margin-right: 10px;
			}

			.toolbar-label {
				padding-right: 30px;
			}
		}
	}

	.error-block,
	.info-block {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 200px;

		.error-message,
		.info-message {
			height: 200px;
			width: 600px;
			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 5px;
			background-color: #f8fbfc;
			text-align: center;
		}

		.error-message {
			border: 1px dotted #dc3545;
		}
		.info-message {
			border: 1px dotted #007bff;
		}
	}

	.k-i-loading {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 64px;
		background-color: rgba(255, 255, 255, 0.3);
		color: #007bff;
	}
}
