<div class="dashboard-right-menu-wrapper admitted" [class.d-none]="hide()">
    <div class="left-float">
        <button [disabled]="!isEditing" kendoButton class="bulk-actions cancel" (click)="cancel()">Cancel</button>
        <button [disabled]="!isEditing || isInvalid" kendoButton class="bulk-actions save" (click)="save()"> Save </button>
    </div>
</div>
