<div content class="gridster-item-content">
    <kendo-grid 
        [data]="gridView" 
        [kendoGridBinding]="gridView.data"
        [pageSize]="20" 
        [pageable]="true" 
        [sortable]="true"
        [groupable]="true" 
        [reorderable]="true" 
        [resizable]="true"
        [columnMenu]="{ filter: false }"
        (edit)="editHandler($event)" 
        (cancel)="cancelHandler($event)" 
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)" 
        (add)="addHandler($event)"
        (cellClick)="onCellClick($event)"
        (dblclick)="onDblClick()"
        (dataStateChange)="onStateChange($event)"
    >
        <ng-template kendoGridToolbarTemplate>
            <input #globalSearch placeholder="Search in all columns..." kendoTextBox
                (input)="onFilter($event.target.value)" />
    
            <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to
                Excel</button>
            <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
            <button kendoGridAddCommand style="float:right;height:30px;margin-right: 10px;">
                <mat-icon>add</mat-icon>
            </button>
        </ng-template>
        <kendo-grid-column field="name" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="location" title="Location" width="250">
            <ng-template kendoGridCellTemplate let-dataItem >
                {{dataItem.location}}
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                {{formGroup.value.location}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="description" title="Description" width="250">
        </kendo-grid-column>
        <kendo-grid-column class="values-field" field="values" title="Values" width="350">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <mat-chip-list>
                    <mat-chip *ngFor="let chip of dataItem.values">{{chip.label}}</mat-chip>
                  </mat-chip-list>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                <mat-form-field class="label-chip-list">
                    <mat-chip-list #chipList aria-label="Labels">
                      <mat-chip *ngFor="let chip of formGroup.value.values;index as idx" [removable]="true" (removed)="remove(chip,idx)">
                        {{chip.label}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="New value..."
                             [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="true"
                             (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column [columnMenu]="false" title="Actions" width="100">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <mat-menu #actions="matMenu">
                    <button mat-menu-item kendoGridEditCommand>Edit</button>
                    <button mat-menu-item kendoGridRemoveCommand>Remove</button>
                </mat-menu>
                <a *ngIf="!shouldHideActionMenu" mat-icon-button class="kd-muted" id="more-menu"
                    [matMenuTriggerFor]="actions" (click)="$event.stopPropagation()">
                    <mat-icon matTooltip="Actions">more_vert</mat-icon>
                </a>
                <span kendoGridSaveCommand [disabled]="formGroup?.invalid" icon="k-icon k-i-save k-i-floppy"></span>
                <span kendoGridCancelCommand icon="k-icon k-i-close-circle k-i-x-circle"></span>
            </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-pdf fileName="labels.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
        <kendo-grid-excel fileName="labels.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>
