html,
body {
  overflow-x: hidden;
}

.main-page {
  display: flex;
  justify-content: center;
  padding: 4px;
  padding-bottom: 20px;
}

.img-section {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  svg-icon {
    display: block;
    z-index: -1;
    width: 600px;
  }
}

#canvas,
#device_image {
  position: absolute;
}

#device_image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30%;
    height: 100%;
  }
}

button:not(.mat-menu-trigger, .mat-menu-item) {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 10px;
  background: lightgray;
  cursor: pointer;
}

.icon-interface,
.icon-rear {

  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: sans-serif;
  color: white;
}

.main-page, .switch-wrapper, .switch {
    width: 100%;
    height: 100%;
    .mat-icon-button {
	height: auto;
	line-height: unset;
    }
}

.switch {
    padding-top: 0px;
    padding-bottom: 0px;
}

.icon-rear {
  margin-top: 0;
}

.port-image {
  width: 100%;
  height: 100%;
}

.rear-item-image {
  height: 100%;
}

.mat-form-field-flex {
  background-color: rgba(2, 1, 1, 0.04);
}

// .menu-wrapper {
//   min-width : 350px;
//   margin    : 0 auto;
//   margin-top: 30px;
//   display   : block;
//   max-width : 300px;
// }
.grid-menu {
  height: 48px;
}

.tabs-layout {
  .grid-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.multiselect-dropdown div:first-child {
  display: flex;
}

pre {
  max-width: 650px;
}

svg {
  width: 31px;
  height: 31px;
}

#switcher {
  width: 100%;
  height: 100%;
}

::selection {
  background: transparent !important;
}

#switch-grid {
  gridster-item {
    background-color: transparent;
  }
}

:host ::ng-deep #switch-detail .title-bar {
  display: none !important;
}

:host ::ng-deep .overflow-content {
  background-color: transparent !important;
  padding: 0px !important;
}


:host {
  width: 100%;
  padding-bottom: 5px;
}
