<div style="width: 100%; height: 100%">
    <div class="main-page">
        <div class="switch-wrapper">
            <div style="text-align: center; font-weight: bold;">
                <span style="margin: 0 10px;">{{deviceLabel || 'Loading...'}}</span>

                <button mat-icon-button *ngIf="deviceLabel" (click)="flipSide()">
                    <mat-icon svgIcon="flip-panel"></mat-icon>
                </button>
            </div>

            <div [ngClass]="'switch'" [ngStyle]="{ position: 'relative' }">
                <canvas id="switcher" hidpi="on" resize="true" #switcher></canvas>
            </div>
        </div>
    </div>
</div>


<mat-tooltip-component></mat-tooltip-component>
<div #tooltip class="cdk-overlay-pane mat-tooltip-panel" style="display: none; pointer-events: none; transform: translate(0%, -100%)">
    <div class="mat-tooltip mat-tooltip-handset" style="margin: 5px;"></div>
</div>
