<div 
    class="fuse-nav-item" 
    (mouseenter)="onMouseEnter($event)" 
    (mouseleave)="onMouseLeave($event)"
    (click)="onItemClick($event)"
>
    <div>
        <mat-icon class="nav-link-icon" *ngIf="item.customIcon; else defaultIconTemplate" [svgIcon]="item.customIcon"></mat-icon>
        <ng-template #defaultIconTemplate>
            <mat-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</mat-icon>
        </ng-template>
        <span class="nav-link-title" [attr.data-info]="navigationList.includes(item.id) ? 'navLinkTitle' : 'menuItem'"
            [translate]="item.translate">{{(item.translate | translate) || item.text}}</span>
        <span class="nav-link-badge" *ngIf="item.badge" [translate]="item.badge.translate"
            [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">{{(item.badge.translate | translate) || item.badge.title}}</span>
    </div>
</div>
