<fuse-widget  class="widget" fxLayout="column" fxFlex="100">

    <!-- Front -->
    <div class="fuse-widget-front">

        <div class="title-bar">
            <div class="h3">Sample</div>
        </div>
        <div class="content-wrapper">
            <!-- ...more content here -->
            <div class="overflow-container">
                <!-- ...and more content here -->
                <div class="overflow-content">
                    <inventory-sample></inventory-sample>
                </div>
            </div>
        </div>
    </div>
    <!-- / Front -->

</fuse-widget>
