:host {
}

.disabled-button {
  cursor: not-allowed;
  opacity: 0.7;
}

.disabled-button:active {
  pointer-events: none;
}

.selected-tenant {
  background-color: transparent;
  color: #039be5 !important;
}

.width-100 {
  width: 100% !important;
}

.location-popup-width {
  min-width: 230px !important;
  left: 52px !important;
  top: 40px !important;
}

.location-popup {
  width: 0px !important;
  padding: 0px !important;
}

.tenant-list-height {
  height: 200px !important;
  max-height: 200px !important;
}

.failed-text {
  width: 200px;
  word-break: break-word;
  white-space: normal;
  color: #958787;
  text-align: center;
  position: absolute;
  top: 100px;
}
.navigation-button {
    position: absolute;
    z-index: 999;
    right: 5px;
}
