<div class="toolbar-location--wrapper">
  <div>
    <button
      kendoButton
      (click)="goToLocationPage()"
      class="icon-btn"
      icon="globe"
      [matTooltip]="selectedTenant?.name"
    ></button>
  </div>
  <div
    class="kendo-hierarchical-dropdownlist location-popup-width"
    #anchor
    (click)="onToggle()"
    [class.disabled-button]="!isLocationDropdownEnabled"
  >
    <div class="kendo-hierarchical-dropdownlist__btn">
      {{ selectedKeys }}
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>
  <div class="kendo-hierarchical-dropdownlist location-popup">
    <kendo-popup
      #popup
      class="kendo-hierarchical-dropdownlist_popup location-popup-width"
      [anchor]="anchor"
      (anchorViewportLeave)="close()"
      *ngIf="show"
      style="width: 270px;"
    >
      <span class="k-list-filter width-100">
        <input [(ngModel)]="searchTerm" #category class="k-textbox" (keyup)="onKeyUp(category.value)" placeholder="" />
        <span class="k-icon k-i-search"></span>
      </span>
      <div class="tenant-location-tabstrip">
        <div class="navigation-button">
          <button mat-icon-button (click)="goToLocationPage()">
            <mat-icon [svgIcon]="'edit'" class="secondary-text"></mat-icon>
          </button>
        </div>
        <div *ngIf="showLocationTreeOnly">
          <kendo-treeview
            class="kendo-hierarchical-dropdownlist__tree-view width-100 tenant-list-height"
            [nodes]="filteredLocationData"
            textField="name"
            kendoTreeViewSelectable
            kendoTreeViewHierarchyBinding
            childrenField="children"
            [selectBy]="'name'"
            [(selectedKeys)]="selectedKeys"
            (selectionChange)="updateLocation($event)"
          >
          </kendo-treeview>
        </div>
        <kendo-tabstrip #tenantLocationTabstrip *ngIf="!showLocationTreeOnly">
          <kendo-tabstrip-tab title="Tenant" [selected]="isTenantTabSelected">
            <ng-template kendoTabContent>
              <div class="k-list-scroller" style="max-height: 200px">
                <ul class="k-list k-reset">
                  <li
                    *ngFor="let item of tenantListData"
                    (click)="onTenantItemClicked(item, $event)"
                    [ngClass]="item.name == selectedTenant.name ? 'k-item selected-tenant' : 'k-item'"
                  >
                    {{item.name}}
                  </li>
                </ul>
              </div>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab title="Location" [selected]="!isTenantTabSelected">
            <ng-template kendoTabContent>
              <kendo-treeview
                class="kendo-hierarchical-dropdownlist__tree-view width-100 tenant-list-height"
                [class.disabled-list]="state.isLoading"
                [nodes]="filteredLocationData"
                textField="name"
                kendoTreeViewSelectable
                kendoTreeViewHierarchyBinding
                childrenField="children"
                [selectBy]="'name'"
                [(selectedKeys)]="selectedKeys"
                (selectionChange)="updateLocation($event)"
              >
              </kendo-treeview>
              <div *ngIf="state.isFailed && filteredLocationData.length === 0" class="failed-text">
                An error occured while loading locations
              </div>
              <span class="k-i-loading data-loader" *ngIf="state.isLoading"></span>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </kendo-popup>
  </div>

  <div class="toolbar-separator"></div>
</div>
