<div id="locationPageWrapper" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div id="locationWrapper" class="side-bar relative-container" fxFlex="23">
    <button
      mat-icon-button
      class="add-new-tenant-btn"
      (click)="openAddTenantOrLocationDialog()"
      *ngIf="isTenantTabSelected"
    >
      <mat-icon>add</mat-icon>
    </button>
    <span class="k-i-loading data-loader" *ngIf="isLoading"></span>
    <kendo-tabstrip
      #tenantTabstrip
      class="location-picker"
      [class.disabled-list]="isLoading"
      (tabSelect)="onTabSelect($event)"
    >
      <kendo-tabstrip-tab title="Tenant" [selected]="isTenantTabSelected">
        <ng-template kendoTabContent>
          <app-tenant-list
            [tenantsList]="tenantsList"
            [selectedTenant]="selectedTenant"
            [apiGroup]="apiGroup"
            (selectedTenantChanged)="onSelectedTenantChanged($event)"
            (selectedTenantDblClickChanged)="onSelectedTenantDblClickChanged($event)"
            (tenantsListChanges)="onTenantsListChanged()"
          ></app-tenant-list>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Location" [selected]="!isTenantTabSelected">
        <ng-template kendoTabContent>
          <div
            id="locationHeader"
            *ngIf="home"
            [class.location-selected]="isItemSelected(scopeLocation)"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            (click)="selectLocation(scopeLocation)"
            style="height: 45px"
          >
            <h4 class="location-name-margin" fxFlex="70">
              {{ home }}
            </h4>
            <span fxFlex="12" *ngIf="scopeLocation?.items" class="tree-count header-tree">
              {{ locationList?.length || 0 }}
            </span>
            <button kendoButton #target [icon]="'more-vertical'" [look]="'flat'" fxFlex="12"></button>
            <app-location-item-context-menu
              [target]="target"
              (openAddItemDialog)="openAddLocationDialog(scopeLocation)"
              (openEditItemDialog)="openEditLocationDialog(scopeLocation, true)"
              (openDeleteItemDialog)="openDeleteLocationDialog(scopeLocation)"
            ></app-location-item-context-menu>
          </div>
          <kendo-treeview
            class="location-list"
            [nodes]="locationList"
            kendoTreeViewExpandable
            kendoTreeViewHierarchyBinding
            [isExpanded]="isLocationExpanded"
            [expandedKeys]="expandedLocationKeys"
            (collapse)="handleLocationCollapse($event)"
            (expand)="handleLocationExpand($event)"
            childrenField="items"
          >
            <ng-template kendoTreeViewNodeTemplate let-dataItem>
              <div
                class="location-item"
                [class.location-selected]="isItemSelected(dataItem)"
                [class.location-expanded]="dataItem.isExpanded"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                (click)="selectLocation(dataItem)"
              >
                <h4 fxFlex>
                  {{ dataItem.text }}
                </h4>
                <span [class.tree-count-element]="dataItem.items && dataItem.items.length > 0">
                  <ng-container *ngIf="dataItem.items">{{ dataItem.items.length || 0 }}</ng-container>
                </span>
                <button kendoButton #target [icon]="'more-vertical'" [look]="'flat'"></button>

                <app-location-item-context-menu
                  [target]="target"
                  (openAddItemDialog)="openAddLocationDialog(dataItem)"
                  (openEditItemDialog)="openEditLocationDialog(dataItem)"
                  (openDeleteItemDialog)="openDeleteLocationDialog(dataItem)"
                ></app-location-item-context-menu>
              </div>
            </ng-template>
          </kendo-treeview>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
  <div id="rightWrapper" fxFlex="75" fxLayout="column" class="right-section">
    <app-up-down-group-widget id="cardContainer" class="card-container" [columns]="4" [cards]="cards">
    </app-up-down-group-widget>
    <div
      class="map-location-container"
      fxLayout.xl="row"
      fxLayout.lg="row"
      fxLayout.md="column"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign="space-between stretch"
    >
      <div
        id="mapContainer"
        class="map-container"
        [fxFlex.xl]="is3dViewVisible ? 48.5 : 100"
        [fxFlex.lg]="is3dViewVisible ? 48.5 : 100"
        [fxFlex.md]="'80vh'"
        [fxFlex.sm]="'80vh'"
        [fxFlex.xs]="'80vh'"
        fxLayout="column"
      >
        <div id="mapHeader" fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="address-info" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="left" fxFlex="100">
              <div class="row" fxLayout="row" fxLayoutAlign="start center">
                <div class="label" fxFlex="30">Location name:</div>
                <div class="value" fxFlex="70">
                  {{ selectedLocation?.metadata?.name }}
                </div>
              </div>
              <div class="row" fxLayout="row" fxLayoutAlign="start center">
                <div class="label" fxFlex="30">Address:</div>
                <div class="value" fxFlex="70">
                  {{ selectedLocation?.spec?.address || 'Unknown' }}
                </div>
              </div>
              <div class="row" fxLayout="row" fxLayoutAlign="start center">
                <div class="label" fxFlex="30">Time Zone:</div>
                <div class="value" fxFlex="70">
                  {{ selectedLocation?.status?.geo?.timeZoneID || 0 }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="mapContent" fxFlex="80">
          <agm-map
            [fullscreenControl]="true"
            [mapTypeControl]="true"
            [zoom]="zoom"
            [minZoom]="2.2"
            [mapTypeControlOptions]="{ position: 10 }"
            [latitude]="latitude"
            [longitude]="longitude"
            [streetViewControl]="false"
            [styles]="mapStyles"
          >
            <ng-container>
              <agm-marker
                *ngFor="let marker of locationMarkers"
                [latitude]="marker.latitude"
                [longitude]="marker.longitude"
                [agmFitBounds]="!!isSelected"
                (mouseOver)="onMouseOverMaker(infoWindow, $event)"
                (mouseOut)="onMouseOutMarker(infoWindow, $event)"
              >
                <agm-info-window [disableAutoPan]="false" #infoWindow>
                  <div class="marker-info">
                    <p class="location"><span>Location:</span> {{ marker.location }}</p>
                    <p class="address"><span>Address:</span> {{ marker.address }}</p>
                  </div>
                </agm-info-window>
              </agm-marker>
            </ng-container>
          </agm-map>
        </div>
      </div>

      <div
        class="location-room-card"
        [fxFlex.xl]="48.5"
        [fxFlex.lg]="48.5"
        [fxFlex.md]="'80vh'"
        [fxFlex.sm]="'80vh'"
        [fxFlex.xs]="'80vh'"
        fxLayout="column"
        *ngIf="is3dViewVisible"
      >
        <div class="card">
          <roomplanner-viewer
            [location]="locationRoom"
            [layers]="layers"
            [locationApiGroup]="selectedLocation?.apiGroup"
            [tenantName]="selectedTenant?.metadata?.name"
            [locationName]="selectedLocation?.metadata?.name"
          >
          </roomplanner-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
