
.card-container {
    flex: none !important;
}

.card-container {
    max-height: 100% !important;
    display: inline-block;
}

.location-area {
    flex: none;
    display: inline-block !important;
    width: 100%;
    background-color: #fff;
    padding-top: 0px;
    top: 10px;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.location-address-w {
    width: 70% !important;
    display: inline-block;
    float: left;
}

.lat-log-w {
    width: 30% !important;
    display: inline-block;
    float: left;
}

.address-info {
    width: 100%;

}

.location-address-label {
    max-width: 30%;
    display: inline-block;
    float: left;
    width: 100%;
}

.location-address-inner {
    max-width: 70%;
    display: inline-block;
    float: left;
    width: 100%;
}

.location-address-lat-log-inner {
    text-align: right;
}

.location-address-lat-log-row {
    padding-bottom: 10px;
    width: 100%;
    float: left;
}


.location-time-zone{
    width: 100%;
}

.location-time-zone-left-panel{
    width: 70%;float: left;
}

.location-name-time-zone{
    width: 100%;float: left;padding: 5px 10px;
}

.location-name-time-zone-lable{
    width: 20%;float: left;font-weight: bold;
    line-height: 18px;
    font-size: 13px;
    color: #353f66;
}

.location-name-time-zone-input{
    float: left;background: #f8fbfc;
    border-radius: 6px;
    width: 50%;
    padding: 5px 10px;

}

.address-time-zone{
    width: 100%;float: left;padding: 5px 10px;
}

.address-name-time-zone-lable{
    width: 20%;float: left;font-weight: bold;
    line-height: 18px;
    font-size: 13px;
    color: #353f66;
}

.address-name-time-zone-input{
    float: left;background: #f8fbfc;
    border-radius: 6px;
    width: 50%;
    padding: 5px 10px;
}

.location-time-zone-right-panel{
    width: 30%;float: left;padding: 5px 10px;
}


.timezone-name-time-zone-lable{
    width: 30%;float: left;font-weight: bold;
    line-height: 18px;
    font-size: 13px;
    color: #353f66;
    padding-top: 6px;
}

.timezone-name-time-zone-input{
    width: 70%;float: left;background: #f8fbfc;
    border-radius: 6px;
    padding: 5px 10px;
}

.right-section {
    padding-bottom: 10px;
}


@media screen and (max-width: 1300px) {

    .location-time-zone-left-panel{
        width: 60%;
    }
    .location-time-zone-right-panel{
        width: 40%;
    }

    .location-name-time-zone-lable{
        width: 30%;
       
    }
    
    .location-name-time-zone-input{
        width: 60%;
    
    }

    .address-name-time-zone-lable{
        width: 30%;
    }
    
    .address-name-time-zone-input{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .location-address-label {
        max-width: 35%;
        display: inline-block;
        float: left;
        width: 100%;
    }

    .location-address-inner {
        max-width: 60%;
        display: inline-block;
        float: left;
        width: 100%;
    }
    .timezone-name-time-zone-lable{
        width: 25%;
    }
    
    .timezone-name-time-zone-input{
        width: 75%;
    }
}



@media screen and (max-width: 768px) {
    .side-bar {
        max-width: 150px !important;
    }

    .right-section {
        padding-left: 10px !important;
    }
    .location-time-zone-left-panel{
        width: 100%;
    }
    .location-time-zone-right-panel{
        width: 100%;
    }

    .timezone-name-time-zone-lable{
        width: 30%;
    }
    
    .timezone-name-time-zone-input{
        width: 70%;
    }


    
    .location-name-time-zone-input{
        width: 70%;
    
    }

 
    
    .address-name-time-zone-input{
        width: 70%;
    }

    .map-height {
        height: 200px !important;
    }
}


@media screen and (max-width: 767px) {

    .location-address-w {
        max-width: 100% !important;
    }

    .location-address-w {
        width: 100% !important;
    }

    .lat-log-w {
        width: 100% !important;
    }
}

@media screen and (max-width: 550px) {
    .location-name-time-zone-lable{
        width: 100%;
       
    }
    
    .location-name-time-zone-input{
        width: 100%;
    
    }

    .address-name-time-zone-lable{
        width: 100%;
    }
    
    .address-name-time-zone-input{
        width: 100%;
    }
    .timezone-name-time-zone-lable{
        width: 100%;
    }
    
    .timezone-name-time-zone-input{
        width: 100%;
    }
   
}

.k-tabstrip-items .k-item {
    color: #958787;
}

.relative-container {
    position: relative;
}

.add-new-tenant-btn {
    color: #039be5 !important;
    position: absolute;
    right: 10px;
    border: none !important;
    cursor: pointer !important;
    z-index: 1020;
}

.location-room-card {
    margin-left: 10px;
    .card {
        min-height: 460px;
        padding: 15px;
        background: #ffffff;
        box-shadow: 0 2px 15px rgba(95, 101, 126, 0.2);
        border-radius: 5px;
        overflow: hidden;
        height: 100%;
    }
}

@media (max-width: 1279px) {
    .location-room-card {
        margin-left: 0px;
        margin-top: 10px;
    }
  }

.map-location-container {
    height: 86%;
    padding-top: 16px;
    padding-bottom: 16px;
}
    
.location-name-margin {
    margin: 0;
}

.location-list {
  max-height: calc(100vh - 135px);
  overflow-y: auto;
}

.tree-count {
    border: 1px solid #dee5f7;
    border-radius: 11px;
    text-align: center;
    margin: 0 5px 0 0;
    width: 40px !important;
    max-width: 40px !important;
    background: #199be5 0 0 no-repeat padding-box;
    color: #fff;
}

.header-tree {
    position: absolute;
    right: 45px;
}
