<div fxLayout="column" fxFill>
    <h1 *ngIf="!loading  && !revisions">No revisions</h1>
    <h1 *ngIf="mode === MODE.DIFF && revisions && !left && !right">Select cards to view or compare</h1>
    <div
        *ngIf="revisions && mode === MODE.SELECT"
        class="revisions-container"
        fxFlex
        fxLayout
        fxLayoutAlign="center center"
    >
        <se-container
            width="700px"
            height="480px"
            (select)="onSelectCards($event)"
            (dblclick)="viewCard($event)"
        >
            <se-item *ngFor="let item of revisions.items; let i = index">
                <revision
                    [creationTimestamp]="item.metadata.creationTimestamp"
                    [content]="item"
                    [revision]="item.metadata.resourceVersion || ''"
                    [isAfter]="item.metadata.resourceVersion === versionAfter"
                ></revision>
            </se-item>
        </se-container>
    </div>
    <ng-container *ngIf="mode === MODE.DIFF">
        <app-content-diff
            *ngIf="left && right"
            [left]="left"
            [right]="right"
        ></app-content-diff>
        <div class="content" *ngIf="left && !right">
            <pre><code>{{ left }}</code></pre>
        </div>
    </ng-container>
</div>
