<div
  class="menu-wrapper not-admitted"
  fxFlex="auto"
  fxLayout="row"
  fxLayoutAlign="start center"
>
  <mat-icon
    class="secondary-text arrow mr-0"
    style="margin-left: -10px; margin-right: 12px !important"
    >navigate_next</mat-icon
  >

  <kendo-dropdownlist
    [popupSettings]="{ width: 150, popupClass: 'popup-custom for-breadcrumb' }"
    class="inverted-detail"
    fxLayout="row"
    fxLayoutAlign="start center"
    [defaultItem]="defaultItem"
    (valueChange)="updatePlatform($event)"
    [data]="selectedPlatform$ | async"
    [(ngModel)]="platformSelected"
    [iconClass]="'k-i-arrow-chevron-down'"
    [textField]="'name'"
    [valueField]="'id'"
  >
  </kendo-dropdownlist>

  <mat-icon class="secondary-text arrow mr-0">navigate_next</mat-icon>

  <div fxLayoutAlign="start center" class="ml-auto w-100-p">
    <ng-multiselect-dropdown
      fxLayout="row"
      fxLayoutAlign="start center"
      class="mr-10"
      [placeholder]="'Select Ports'"
      [data]="dropdownList"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)"
      (onDeSelect)="onItemDeSelect($event)"
      [(ngModel)]="selectedItems"
      (ngModelChange)="onChange($event)"
    >
    </ng-multiselect-dropdown>
  </div>

</div>
