.menu-wrapper {
  .left-float {
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
  }
  .success mr-16 {
    margin-right: 40px;
    width: 100px;
  }
  .default mr-16 {
    margin-right: 4px;
    align-items: center;
    width: 100px;
  }
}

.popup-custom {
  min-width: 100px;
  margin-top: 20px;
}

:host ::ng-deep {
  kendo-dropdownlist {
    margin-right: 0px;
    margin-left: -10px;
  }

  ng-multiselect-dropdown {
    .dropdown-list {
      margin-top: 5px !important;
      box-shadow: 0 1px 1px #959595;
      background-color: #fafafa;
      border-radius: 0;
      min-width: 200px;
    }
  }

  .multiselect-dropdown .dropdown-btn .dropdown-up,
  .multiselect-dropdown .dropdown-btn .dropdown-down {
    border: 0 !important;
    width: 1em;
    height: 1em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "WebComponentsIcons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 6px;
    &::before{
      content: "\e015";
    }
  }
}
