

<form #form="ngForm" class="k-form" *ngIf="networktemplate" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="specNetworkAccessControl">Network Access Control </label>
        <mat-checkbox [disabled]="false" class="example-margin" name="spec.networkAccessControl" [(ngModel)]="networktemplate.spec.networkAccessControl" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="specNetworkTrafficAnalytics">Network Traffic Flow Analytics </label>
        <mat-checkbox [disabled]="false" class="example-margin" name="spec.networkTrafficAnalytics" [(ngModel)]="networktemplate.spec.networkTrafficAnalytics" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specNetworking">Networking </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #specNetworking="ngModel"
	    [readonly]="false"
	    name="specNetworking"
            [(ngModel)]="networktemplate.spec.networking"
            [data]="networking_spec_networking_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
        </kendo-dropdownlist>
    </div>
</form>
