


<div kendoDialogContainer></div>
<gridster fuseNavigationMenuGlidster *ngIf="networktemplate" id="networktemplate-grid" name="networktemplate-grid" [options]="options">

    <ng-container *ngFor="let item of activeDashboards; let index = index" [ngSwitch]="item.reportType">

        <ng-container *ngSwitchCase="itemType.LABELS">
            <gridster-item [item]="item" *ngIf="labels && labels.length > 0">
                <labels-grid-item [labels]="labels"></labels-grid-item>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.NETWORKTEMPLATE_TEMPLATE_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Template</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <networktemplate-template
			            
			             [networktemplate]="networktemplate" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></networktemplate-template>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.NETWORKTEMPLATE_FEATURES_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Features</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <networktemplate-features
			            
			             [networktemplate]="networktemplate" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></networktemplate-features>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.NETWORKTEMPLATE_DNSSERVER_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>DNS Server</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <networktemplate-dnsserver
			            
			             [networktemplate]="networktemplate" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></networktemplate-dnsserver>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.NETWORKTEMPLATE_FLOWCONFIG_DETAILCARD">
            <gridster-item [item]="item" class="list-in-detail">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Network Traffic Flow Analytics</span>
                            <div menuItems>
				<button (click)="FlowConfigStructListComponent.onAddHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Add</span>
				</button>
				<button (click)="FlowConfigStructListComponent.onInsertBeforeHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Insert Before</span>
				</button>
				<button (click)="FlowConfigStructListComponent.onInsertAfterHandler()" mat-menu-item>
				    <mat-icon>playlist_add</mat-icon>
				    <span>Insert After</span>
				</button>
				<button (click)="FlowConfigStructListComponent.editSelectedItem()" mat-menu-item>
				    <mat-icon>edit</mat-icon>
				    <span>Edit</span>
				</button>
				<button (click)="FlowConfigStructListComponent.removeSelectedItem()" mat-menu-item>
				    <mat-icon>delete</mat-icon>
				    <span>Delete</span>
				</button>
                            </div>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <FlowConfig-struct-list #FlowConfigStructListComponent [pageSize]=item.pageSize (setRows)="setHeightGridster(index, item, $event)" 
			            
			             [networktemplate]="networktemplate" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></FlowConfig-struct-list>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.NETWORKTEMPLATE_NETWORKMON_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Network Monitoring Only</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <networktemplate-networkmon
			            
			             [networktemplate]="networktemplate" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></networktemplate-networkmon>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.NETWORKTEMPLATE_NETWORKPROV_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Networking Monitoring And Provisioning</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <networktemplate-networkprov
			            
			             [networktemplate]="networktemplate" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></networktemplate-networkprov>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="itemType.CHART">
    	    <gridster-item class="shared-chart" [item]="item">
        	<shared-chart-header-widget title #widgetHeader [widget]="item" (edit)="chartWidget.editWidget($event)"
            	    (gridsterStateChanged)="changeGridsterState(item, false)" (panelJson)="chartWidget.jsonWidget($event, index)"
            	    (remove)="chartWidget.removeWidget($event)" (view)="customViewWidget($event)">
        	</shared-chart-header-widget>
        	<shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async"
            	    [interval]="widgetHeader.refreshTimeObs | async">
        	</shared-chart-widget>
    	    </gridster-item>
    	</ng-container>
    </ng-container>
</gridster>

