<h3 style="margin-top: 0px;">{{formData? 'Update': 'New'}} Panel</h3>
<form [formGroup]="widgetForm" class="form">
  <mat-tab-group  mat-dialog-content (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Create chart">
      <div>
        <!-- <div fxLayout="row wrap" fxLayoutAlign="center start"> -->
        <div fxLayout="column">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Widget Title" formControlName="title">
            <mat-error *ngIf="formSubmitted && widgetForm.get('title').invalid">panel title is required</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Chart Type</mat-label>
            <mat-select placeholder="Chart Type" formControlName="type">
              <mat-option *ngFor="let chart of chartsOption " [value]="chart.metadata.name">{{chart?.spec?.title}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formSubmitted && widgetForm.get('type').invalid">chart type is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Privilege list</mat-label>
            <mat-select placeholder="Chart Type" formControlName="privilege">
              <mat-option *ngFor="let privilage of privilageList " [value]="privilage.metadata.name">
                {{privilage?.metadata?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formSubmitted && widgetForm.get('privilege').invalid">privilege is required</mat-error>
          </mat-form-field>
          <div fxLayout="row wrap">
            <div fxFlex="80%"></div>
            <button fxFlex="20%" mat-icon-button color="primary" class="add-query"
              [disabled]="widgetForm.value.privilege == '' || maxCount <= 0" (click)="addItem()">
              <mat-icon aria-hidden="false" aria-label="Notifications">add_box</mat-icon>
            </button>
          </div>
          <div fxFlex="100">
            <hr>
          </div>

          <div formArrayName="query" fxFlex="100">
            <div *ngFor="let query of widgetForm.controls['query']['controls']; let i=index">
              <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between stretch">
                <button fxFlexAlign="center" mat-icon-button class="remove-query" (click)="removeItem(i)" fxFlex="15%">
                  <mat-icon aria-hidden="false" aria-label="Notifications">remove_circle</mat-icon>
                </button>
                <mat-form-field fxFlexAlign="center" appearance="outline" fxFlex="80%">
                  <mat-label>Select Query</mat-label>
                  <mat-select placeholder="Select Query" formControlName="query">
                    <mat-option *ngFor="let query of queryTypes" [value]="query.metadata.name"
                      [disabled]="isSelected(query.metadata.name)">
                      {{query?.spec?.query_info?.title}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formSubmitted && widgetForm.get('query').invalid">query type is required</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </mat-tab>
    <mat-tab label="Import chart from json">
      <ace-editor [(text)]="data" mode="json" #editor style="min-height: 323px; width:100%; overflow: auto;">
      </ace-editor>
    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="dialogRef.close()" class="cancel">Cancel</button>
    <button type="submit" mat-raised-button color="primary" (click)="submitForm()" cdkFocusInitial>
      {{formData? 'Update': 'Add'}}
    </button>
  </div>
</form>
