<div class="navbar-header"
    [ngClass]="fuseConfig.layout.navbar.secondaryBackground"
    *ngIf="fuseConfig.layout.style != 'horizontal-layout-2'">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/wavesurf-logo.svg">
        <span class="logo-text">WaveSurf</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>
<div class="navbar-content" >
    <fuse-navigation layout="vertical"></fuse-navigation>
</div>
