// @import "src/@fuse/scss/fuse";

.navbar-content {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    &.icon-only .nav-link.active,
    &.icon-only .nav-item.nav-collapsable.open {
        max-width: 40px;
    }
}

// fuse-sidebar {
//     overflow: visible;
//     &.navbar-fuse-sidebar {
//         // overflow: hidden;

//         &.folded:not(.unfolded) {

//             navbar {

//                 navbar-vertical-style-2 {

//                     .navbar-header {
//                         padding: 0 13px;

//                         .logo {

//                             .logo-text {
//                                 opacity: 0;
//                                 transition: opacity 200ms ease;
//                             }
//                         }
//                     }

//                     .navbar-content {
//                         overflow: visible !important;
//                         // Material 2 specific style
//                         .material2 {

//                             .nav-item {

//                                 .nav-link {
//                                     border-radius: 20px;
//                                     margin: 0 12px;
//                                     padding: 0 12px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// navbar {

//     &.vertical-style-2 {
//         display: flex;
//         flex-direction: column;
//         flex: 1 1 auto;
//         width: 100%;
//         height: 100%;

//         &.right-navbar {

//             .toggle-sidebar-opened {

//                 mat-icon {
//                     transform: rotate(180deg);
//                 }
//             }
//         }
//     }

//     navbar-vertical-style-2 {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         height: 100%;

//         .navbar-header {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             height: 64px;
//             min-height: 64px;
//             padding: 0 16px 0 12px;
//             transition: padding 200ms ease;
//             @include mat-elevation(1);

//             .logo {
//                 display: flex;
//                 align-items: center;

//                 .logo-icon {
//                     width: 38px;
//                     height: 38px;
//                 }

//                 .logo-text {
//                     margin-left: 8px;
//                     font-size: 20px;
//                     font-weight: 300;
//                     letter-spacing: 0.4px;
//                 }
//             }
//         }

//         .navbar-content {
//             flex: 1 1 auto;
//             overflow-y: auto;
//             -webkit-overflow-scrolling: touch;
//         }

//     }
// }

// :host {
//     .navbar-content {
//         overflow: visible;
//     }
// }

navbar navbar-vertical-style-2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
