<form novalidate>
  <div class="my-4">
    <div class="form-inline delete-tenant-form">
      <div class="delete-message">Are you sure you want to delete this tenant?</div>
      <label class="mr-2 text-medium-large" for="confirmationText">
        <ng-container>Type </ng-container>
        "{{ expectedConfirmationText }}"
        <ng-container> to confirm</ng-container>
      </label>
      <input
        type="text"
        matInput
        [(ngModel)]="confirmationText"
        name="confirmationText"
        id="confirmationText"
        class="delete-input"
        autofocus
      />
    </div>
  </div>
</form>

<kendo-dialog-actions class="no-border kendo-actions-container">
  <button kendoButton class="btn bulk-actions cancel" [icon]="'close-circle'" (click)="onCancel()">Cancel</button>
  <button
    kendoButton
    class="btn btn-primary bulk-actions save"
    [icon]="'save'"
    [primary]="true"
    [disabled]="!isConfirmed"
    (click)="onDelete()"
  >
    Delete
  </button>
</kendo-dialog-actions>
