<kendo-dialog-titlebar>
  <div style="font-size: 18px; line-height: 1.3em">Custom recurrence</div>
</kendo-dialog-titlebar>
<div class="container">
  <div class="item">
    <label [for]="everyday">Repeat every </label>
    <kendo-numerictextbox
      #everyday
      [format]="'decimal'"
      [disabled]="didRepeatDisabled"
      [min]="1"
      [max]="100"
      [autoCorrect]="autoCorrect"
      [(ngModel)]="repeatNumber"
      class="sm"
    >
    </kendo-numerictextbox>
    <kendo-dropdownlist
      class="sm"
      [(ngModel)]="selectedRepeatType"
      [data]="repeatTypeList"
      (valueChange)="onRepeatTypeChanage($event)"
    >
    </kendo-dropdownlist>
  </div>
  <div id="week-wrapper" *ngIf="selectedRepeatType === 'weeks'">
    <div style="margin-bottom: 5px">Repeat on</div>
    <div class="weekdays">
      <week-day-item
        *ngFor="let weekDay of weekDays"
        [isSelected]="weekDay.isSelected"
        [value]="weekDay.value"
        [text]="weekDay.text"
        [fullText]="weekDay.fullText"
        (onChange)="onWeekDayChange($event)"
      ></week-day-item>
    </div>
  </div>
  <div id="monthly-wrapper" *ngIf="selectedRepeatType === 'months'">
    <kendo-dropdownlist
      class="md"
      [textField]="'text'"
      [valueField]="'value'"
      [(ngModel)]="selectedMonthlyRepeatValue"
      [data]="monthlyRepeatList"
      (valueChange)="onMonthlyRepeatChange($event)"
    >
    </kendo-dropdownlist>
  </div>
  <!-- <div class="item-row">
    <div>Ends</div>
    <div class="option">
      <input type="radio" name="never" value="never" #never [(ngModel)]="endOption" kendoRadioButton />
      <label [for]="never" class="option">Never</label>
    </div>
    <div class="option">
      <input type="radio" name="on" value="on" #on [(ngModel)]="endOption" kendoRadioButton />
      <label [for]="on" class="option">On</label>
      <kendo-datepicker [disabled] = "endOption !='on'" #endsOn [value]="date"></kendo-datepicker>
    </div>
    <div class="option">
      <input type="radio" name="after" value="after" #after [(ngModel)]="endOption" kendoRadioButton />
      <label [for]="after" class="option">After</label>
      <kendo-numerictextbox
        [disabled] = "endOption !='after'"
        [format]="'decimal'"
        [min]="1"
        [max]="1000"
        [autoCorrect]="autoCorrect"
        [(ngModel)]="repeat"
      >
      </kendo-numerictextbox>
      occurrence
    </div>
  </div> -->
</div>
<kendo-dialog-actions>
  <button kendoButton (click)="onCancelAction()" [primary]="true">Cancel</button>
  <button kendoButton (click)="onConfirmAction()" [primary]="true">Save</button>
</kendo-dialog-actions>
