.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.item-row {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-end;
  padding: 10px;

  div.option {
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  label.option {
    margin-left: 10px;
    width: 55px;
  }
}
#week-wrapper{
  padding: 10px;
}
#monthly-wrapper{
  padding: 10px;
}
.weekdays {
  display: flex;
  flex-direction: row;
}
:host ::ng-deep {
  .sm {
    width: 90px;
  }
  .md{
    width: 300px;
  }
  kendo-numerictextbox.sm {
    width: 80px;
    margin-right: 20px;
  }
  label {
    padding-right: 10px;
  }
}
