

<form #form="ngForm" class="k-form" *ngIf="endpoint" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDeviceName" class="label-top">Description </label>
	 <input [readonly]="true"
            #statusDeviceName
            kendoTextBox
            [(ngModel)]="endpoint?.status.deviceName"
            name="status.deviceName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusVendor" class="label-top">Vendor </label>
	 <input [readonly]="true"
            #statusVendor
            kendoTextBox
            [(ngModel)]="endpoint?.status.vendor"
            name="status.vendor"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusOs" class="label-top">OS </label>
	 <input [readonly]="true"
            #statusOs
            kendoTextBox
            [(ngModel)]="endpoint?.status.os"
            name="status.os"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
