<div class="kendo-dialog-content">
    {{ message }}
  </div>
  <kendo-dialog-actions class="no-border kendo-actions-container">
    <button
      kendoButton
      class="btn bulk-actions cancel"
      (click)="onNoBtnClicked()"
    >
      No
    </button>
    <button
      kendoButton
      class="btn btn-primary bulk-actions save"
      (click)="onYesBtnClicked()"
    >
      Yes
    </button>
  </kendo-dialog-actions>
  
