<div class="revision-header" fxLayout fxLayoutAlign="space-between center">
    <div class="revision-date">{{ creationTimestamp | date:'long' }}</div>
    <div *ngIf="isAfter" class=""></div>
    <div *ngIf="revision" class="revision-number">Revision {{ revision }}</div>
</div>
<div class="revision-content">
    <pre>{{ stringContent }}</pre>
</div>
