:host {
	flex: 1;
	transform: translate3d(0px, 0px, 0px);
	border-radius: 9px;
	padding: 8px 15px;
	background: white;

	.revision {
		&-date {
			font-size: 16px;
			font-weight: 600;
		}

		&-number {
			padding: 4px 8px;
			font-size: 14px;
			background-color: #007bff;
			color: white;
			border-radius: 4px;
		}

		&-content {
			margin-top: 8px;
			max-height: 400px;
			overflow: auto;
		}
    }
}
