.item{
    background-color: #f1f3f4;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 5px;
}
.item.selected{
    background-color: #039be5;

    .content{
        color: white;
    }
}
