// Card styles
.card-widget {
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0px 3px 6px #D7E1F4;
  border-radius: 10px;
  padding: 10px 20px;
  height: 88px;
  .card-header {
      > h3 {
          font-family: "Poppins", sans-serif;
          font-weight: normal;
          font-size: 16px;
          color: #199BE5;
          margin: 0;
      }

  }
  .card-content {
      margin: 17px 0 0 0;
      //border-bottom: 3px solid #EBF0FA;
      & > div span {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 28px;
      }
      .value {
          color: #3CBA0D;
          &.card-red {
            color: #FC6666;
          }
          &.card-green {
            color: #3CBA0D;
          }
          &.card-yellow {
            color: #FFB000;
          }
        .up-label {
          font-size: 12px;
          margin: 0 0 0 10px;
        }
      }
  }
}


.card-selected{
border-top: 10px solid green;
padding: 5px 20px;
}

span.total-label {
  font-size: 12px !important;
  color: #5c5c5c;
  margin-top: 17px;
}

.number-label{
  font-size: 20px !important;
  padding-top: 20px;
  padding-left: 8px;
}
 

