<div class="card-widget" fxLayout="column" fxLayoutAlign="start" [class.card-selected]="card.selected" (click)="cardSelect()">
    <div class="card-header" fxFlex="10">
        <h3>{{card.name}}</h3>
    </div>
    <div class="card-content" fxFlex="50"
         fxLayout="row"
         fxLayoutAlign="space-between center">
        <div class="value" fxFlex="100" [ngClass]="'card-'+card.color"
             fxLayoutAlign="center center"
             fxLayout="row">
            <span>{{card.count}}</span>
        </div>
    </div>
</div>
