.container {
  padding: 20px;
}
.md {
  width: 270px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;

  .decorator {
    margin-right: 10px;
  }
}
.action {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
div.summary {
  max-width: 300px;
}
.label {
  display: flex;
  padding: 0;
  min-width: 80px;
  padding-right: 10px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #353f66;
}
.item.baseline {
  align-items: baseline;
}
::ng-deep {
  .k-input,
  .k-list-scroller li.k-item,
  div.summary {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
}
