
<div class="container">
  <div class="title"></div>
  <div class="conent">
    <div class="item">
      <label class="label" for="terms">Now</label>
      <input
        type="checkbox"
        id="terms"
        kendoCheckBox
        [(ngModel)]="isNow"
        (change)="onChangeNowButton($event)"
      />
    </div>
    <ng-container *ngIf="!isNow">
      <div class="item" *ngIf="isTimezoneEnabled">
        <span class="label">Timezone</span>
        <kendo-dropdownlist
          class="md"
          [(ngModel)]="timezone"
          [data]="allTimezones"
        >
        </kendo-dropdownlist>
      </div>
      <div class="item">
        <span class="label">Date/Time</span>
        <kendo-datetimepicker
          class="md"
          [format]="format"
          (valueChange)="onChangeDate($event)"
          [(value)]="selectedDate"
        >
        </kendo-datetimepicker>
      </div>
      <div class="item">
        <span class="label">Repeat</span>
        <kendo-dropdownlist
          class="md"
          [textField]="'text'"
          [valueField]="'value'"
          [(ngModel)]="selectedValue"
          [data]="repeatListItems"
          (valueChange)="onChange($event)"
          [popupSettings]="'{ popupClass: custom }'"
        >
        </kendo-dropdownlist>
      </div>
    </ng-container>
    <div class="item baseline">
      <span class="label">Summary</span>
      <div class="summary">{{ summary }}</div>
    </div>
  </div>
</div>

