
<gridster fuseNavigationMenuGlidster id="report-grid" name="report-grid" [options]="options" *ngIf="pageName" [ngSwitch]="pageName">

    <ng-container *ngSwitchCase="'admitdevice'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Admit Device (Admit Device Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'attributeset'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Attribute Set (Attribute Set Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'audit'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Audit (Audit Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'device'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Interface Configuration)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Platform Component Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item3">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Interfaces)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu3"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu3="matMenu">
                            <button mat-menu-item *ngIf="!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item3)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item4">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Platform Components)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu4"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu4="matMenu">
                            <button mat-menu-item *ngIf="!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item4)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item5">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Switchdetail)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu5"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu5="matMenu">
                            <button mat-menu-item *ngIf="!item5?.resizeEnabled" (click)="changeGridsterState(item5)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item5?.resizeEnabled" (click)="changeGridsterState(item5)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item5)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item6">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Ethernet Configuration)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu6"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu6="matMenu">
                            <button mat-menu-item *ngIf="!item6?.resizeEnabled" (click)="changeGridsterState(item6)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item6?.resizeEnabled" (click)="changeGridsterState(item6)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item6)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item7">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Temperature Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu7"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu7="matMenu">
                            <button mat-menu-item *ngIf="!item7?.resizeEnabled" (click)="changeGridsterState(item7)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item7?.resizeEnabled" (click)="changeGridsterState(item7)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item7)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item8">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (IP)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu8"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu8="matMenu">
                            <button mat-menu-item *ngIf="!item8?.resizeEnabled" (click)="changeGridsterState(item8)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item8?.resizeEnabled" (click)="changeGridsterState(item8)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item8)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item9">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (General)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu9"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu9="matMenu">
                            <button mat-menu-item *ngIf="!item9?.resizeEnabled" (click)="changeGridsterState(item9)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item9?.resizeEnabled" (click)="changeGridsterState(item9)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item9)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item10">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Memory Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu10"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu10="matMenu">
                            <button mat-menu-item *ngIf="!item10?.resizeEnabled" (click)="changeGridsterState(item10)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item10?.resizeEnabled" (click)="changeGridsterState(item10)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item10)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item11">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Neighbor Discovery)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu11"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu11="matMenu">
                            <button mat-menu-item *ngIf="!item11?.resizeEnabled" (click)="changeGridsterState(item11)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item11?.resizeEnabled" (click)="changeGridsterState(item11)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item11)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item12">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Layer2 Status)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu12"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu12="matMenu">
                            <button mat-menu-item *ngIf="!item12?.resizeEnabled" (click)="changeGridsterState(item12)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item12?.resizeEnabled" (click)="changeGridsterState(item12)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item12)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item13">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Power Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu13"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu13="matMenu">
                            <button mat-menu-item *ngIf="!item13?.resizeEnabled" (click)="changeGridsterState(item13)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item13?.resizeEnabled" (click)="changeGridsterState(item13)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item13)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item14">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (Status)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu14"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu14="matMenu">
                            <button mat-menu-item *ngIf="!item14?.resizeEnabled" (click)="changeGridsterState(item14)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item14?.resizeEnabled" (click)="changeGridsterState(item14)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item14)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item15">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device (SVI)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu15"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu15="matMenu">
                            <button mat-menu-item *ngIf="!item15?.resizeEnabled" (click)="changeGridsterState(item15)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item15?.resizeEnabled" (click)="changeGridsterState(item15)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item15)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'deviceattributeset'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device Attribute Set (Device Attribute Set Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'deviceui'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device UI (Device UI Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'endpoint'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint (Identity)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint (Attributes)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item3">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint (Connectivity)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu3"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu3="matMenu">
                            <button mat-menu-item *ngIf="!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item3)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item4">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint (Authentication)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu4"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu4="matMenu">
                            <button mat-menu-item *ngIf="!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item4)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item5">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint (DHCP)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu5"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu5="matMenu">
                            <button mat-menu-item *ngIf="!item5?.resizeEnabled" (click)="changeGridsterState(item5)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item5?.resizeEnabled" (click)="changeGridsterState(item5)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item5)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'endpointaux'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>End Point Aux (End Point Aux Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'endpointset'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint Set (EndPoint Set Conditions)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>EndPoint Set (Template)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'file'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>File (File Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'floorspace'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Floor Space (Floor Space Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'ifinterface'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Interface Configuration (Interface Configuration)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Interface Configuration (Ethernet Configuration)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item3">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Interface Configuration (Neighbor Discovery)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu3"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu3="matMenu">
                            <button mat-menu-item *ngIf="!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item3)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item4">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Interface Configuration (Layer2 Status)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu4"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu4="matMenu">
                            <button mat-menu-item *ngIf="!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item4)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'location'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Location (Location Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'networktemplate'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Network Template (Template)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Network Template (Features)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item3">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Network Template (DNS Server)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu3"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu3="matMenu">
                            <button mat-menu-item *ngIf="!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item3)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item4">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Network Template (Network Traffic Flow Analytics)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu4"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu4="matMenu">
                            <button mat-menu-item *ngIf="!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item4)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item5">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Network Template (Network Monitoring Only)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu5"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu5="matMenu">
                            <button mat-menu-item *ngIf="!item5?.resizeEnabled" (click)="changeGridsterState(item5)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item5?.resizeEnabled" (click)="changeGridsterState(item5)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item5)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item6">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Network Template (Networking Monitoring And Provisioning)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu6"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu6="matMenu">
                            <button mat-menu-item *ngIf="!item6?.resizeEnabled" (click)="changeGridsterState(item6)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item6?.resizeEnabled" (click)="changeGridsterState(item6)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item6)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'platformcomponent'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Platform Name (Platform Component Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Platform Name (Temperature Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item3">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Platform Name (Memory Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu3"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu3="matMenu">
                            <button mat-menu-item *ngIf="!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item3?.resizeEnabled" (click)="changeGridsterState(item3)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item3)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

        <gridster-item [item]="item4">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Platform Name (Power Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu4"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu4="matMenu">
                            <button mat-menu-item *ngIf="!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item4?.resizeEnabled" (click)="changeGridsterState(item4)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item4)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'radio'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Radio (Radio Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'radioinfo'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Radio Info (Radio Info Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'snapshottask'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Snapshot Task (Snapshot Task Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'ssid'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>SSID (SSID Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'subinterface'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Subinterface (Subinterface Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'tenant'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Tenant (Tenant Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>

    <ng-container *ngSwitchCase="'walljack'">

        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Wall Jack (Wall Jack Details)</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Move</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>receipt</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>

    </ng-container>
</gridster>
