// test
:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .drag-handler {
    width: auto;
  }

  .table-header-add {
    width: 24px;
    margin-right: 5px;
  }
  .table-header-controls {
    .mat-ripple {
      display: none !important;
    }
    .mat-menu-item {
      height: auto;
      &:hover {
        background: none;
      }
    }
  }
}
.mat-button {
  border-radius: none !important;
  width: 100%;
}

.break {
  color: #464748;
  border: 0.5px solid;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0px;
}

::ng-deep {
  .pagination {
    margin-right: 10px;

    .description {
      color: #5f657e;
      font-size: 13px;
      line-height: 19px;
      margin-left: 10px;
    }
  }
  .widget-menu-position {
    + .cdk-overlay-connected-position-bounding-box {
      align-items: center !important;
    }
  }
}
