<mat-card>
    <mat-card-header>
        <mat-card-title>
            Server Properties
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form id="serverForm" name="serverForm" novalidate fxLayout="column" fxLayoutAlign="start"
            [formGroup]="serverForm"
            (ngSubmit)="submit()">
            <mat-form-field fxFlex>
                <input matInput placeholder="Product Name:" formControlName="productName">
                <mat-error *ngFor="let validation of validationMessages.productName">
                    <mat-error class="error-message"
                        *ngIf="(form.description.touched || form.description.dirty) && form.description.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Serial Number:" formControlName="serialNumber">
                <mat-error *ngFor="let validation of validationMessages.serialNumber">
                    <mat-error class="error-message"
                        *ngIf="(form.description.touched || form.description.dirty) && form.description.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="PID:" formControlName="pid">
                <mat-error *ngFor="let validation of validationMessages.pid">
                    <mat-error class="error-message"
                        *ngIf="(form.description.touched || form.description.dirty) && form.description.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="UUID:" formControlName="uuid">
                <mat-error *ngFor="let validation of validationMessages.uuid">
                    <mat-error class="error-message"
                        *ngIf="(form.description.touched || form.description.dirty) && form.description.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="BIOS Version:" formControlName="biosVersion">
                <mat-error *ngFor="let validation of validationMessages.description">
                    <mat-error class="error-message"
                        *ngIf="(form.description.touched || form.description.dirty) && form.description.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Description:" formControlName="description">
                <mat-error *ngFor="let validation of validationMessages.description">
                    <mat-error class="error-message"
                        *ngIf="(form.description.touched || form.description.dirty) && form.description.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Asset Tag:" formControlName="assetTag">
                <mat-error *ngFor="let validation of validationMessages.assetTag">
                    <mat-error class="error-message" *ngIf="(form.assetTag.touched || form.assetTag.dirty) &&
                        form.assetTag.hasError(validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent">Save</button>
        <button mat-raised-button color="submit">Cancel</button>
    </mat-card-actions>
</mat-card>
