<kendo-dialog-titlebar>
  <div style="font-size: 18px; line-height: 1.3em;">Upload</div>
</kendo-dialog-titlebar>
<div class="container">
  <kendo-upload
    [saveUrl]="uploadSaveUrl"
    (upload)="uploadEventHandler($event)"
    [multiple]="'false'"
  >
  </kendo-upload>
</div>
<kendo-dialog-actions class="no-border kendo-actions-container">
  <button kendoButton class="btn bulk-actions cancel" (click)="onConfirmAction()" [primary]="true">
    Close
  </button>
</kendo-dialog-actions>
