:host {
    .deactivated {
        background: #c5cae9;

        h2,
        h3 {
            color: #9fa9be;
        }
    }
}
//.echart {
//    width: 100%;
//}
.small-summary {
    .summary-info {
        font-size: 14px;
        span {
            font-size: 14px;
        }
    }
    .summary-result {
        //font-size: 24px;
    }
}
// Summary without chart

h2,
h3 {
    margin-bottom: 2px;
}

//.summary {
//    padding: 16px 6px 16px 16px;
//    height: calc(100% - 36px);
//
//    .scrollVertical {
//        padding-right: 10px;
//        overflow: auto;
//        max-height: 100%;
//        .summary-items{
//            opacity: 0;
//            &.visible{
//                opacity: 1;
//            }
//        }
//    }
//}
.summary-container {
    width: 100%;
    height: 100%;
    .change-container {
        height: 100%;
        position: relative;
        margin: 0 0 0 0;
    }
    .summary-with-chart {
        height: 100%;
        position: relative;
        .echart {
            width: 100%;
        }
    }
}
.summary {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    padding: 0px 10px 20px;
}
.summary-items {
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    & > * {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        height: 2vw;
    }
}

.total-title {
    text-align: center;
}
:host ::ng-deep {
    * {
        font-family: "IBM Plex Sans", sans-serif;
    }
}
