
<div class="summary-container"
fxLayout="column">

    <div class="summary" *ngIf="widget.chartVariant === 'percentage'">
        <mat-spinner [diameter] = "50" *ngIf="listSummaryItems?.length === 0"></mat-spinner>
        <div class="summary-items" [class.visible]="listSummaryItems?.length > 0">
            <app-summary-item *ngFor="let data of widget.chartQueries; let i = index"
                              [query]="data.query"
                              [index]="i"
                              [item]="widget"
                              (filter)="updateFilter($event)"
            ></app-summary-item>
        </div>
    </div>

    <div *ngIf="widget.chartVariant === 'with-chart'" class="summary-with-chart"
         [class.small-summary]="isSmallSize"
         fxLayout="column"
         fxLayoutAlign="space-between stretch"
    >
        <div class="change-container"
            [hidden]="pending"
             fxFlex="20"
             fxLayout="row"
            fxLayoutAlign="start center"
        >

            <div class="font-size-62 font-weight-300 line-height-1 mt-8 summary-result">
                {{data?.result[0]?.value[1] | round}}
            </div>

            <div class="py-4 ml-16 font-size-16 summary-info"
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <div fxFlex="row"
                     fxLayoutAlign="start center"
                     class="red-fg" *ngIf="change < 0">
                    <mat-icon class="red-fg mr-8">trending_down</mat-icon>
                    <span>- {{changeRate}}</span>
                </div>
                <div fxFlex="row"
                     fxLayoutAlign="start center"
                     class="green-fg" *ngIf="change > 0">
                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                    <span>+ {{changeRate}}</span>
                </div>
                <div class="ml-4 text-nowrap" *ngIf="change !== 0">from {{filterParameters.duration}} ago</div>
            </div>

        </div>

        <div class="chart-container"
        fxFlex="85">
            <mat-spinner [diameter] = "50" *ngIf="pending"></mat-spinner>

            <div echarts
                 [options]="options"
                 [autoResize]="true"
                 (chartLegendSelectChanged)="onTableClick($event)"
                 class="echart"
                 (chartInit)="onChartInit($event)"></div>
        </div>

    </div>

    <div *ngIf="widget.chartVariant === 'without-chart'"
         [class.small-summary]="isSmallSize"
         fxLayout="column"
         fxLayoutAlign="space-between space-between"

    class="summary-without-chart">

        <div [hidden]="pending"
             fxLayout="row wrap"
             fxLayoutAlign="start center">
            <div class="font-size-62 font-weight-300 line-height-1 mt-8 summary-result">
                {{data?.result[0]?.value[1] | round}}
            </div>

            <div class="py-4 font-size-16 ml-16 summary-info"
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg" *ngIf="change < 0">
                    <mat-icon class="green-fg mr-4">trending_down</mat-icon>
                    <span>- {{changeRate}}</span>
                </div>
                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg" *ngIf="change > 0">
                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                    <span>+ {{changeRate}}</span>
                </div>
                <div class="ml-4 text-nowrap" *ngIf="change !== 0">from {{filterParameters.duration}} ago</div>
            </div>

        </div>

    </div>

</div>
