.summary-screen-card {

  max-width: 18% !important;
}

.summary-screen-card:nth-child(5) {
  
  margin-bottom: 7px !important; 
}


.cardContainer {
  flex: none !important;
}


@media screen and (max-width: 900px) {
  .summary-screen-card {
  
    max-width: 50% !important;
    padding: 5px;
  }
}
