

<form #form="ngForm" class="k-form" *ngIf="endpoint" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusUserName" class="label-top">User </label>
	 <input [readonly]="true"
            #statusUserName
            kendoTextBox
            [(ngModel)]="endpoint?.status.userName"
            name="status.userName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDeviceIPAddress" class="label-top">IP Address </label>
	 <input [readonly]="true"
            #statusDeviceIPAddress
            kendoTextBox
            [(ngModel)]="endpoint?.status.deviceIPAddress"
            name="status.deviceIPAddress"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specBaseRealName" class="label-top">MAC Address </label>
	 <input [readonly]="false"
            #specBaseRealName
            kendoTextBox
            [(ngModel)]="endpoint?.spec.base.real_name"
            name="spec.base.real_name"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusBYODRegistered">BYOD Registered </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.BYODRegistered" [(ngModel)]="endpoint.status.BYODRegistered" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusCorporateDevice">Corporate Device </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.corporateDevice" [(ngModel)]="endpoint.status.corporateDevice" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>
</form>
