<mat-spinner [diameter] = "50" *ngIf="pending"></mat-spinner>
<kendo-grid 
    #grid="kendoGrid"
    [kendoGridBinding]="panelData$ | async" 
    kendoGridSelectBy="id" 
    [skip]="skip"
    [selectedKeys]="mySelection"
    [selectable]="true" 
    [pageSize]="pageSize" 
    [pageable]="true" 
    [sortable]="true"
    [groupable]="groupable"
    [group]="groups"
    [reorderable]="true" 
    [resizable]="true" 
    [columnMenu]="{ filter: true }"
    (dataStateChange)="setHeight()">
    <kendo-grid-column *ngFor="let item of displayedColumns" field="{{item}}" title="{{item}}" [width]="220">
    </kendo-grid-column>

    <kendo-grid-pdf fileName="table_data.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="table_data.xlsx"></kendo-grid-excel>
</kendo-grid>
