.example-spacer {
    flex: 1 1 auto;
}

// @import "~@angular/cdk/overlay-prebuilt.css";
// .full-width{
//     width: 100%;
// }
// .full-width.reverse{
//     display: flex;
//     flex-direction: row-reverse;
// }
// :host {
//     margin-top: 10px;
//     margin-left: 30px;
// }

.floating-div {
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.floating-wrapper {
    padding: 10px 30px;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #fff !important;
    border-radius: 0px !important;
    // width: 100%;
    // width: 100vw;
}

.padding-10 {
    padding-left: 10%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33333333%;
    float: left;
}

.col-2 {
    width: 16.66666666%;
    float: left;
}

.col-4 {
    width: 33.33333333%;
    float: left;
}

.col-8 {
    width: 66.66666666%;
    float: left;
}

.col-10 {
    width: 83.33333333%;
    float: left;
}

.col-11 {
    width: 91.66666666%;
    float: left;
}

.n-success {
    background-color: #37A000 !important;
}

.n-warn {
    background-color: orange !important;
}

.n-danger {
    background-color: red !important;
}

.mat-grid-list {
    padding-bottom: 2% !important;
}

.mat-grid-tile {
    padding: 20px !important;
}

.cdk-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-pane {
    display: flex;
    position: absolute;
    z-index: 1000;
    justify-content: center;
    align-items: flex-end;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cdk-overlay-pane {
    // pointer-events: auto;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    pointer-events: auto;
    position: static;
    margin-bottom: 0px;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-pane {
    display: flex;
    position: absolute;
    z-index: 1000;
}
