<!-- <p class="floating-div">
    <mat-toolbar color="primary" style="height: 0px;">
        <mat-toolbar-row *ngFor="let message of messages" class="floating-wrapper" [ngClass]="{
        'n-success':message.type === 'success',
        'n-warn':message.type === 'warn',
        'n-danger':message.type === 'danger'
      }">
            <span>{{message.text}}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon class="secondary-text" aria-hidden="false" aria-label="Example home icon"
                    style="cursor:pointer;" (click)="clearMessages(message)">close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p> -->
<div class="floating-div">
    <mat-card *ngFor="let message of messages" class="floating-wrapper" [ngClass]="{
    'n-success':message.type === 'success',
    'n-warn':message.type === 'warn',
    'n-danger':message.type === 'danger'
  }">
        <div class="row">
            <div class="col-10">
                <div class="alert alert-success">{{message.text}}</div>
            </div>
            <div class="col-2 padding-10 toggle-padding">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor:pointer;"
                    (click)="clearMessages(message)">close</mat-icon>
            </div>
        </div>
    </mat-card>
</div>
