<kendo-dialog-titlebar (close)="cancelHandler()" xmlns="http://www.w3.org/1999/html">
  <div class="titlebar">
    <!-- <span class="k-icon k-i-form-element"></span> -->
    {{dialogData.title || 'Input floor space type and name'}}
  </div>
</kendo-dialog-titlebar>

<div class="dialog-content">
  <form [formGroup]="dialogForm" style="display: flex; flex-direction: column;">
    <div class="form-field" [class.invalid]="dialogForm.controls.type.invalid">
      <label>Type</label>
      <select formControlName="type" [(ngModel)]="dialogData.type">
        <option value="Floor">Floor</option>
        <option value="Suite">Suite</option>
        <option value="Room">Room</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="form-field" [class.invalid]="dialogForm.controls.name.invalid">
      <label>Name</label>
      <input formControlName="name" [(ngModel)]="dialogData.name"/>
    </div>
  </form>
</div>

<kendo-dialog-actions class="no-border kendo-actions-container">
  <button
    kendoButton
    class="btn bulk-actions cancel"
    (click)="cancelHandler()"
  >
    Cancel
  </button>
  <button
    kendoButton
    class="btn btn-primary bulk-actions save"
    [disabled]="dialogForm.invalid"
    (click)="okHandler()"
  >
    Save
  </button>
</kendo-dialog-actions>
