:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &.invalid {
    label {
      color: #fa5a5a;
    }

    input, select {
      border-color: #fa5a5a;
    }
  }

  label {
    min-width: 50px;
    margin-right: 10px;
  }

  input, select {
    width: 100%;
    border: 1px solid #00000033;
    border-radius: 2px;
  }

  input {
    padding: 9px 8px;
  }

  select {
    padding: 8px 16px 8px 4px;
  }
}

.save {
  margin-left: 10px;
}
.dialog-content {
  margin-top: 20px;
}
