<kendo-dialog-titlebar (close)="cancelHandler()" xmlns="http://www.w3.org/1999/html">
  <div class="titlebar">
    <!-- <span class="k-icon k-i-form-element"></span> -->
    {{dialogData.title || 'Select object from list'}}
  </div>
</kendo-dialog-titlebar>

<div class="dialog-content">
  <form [formGroup]="dialogForm" style="display: flex; flex-direction: column;">
    <div class="form-field" [class.invalid]="dialogForm.controls.id.invalid">
      <label>Object</label>
      <select formControlName="id" [(ngModel)]="dialogData.id">
        <option *ngFor="let item of dialogData.items" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </form>
</div>


<kendo-dialog-actions class="no-border kendo-actions-container">
  <button
    kendoButton
    class="btn bulk-actions cancel"
    (click)="cancelHandler()"
  >
    Cancel
  </button>
  <button
    kendoButton
    class="btn btn-primary bulk-actions save"
    [disabled]="dialogForm.invalid"
    (click)="okHandler()"
  >
    Save
  </button>
</kendo-dialog-actions>
