<div
  class="k-overlay"
  style="opacity: 0.1; z-index: 100"
  #overlay
  *ngIf="showTree"
></div>
<div class="container-side--left">
    <button
    class="btn btn--select-floorspace"
    #treeAnchor
    [class.mode-open]="showTree"
    (click)="openTree()"
  >
    {{ selectedTitle || "Select Floorspace" }}
    <mat-icon>expand_more</mat-icon>
  </button>
</div>
<div class="content">
  <div class="tree">
    <kendo-popup
      style="width: 360px; margin-top: 10px"
      #treePopup
      [anchor]="treeAnchor"
      (anchorViewportLeave)="closeTree()"
      *ngIf="showTree"
    >
        <kendo-treelist
        #tree
        id="room-planner-select-floorspace"
        kendoTreeListExpandable
        kendoTreeListSelectable
        idField="id"
        parentIdField="parentId"
        scrollable="virtual"
        [pageSize]="30"
        [rowHeight]="36"
        [height]="325"
        [loading]="loadTree"
        [kendoTreeListFlatBinding]="dataTree"
        [initiallyExpanded]="true"
        [hideHeader]="true"
        [selectable]="{ mode: 'row', multiple: true, drag: false }"
        [selectedItems]="selectedItems"
        (selectedItemsChange)="selectHandler($event)"
      >
        <kendo-treelist-checkbox-column [width]="30" [checkChildren]="true"> </kendo-treelist-checkbox-column>

        <kendo-treelist-column
          field="type"
          title="Type"
          width="100"
          [expandable]="true"
          [style]="{ 'text-align': 'left' }"
        >
        </kendo-treelist-column>

        <kendo-treelist-column field="name" title="Floorspace" [style]="{ 'text-align': 'left' }">
        </kendo-treelist-column>
      </kendo-treelist>
    </kendo-popup>

  </div>

  <div class="navigation-button">
    <button mat-icon-button (click)="goTo3dView()">
      <mat-icon [svgIcon]="'edit'" class="secondary-text"></mat-icon>
    </button>
  </div>

  <div class="container" #container></div>
</div>
