:host, .content, .container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.tree {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 250px;
  z-index: 999;
}

.navigation-button {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 999;
}
.container-side--left {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 999;
}

.tree {
  top: 40px
}

:host ::ng-deep {
  .k-grid-content {
    overflow-y: auto !important;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}
