<ace-editor
    [(text)]="data" mode="json"
    #editor style="min-height: 200px; width:100%; overflow: auto;"></ace-editor>
<kendo-dialog-actions [layout]="'normal'" class="no-border k-action-container">
    <button class="btn bulk-actions cancel" kendoButton (click)="update()">Update</button>
    <button class="btn btn-primary bulk-actions save" kendoButton (click)="onCopyToClipboard(data)" [cdkCopyToClipboard]="data">Copy to Clipboard</button>
</kendo-dialog-actions>
