

<form #form="ngForm" class="k-form" *ngIf="endpoint" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="statusWallJack">WallJack </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #statusWallJack="ngModel"
	    [readonly]="true"
            name="statusWallJack"
            [(ngModel)]="endpoint.status.wallJack"
            [data]="WallJackDataSource"
            textField="name"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
	    <ng-template kendoDropDownListValueTemplate let-dataItem>
                {{dataItem?.name}}
                <a *ngIf="dataItem && dataItem.name !== 'None'" href="{{objectRefToUrl(dataItem?.item)}}"
		 (click)="loadRefLink(dataItem?.item)">
                    <kendo-icon [name]="'hyperlink-open-sm'" class="reflink-icon"></kendo-icon>
                </a>
            </ng-template>
        </kendo-dropdownlist>
    </div>
	
    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="statusFloorSpace">FloorSpace </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #statusFloorSpace="ngModel"
	    [readonly]="true"
            name="statusFloorSpace"
            [(ngModel)]="endpoint.status.floorSpace"
            [data]="FloorSpaceDataSource"
            textField="name"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
	    <ng-template kendoDropDownListValueTemplate let-dataItem>
                {{dataItem?.name}}
                <a *ngIf="dataItem && dataItem.name !== 'None'" href="{{objectRefToUrl(dataItem?.item)}}"
		 (click)="loadRefLink(dataItem?.item)">
                    <kendo-icon [name]="'hyperlink-open-sm'" class="reflink-icon"></kendo-icon>
                </a>
            </ng-template>
        </kendo-dropdownlist>
    </div>
	
    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusConnectedDevice" class="label-top">Device </label>
	 <input [readonly]="true"
            #statusConnectedDevice
            kendoTextBox
            [(ngModel)]="endpoint?.status.connectedDevice"
            name="status.connectedDevice"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusConnectedPort" class="label-top">Interface </label>
	 <input [readonly]="true"
            #statusConnectedPort
            kendoTextBox
            [(ngModel)]="endpoint?.status.connectedPort"
            name="status.connectedPort"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusVlanName" class="label-top">VLAN </label>
	 <input [readonly]="true"
            #statusVlanName
            kendoTextBox
            [(ngModel)]="endpoint?.status.vlanName"
            name="status.vlanName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

	<div *ngIf="!(false) && (true)" class="row-item">
	     <label [for]="statusConnectivityType">Wired or Wifi </label>
        <div>
            <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                    <span *ngIf="endpoint.status.connectivityType == 'TunnelConnecting'" class="badge badge-success">Up</span>
                    <span *ngIf="endpoint.status.connectivityType == 'TunnelConnected'" class="badge badge-success">Up</span>
                    <span *ngIf="endpoint.status.connectivityType == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                    <span *ngIf="endpoint.status.connectivityType == 'TunnelInactive'" class="badge badge-danger">Inactive</span>
                    <span *ngIf="(endpoint.status.connectivityType.toLowerCase() == 'unknown') || (!endpoint.status.connectivityType)" class="badge badge-unknown">Unknown</span>
                    <span *ngIf="endpoint.status.connectivityType == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                    <span *ngIf="endpoint.status.connectivityType == 'REJECTED'" class="badge badge-danger">Failed</span>
                    <span *ngIf="endpoint.status.connectivityType == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                    <span *ngIf="endpoint.status.connectivityType == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                    <span *ngIf="endpoint.status.connectivityType == 'DECLINED'" class="badge badge-danger">Failed</span>

                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                    <span *ngIf="endpoint.status.connectivityType == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>

        </div>
     </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusSsid" class="label-top">SSID </label>
	 <input [readonly]="true"
            #statusSsid
            kendoTextBox
            [(ngModel)]="endpoint?.status.ssid"
            name="status.ssid"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
