
<div class="view-panel">
    <gridster fuseNavigationMenuGlidster [options]="options">
        <ng-container *ngFor="let item of listOfCharts">
            <gridster-item [item]="item1">
                <shared-chart-header-widget title #widgetHeader 
                    [widget]="item" 
                    [isMenu]="false" 
                    (edit)="chartWidget.editWidget($event)"
                    (gridsterStateChanged)="changeGridsterState()"
                    (panelJson)="chartWidget.jsonWidget($event, index)"
                    (remove)="chartWidget.removeWidget($event)" 
                    (view)="customViewWidget($event)"
                    (filterChange)="filterChanged($event)"
                   >
                </shared-chart-header-widget>
                <shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async" [interval]="widgetHeader.refreshTimeObs | async">
                </shared-chart-widget>
            </gridster-item>
            <gridster-item [item]="item2">
                <div class="table-wrapper">
                    <app-kendo-table
                        [widget]="item" 
                        [interval]="widgetHeader.refreshTimeObs | async" 
                        [selectedRange]="widgetHeader.selectedRangeObs | async"
                        [filter]="filter">
                    </app-kendo-table>
                </div>
            </gridster-item>
        </ng-container>
    </gridster>
</div>
