
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="name" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    <div *ngIf="!isNew">
                        {{formGroup.controls.name.value}}
                    </div>
                    <div *ngIf="isNew">
                        <input kendoTextBox #input class="k-textbox" [formControl]="formGroup.controls.name">
                        <kendo-popup [anchor]="input"
                            *ngIf="formGroup.controls.name.invalid && !(isNew && formGroup.controls.name.untouched)"
                            popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-i-warning"></span>
                            SnapshotTask name is required
                        </kendo-popup>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="SnapshotTaskspecApiVersion" title="Api Version" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.SnapshotTaskspecApiVersion}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.SnapshotTaskspecApiVersion"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SnapshotTaskspecKind" title="Kind" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.SnapshotTaskspecKind}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.SnapshotTaskspecKind"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SnapshotTaskspecOperation" title="Operation" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of operation_spec_operation_enum"> 
                <ng-container *ngIf="item.value===dataItem.SnapshotTaskspecOperation"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SnapshotTaskspecOperation"
            [(ngModel)]="formGroup.controls.SnapshotTaskspecOperation.value"
            [data]="operation_spec_operation_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="snapshottasks.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="snapshottasks.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
