<div class="gridster-item-content">
    <kendo-grid 
        #grid="kendoGrid"
        [kendoGridBinding]="intfDetails" 
        [pageable]="true" 
        [pageSize]="5" 
        [pageable]="true" 
        [sortable]="true"
        [groupable]="groupable" 
        [group]="groups"
        [reorderable]="true" 
        [columnMenu]="{ filter: true }" 
        [resizable]="true">
        <kendo-grid-column [title]="col.name" *ngFor="let col of columns" [field]="col.field"></kendo-grid-column>
    </kendo-grid>
</div>
