<gridster fuseNavigationMenuGlidster id="report" name="report" [options]="options" *ngIf="pageName" [ngSwitch]="pageName">
    <ng-container *ngSwitchCase="'device'">
        <gridster-item [item]="item1">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>General</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu1"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu1="matMenu" xPosition="before">
                            <button mat-menu-item *ngIf="!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Position</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item1?.resizeEnabled" (click)="changeGridsterState(item1)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item1)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-general [resourceName]="resourceName"></device-general>
                </div>
            </form-widget>
        </gridster-item>
        <gridster-item [item]="item2">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>IP</span>
                    <div class="item">
                        <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                            aria-label="Operations">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu" xPosition="before">
                            <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock_open</mat-icon>
                                <span>Unlock Resize/Position</span>
                            </button>
                            <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                <mat-icon>lock</mat-icon>
                                <span>Lock Resize/Move</span>
                            </button>
                            <button (click)="onAddToReport(item2)" mat-menu-item>
                                <mat-icon>assignment</mat-icon>
                                <span>Add to Report</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div content class="gridster-item-content">
                    <device-ip [resourceName]="resourceName"></device-ip>
                </div>
            </form-widget>
        </gridster-item>
    </ng-container>
    <ng-container *ngSwitchCase="'deviceuserrule'">
        <gridster-item [item]="item3">
            <form-widget class="widget">
                <div title class="pr-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <span>Device User Rule Details</span>
                        <div class="item">
                                <button matTooltip="'Select a dashboard operation'" mat-icon-button [matMenuTriggerFor]="menu2"
                                    aria-label="Operations">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu2="matMenu" xPosition="before">
                                    <button mat-menu-item *ngIf="!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </button>
                                    <button mat-menu-item *ngIf="!!item2?.resizeEnabled" (click)="changeGridsterState(item2)">
                                        <mat-icon>lock</mat-icon>
                                        <span>Lock Resize/Move</span>
                                    </button>
                                    <button (click)="onAddToReport(item2)" mat-menu-item>
                                        <mat-icon>assignment</mat-icon>
                                        <span>Add to Report</span>
                                    </button>
                                </mat-menu>
                            </div>
                </div>
                <div content class="gridster-item-content">
                    <deviceuserrule-details [resourceName]="resourceName"></deviceuserrule-details>
                </div>
            </form-widget>
        </gridster-item>
    </ng-container>
</gridster>
