
:host {
    padding-bottom: 5px;

    #system-detail-grid {
        gridster-item {
            background-color: transparent;

            &.shared-chart {
                background-color: #fff;
                border-color: rgba(0, 0, 0, 0.12);
                border: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }

    .table-title {
	margin-left: -32px;
    }

    gridster {
        margin: 0px auto;
        background: #f4f2f7;
    }

    form-widget {
        overflow-y: auto;
        height: 100%;
        border: 1px solid;
        border-color: rgba(193, 193, 193, 1);
    }

}
