
<gridster fuseNavigationMenuGlidster *ngIf="system" id="system-grid" name="system-grid" [options]="options">

    <ng-container *ngFor="let item of activeDashboards; let index = index" [ngSwitch]="item.reportType">

        <ng-container *ngSwitchCase="itemType.LABELS">
            <gridster-item [item]="item" *ngIf="labels && labels.length > 0">
                <labels-grid-item [labels]="labels"></labels-grid-item>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="itemType.SYSTEM_SYSTEM_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span title>System</span>
                            <div menuItems>
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <system-system
			
			 [resourceName]="resourceName"></system-system>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="itemType.SYSTEMCPUSTATUS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span title>System CPU Status</span>
			    <div panelItems>
                                <button mat-icon-button (click)="SystemcpustatusStructListComponent.onAddHandler()">
                                <mat-icon class="button-color-grey">add</mat-icon>
                                </button>
                            </div>
                            <div menuItems>
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <systemcpustatus-struct-list #SystemcpustatusStructListComponent
			
			 [resourceName]="resourceName"></systemcpustatus-struct-list>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>
    </ng-container>



    <gridster-item class="shared-chart" [item]="item" *ngFor="let item of listOfCharts; let index = index">
        <shared-chart-header-widget title #widgetHeader [widget]="item" (edit)="chartWidget.editWidget($event)"
            (gridsterStateChanged)="changeGridsterState(item, false)" (panelJson)="chartWidget.jsonWidget($event, index)"
            (remove)="chartWidget.removeWidget($event)" (view)="customViewWidget($event)">
        </shared-chart-header-widget>
        <shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async"
            [interval]="widgetHeader.refreshTimeObs | async">
        </shared-chart-widget>
    </gridster-item>
</gridster>
