// test
:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  .drag-handler {
    width: auto;
  }

  .pagination {
    margin-right: 10px;

    .description {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
    }
  }

  .search {
    input {
      width: 100%;
      max-width: 350px;
    }
  }
}

.mat-button {
  border-radius: none !important;
  width: 100%;
}

.break {
  color: #464748;
  border: 0.5px solid;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0px;
}

::ng-deep {
  .widget-menu-position {
    + .cdk-overlay-connected-position-bounding-box {
      align-items: center !important;
    }
  }
}
