<div class="w-100-p h3 h-100-p" fxLayout="row" fxFlex="0 1 100" fxLayoutAlign="space-between center">
    <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" class="pl-8 table-header-left">
        <ng-content select="[title]"></ng-content>
        <div class="item search ml-16" fxLayoutAlign="center center" *ngIf="isControlPanel">
            <input placeholder="Search in all table columns..." [(ngModel)]="searchText" (input)="onSearchTextEntered($event)" kendoTextBox />
        </div>
    </div>
    <div class="item pagination" *ngIf="isControlPanel && pageSizes && pageSizes.length>0">
        <kendo-dropdownlist style="width: 70px"
                            [(ngModel)]="pageSize"
                            [data]="pageSizes"
                            [textField]="'label'"
                            [valueField]="'value'"
                            (selectionChange)="onPageSizeSelected($event)">
        </kendo-dropdownlist>
        <span class="pl-12 description">per page</span>
    </div>
    <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
        <ng-content select="[panelItems]"></ng-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button *ngIf="item?.resizeEnabled" fxLayout="row" fxLayoutAlign="center center" mat-menu-item
                    class="drag-handler chart-icon_btn px-8">
                <mat-icon class="mr-0">open_with</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{index: index, item: item}">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
            <ng-content select="[menuItems]"></ng-content>
        </mat-menu>
    </div>
</div>
