<h3 style="margin-top: 0px;">{{ data.title }}</h3>
<div mat-dialog-content [formGroup]="form">
  <div fxLayout="column">
    <kendo-multiselect formControlName="selectedItems" [data]="selectData" [textField]="'text'" [valueField]="'id'" [valuePrimitive]="false"></kendo-multiselect>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button [disabled]="toRemoveList.length + toAddList.length === 0" (click)="saveReports()">Save</button>
</div>
