

<form #form="ngForm" class="k-form" *ngIf="ifinterface" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="specEthernetAutoNegotiate">AutoNeg </label>
        <mat-checkbox [disabled]="false" class="example-margin" name="spec.ethernet.autoNegotiate" [(ngModel)]="ifinterface.spec.ethernet.autoNegotiate" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specEthernetDuplexMode">Duplex </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #specEthernetDuplexMode="ngModel"
	    [readonly]="false"
	    name="specEthernetDuplexMode"
            [(ngModel)]="ifinterface.spec.ethernet.duplexMode"
            [data]="duplex_spec_ethernet_duplexmode_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
        </kendo-dropdownlist>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetDuplexMode" class="label-top">Oper Duplex </label>
	 <input [readonly]="true"
            #statusEthernetDuplexMode
            kendoTextBox
            [(ngModel)]="ifinterface?.status.ethernet.duplexMode"
            name="status.ethernet.duplexMode"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specEthernetPortSpeed">Speed </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #specEthernetPortSpeed="ngModel"
	    [readonly]="false"
	    name="specEthernetPortSpeed"
            [(ngModel)]="ifinterface.spec.ethernet.portSpeed"
            [data]="speed_spec_ethernet_portspeed_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
        </kendo-dropdownlist>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetPortSpeed" class="label-top">Oper Speed </label>
	 <input [readonly]="true"
            #statusEthernetPortSpeed
            kendoTextBox
            [(ngModel)]="ifinterface?.status.ethernet.portSpeed"
            name="status.ethernet.portSpeed"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="specEthernetEnableFlowControl">Flow Control </label>
        <mat-checkbox [disabled]="false" class="example-margin" name="spec.ethernet.enableFlowControl" [(ngModel)]="ifinterface.spec.ethernet.enableFlowControl" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusEthernetEnableFlowControl">Oper Flow Control </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.ethernet.enableFlowControl" [(ngModel)]="ifinterface.status.ethernet.enableFlowControl" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>
</form>
