<div class="dashboard-menu-wrapper">
    <button appearance="fill" class="btn-show" mat-icon-button (click)="showLabels()" matTooltip="Labels">
        <mat-icon [svgIcon]="iconStyle" aria-hidden="false"></mat-icon>
    </button>
</div>
