<div class="cardContainer"
     fxLayout="row wrap"
     fxLayoutAlign="space-between">
    <app-up-down-widget *ngFor="let card of cards"
                        [fxFlex]="cardWidth"
                        [card]="card"
                        [location]="card.location"
                        [class]="'location-screen-card'">
    </app-up-down-widget>
</div>


<style>
    .location-screen-card {
        max-width: 23% !important;
    }

        .location-screen-card:nth-child(4) {
            margin-bottom: 7px !important;
        }


    .cardContainer {
        flex: none !important;
    }


    @media screen and (max-width: 900px) {
        .location-screen-card {
            max-width: 50% !important;
            padding: 5px;
        }
    }

    @media screen and (max-width: 600px) {
        .location-screen-card {
            max-width: 100% !important;
            padding: 5px;
        }
    }
</style>
