.table-container {
	display: flex;
	flex-direction: column;
	// min-width: 300px;
}
mat-header-row {
	/*https://github.com//issues/5885*/
	position: sticky;
	top: -.5px;
	background: white;
	z-index: 100;
}
.view-header {
	background: #ffffff;
	padding: 20px 20px 0px;
	.field {
		width: 350px;
		display: inline-block;
	}
	.table-toggle {
		margin-left: 100px;
	}
}

.table-header {
	min-height: 64px;
	padding: 8px 24px 0;
}

.mat-form-field {
	font-size: 13px;
	width: 100%;
}

.mat-table {
	overflow: auto;
	max-height: 380px;
}
