<kendo-treeview class="search-filter"
    [nodes]="data"
    textField="name"
    kendoTreeViewExpandable
    [children]="fetchChildren.bind(this)"
    [hasChildren]="hasChildren"
    kendoTreeViewCheckable
    [(checkedKeys)]="checkedKeys"
    (checkedChange)="handleChecking($event)"
    [(expandedKeys)]="expandedKeys"
>
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
        <span [ngClass]='hasChildren(dataItem)? "parent" : "child"'>
            {{dataItem.name}}
        </span>
    </ng-template>
</kendo-treeview>
