<mat-toolbar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center" class="toolbar-wrapper">
        <fuse-location-widget fxLayout="row" class="search-bar-section"></fuse-location-widget>

        <!-- <divcountPlatformNotificationsCode fxLayout="row" class="search-bar-section"> -->
        <fuse-search-bar (input)="search($event)" (isSearching)="onSearch($event)"></fuse-search-bar>
	      <!-- </divcountPlatformNotificationsCode> -->

        <div fxLayout="row" class="search-bar-section section-3">
            <!-- <span fxLayout="row" class="toolbar-location--time">
            	   <span>{{ currentUserDate$ | async }}</span>
            </span> -->
            <div class="toolbar-separator"></div>     
            <fuse-timezone-widget></fuse-timezone-widget>
            <div class="toolbar-separator"></div>

            <button (click)="closeNotificationOverlay()" [routerLink]="['/alerts']" type="button" mat-icon-button fxHide fxShow.gt-xs class="notifications-toggle-button" aria-label="Notifications">
                <mat-icon [svgIcon]="'toolbar-notification'" [matBadge]="countPlatformNotificationsCount" [matBadgeHidden]="countPlatformNotificationsCount === 0" matBadgeSize="small" matBadgeColor="warn" class="secondary-text" fxHide.xs>notifications_info</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button [matTooltip]="userName" [matMenuTriggerFor]="userMenu" class="user-button">
                <mat-icon [svgIcon]="'toolbar-user'" class="secondary-text"></mat-icon>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>{{userName}}</span>
                </button>

                <button mat-menu-item class="">
                    <mat-icon tool>mail</mat-icon>
                    <span>{{userEmail}}</span>
                </button>

                <button mat-menu-item class="" (click)="display_logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
            <div class="toolbar-separator"></div>
            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>
        </div>
    </div>
</mat-toolbar>


<kendo-dialog title="Logout" *ngIf="logoutOpened" (close)="onClose()">
  <p style="margin: 30px; text-align: center;">Are you sure you want to logout?</p>

  <kendo-dialog-actions class="k-dialog-buttongroup k-dialog-button-layout-stretched">
    <button kendoButton (click)="onClose()" class="k-button">No</button>
    <button kendoButton (click)="onAccept()" class="k-button k-primary">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Logout" *ngIf="sessionOpened" (close)="onLogout()">
  <p style="margin: 30px; text-align: center;">Your session expired.</p>

  <kendo-dialog-actions class="k-dialog-buttongroup k-dialog-button-layout-stretched">
    <button kendoButton (click)="onLogout()" class="k-button k-primary">OK</button>
  </kendo-dialog-actions>
</kendo-dialog>
