

<form #form="ngForm" class="k-form" *ngIf="ifinterface" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="statusRemoteDevice">Peer Device </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #statusRemoteDevice="ngModel"
	    [readonly]="true"
            name="statusRemoteDevice"
            [(ngModel)]="ifinterface.status.remoteDevice"
            [data]="DeviceDataSource"
            textField="name"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
	    <ng-template kendoDropDownListValueTemplate let-dataItem>
                {{dataItem?.name}}
                <a *ngIf="dataItem && dataItem.name !== 'None'" href="{{objectRefToUrl(dataItem?.item)}}"
		 (click)="loadRefLink(dataItem?.item)">
                    <kendo-icon [name]="'hyperlink-open-sm'" class="reflink-icon"></kendo-icon>
                </a>
            </ng-template>
        </kendo-dropdownlist>
    </div>
	
    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusRemoteIntf" class="label-top">Peer Port </label>
	 <input [readonly]="true"
            #statusRemoteIntf
            kendoTextBox
            [(ngModel)]="ifinterface?.status.remoteIntf"
            name="status.remoteIntf"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
