<div class="fuse-nav-collapsable" >
    <kendo-menu 
        [items]="menuItems" 
        [vertical]="true" 
        style="display:inline-block" 
        (select)="onMenuItemSelected($event)"
    >
         <ng-template kendoMenuItemTemplate let-childItem="item">
            <div *ngIf="childItem.id === 'title'" class="fuse-nav-item-title">{{childItem.text}}</div>
            <div *ngIf="childItem.id !== 'title'" class="fuse-nav-item">
                <mat-icon class="nav-link-icon" *ngIf="childItem.customIcon; else defaultIconTemplate" [svgIcon]="childItem.customIcon">{{childItem.icon}}</mat-icon>
                <ng-template #defaultIconTemplate>
                    <mat-icon class="nav-link-icon" *ngIf="childItem.icon">{{childItem.icon}}</mat-icon>
                </ng-template>
                <span class="nav-link-title" data-info="menuItem" [translate]="childItem.translate">{{(childItem.translate | translate) || childItem.text}}</span>
                <span class="nav-link-badge" *ngIf="childItem.badge" [translate]="childItem.badge.translate"
                    [ngStyle]="{'background-color': childItem.badge.bg,'color': childItem.badge.fg}">{{(childItem.badge.translate | translate) || childItem.badge.title}}</span>
            </div>
        </ng-template>
    </kendo-menu>
</div>
