@mixin light-theme($theme) {
  &{
    color:map-get($theme, text-primary);
    background: map-get($theme, primary-background);
  }
  search-filter{
    display: flex;

    .k-treeview {
      width: 100%;
      .k-in:hover,
      .k-in.k-state-hover{
        background-color: transparent;
        color: white;
      }
    }
  }
  fuse-search-filter{
    display: flex;
    flex-direction: column;

    .divider{
      color: map-get($theme, text-primary) !important;
      font-size: 16px;
      font-family: map-get($theme, ibm-font);
      border-bottom: 1px solid #ddd;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      flex-direction: row;
      overflow-x: auto;

      .filter-items{
        padding-right: 15px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;

        .k-chip-filled{
          background-color: map-get($theme, selection);
          color: white;
          border: 0;
          margin: 3px 5px;
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
    .k-treeview {
      width: 100%;
      max-height: 250px;

      .k-in:hover,
      .k-in.k-state-hover{
        background-color: transparent;
        color: inherit;
      }
      input.k-checkbox{
        border-radius: 0;
        width: 16px;
        height: 16px;
        padding: 0;
      }
    }
  }
  //breadcrumb
  .breadcrumb {
    background: none;
    margin: 0 8px;
    padding: 0;
    .breadcrumb-breadcrumb {
      font-size: 14px;
      font-weight: 500;
      font-family: map-get($theme, ibm-font);
      color: map-get($theme, breadcrumb-text);
    }

    a:hover,
    span:hover {
      color: map-get($theme, breadcrumb-hover);
      text-decoration: none;
    }

    li {
      display: flex;
      list-style: none;
      float: left;
      font-size: 12px;
      height: 16px;
      margin: 5px 0;
      align-items: center;
    }
    a {
      display: flex;
      align-items: center;
      color: map-get($theme, breadcrumb-text);
    }

    li:last-child {
      margin-right: 0px;
    }
  }

  //file manager
  app-file-manager-compare,
  app-file-manager-viewer {
    padding: 0 18px 0 30px;
    .content {
      border-radius: 9px;
    }
  }
  a.k-grid-column-menu.k-grid-filter {
    background: transparent !important;

    outline: none;
    &:hover {
      background: transparent !important;
      text-decoration: none !important;
      border: none;
      outline: none;
    }
  }
  .k-grid-filter span.k-icon.k-i-more-vertical::before {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
  // gridster global
  gridster {
    // margin: 0px auto !important;
    // padding: 0 0px !important;
    background: map-get($theme, primary-background) !important;

    gridster-item {
      background-color: #fff;
      // margin-top: 0 !important;
      border-radius: 8px;
      padding: 0 15px !important;
      border: 1px solid #38333333;

      .fuse-widget-front {
        border: none;
      }
    }
  }
  .gridster-item-resizable-handler.handle-w {
    background: white !important;
    width: 10px !important;
  }
  //kendo icon
  .k-icon {
    background-color: transparent;
  }
  //selection color
  .k-textbox::selection,
  .k-textbox .k-input::selection {
    color: map-get($theme, text-secondary);
    background-color: map-get($theme, selection);
  }
  //kendo input
  .k-input,
  .k-textbox {
    color: map-get($theme, text-primary);
    background: map-get($theme, secondary-background);
    font-family: map-get($theme, ibm-font);
  }

  //kendo dropdown
  .k-dropdown {
    .k-select {
      background: map-get($theme, secondary-background);

      .k-icon {
        color: map-get($theme, select-icon);
      }
    }
  }

  //popup in kendo dropdown
  .k-animation-container-shown,
  .k-animation-container > .k-popup {
    box-shadow: none;
  }

  kendo-popup,
  .k-popup {
    background: map-get($theme, secondary-background);
    .k-popup.k-menu-popup {
      scrollbar-width: thin;

      .k-menu-group {
        background-color: map-get($theme, popupmenu-background);
        border-color: lightgray;

        .k-item {
          > .k-state-active {
            color: #fff;
            background-color: map-get($theme, selection);
          }

          &:hover {
            color: #fff;
            background-color: map-get($theme, selection);
          }
        }
        .k-menu-item {
          border-bottom: rgba(0, 0, 0, 0.08) 1px solid;
          color: map-get($theme, popupmenu-header-text);
          font-weight: bold;

          a:hover,
          a:visited,
          a:link,
          a:active {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            text-decoration: none !important;
          }
        }
      }
    }
    .k-list-optionlabel.k-state-selected {
      background-color: map-get($theme, selection);
      color: map-get($theme, text-secondary);
      box-shadow: none;
    }
    .k-item {
      width: 100%;
      font-size: 12px;

      &:hover,
      &.k-state-hover,
      &.k-state-selected {
        background-color: map-get($theme, selection);
        color: map-get($theme, text-secondary);
        box-shadow: none;
      }
    }
  }
  //kendo grid
  .k-pager-wrap .k-link {
    color: rgb(0, 0, 0, 0.4);
  }

  .k-group-indicator .k-link {
    color: rgb(0, 0, 0, 0.4);
  }
  .k-grid {
    .k-multiselect,
    .k-multiselect-wrap,
    .k-multiselect-wrap:hover,
    .k-dropdown,
    .k-input,
    .popup-page-dropdown,
    .multiselect,
    .k-textbox,
    .k-textarea,
    .k-dropdown-wrap:hover,
    .k-select,
    .k-dropdown-wrap {
      font-family: map-get($theme, ibm-font);
      font-size: 12px;
      color: map-get($theme, text-primary);
      background: transparent;
      border-radius: 5px;
      box-shadow: none;
      &.k-state-hover {
        background: map-get($theme, form-background);
      }
    }
    .k-grid-content {
      overflow-y: hidden;
    }
    border-bottom: 0;

    .k-grid-header {
      padding-right: 0 !important;

      .k-header {
        border-color: rgba(0, 0, 0, 0.08);
      }
    }
    .k-grid-header-wrap {
      border: none !important;
      border-radius: 5px;
    }
    tr {
      height: 36px;

      td {
        text-align: left;
        border-bottom: 3px solid white;
        border-left: none;
      }

      td:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      td:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    th {
      font-size: 13px;
      font-family: map-get($theme, ibm-font);
      font-weight: 500 !important;
      line-height: 18px;
      color: map-get($theme, text-secondary);
      background: map-get($theme, table-header-background);
      letter-spacing: normal;
    }
    td {
      color: #353f66;
      background: map-get($theme, table-content-background);
      font-size: 12px;
      font-family: map-get($theme, ibm-font);
      line-height: 16px;
      letter-spacing: normal;
      .k-multiselect-wrap {
        background: transparent;
      }
    }
    tr.k-alt {
      background-color: map-get($theme, text-secondary);
    }
    td a {
      color: map-get($theme, table-content-link);
      :hover {
        color: map-get($theme, table-content-link-hover);
      }
    }
    .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-desc-sm,
    .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-asc-sm,
    .k-grid-header .k-header > .k-link > .k-sort-order {
      color: map-get($theme, text-secondary);
    }
  }

  gridster-item {
    transition: none !important;
    border-radius: 5px;
    .table-wrapper {
      height: auto;
      overflow-y: hidden;
    }
    button {
      .mat-button-toggle-label-content {
        line-height: 26px;
      }
    }
    .table-title {
      .k-dropdown .k-dropdown-wrap {
        border: 0px;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        background: transparent;
      }
      .item {
        .k-input {
          height: map-get($theme, search-bar-height);
        }
      }
      .search {
        background: map-get($theme, secondary-background);
        border-radius: 5px;
        width: 100%;
        max-width: 250px;
        background-clip: padding-box;
        padding: 0px 15px;
        height: map-get($theme, search-bar-height);
        margin-right: 20px;
        button {
          width: 18px;
          height: 100%;
          margin-right: 15px;
          border: none;
          line-height: inherit;
          background-color: map-get($theme, secondary-background);
        }

        input {
          color: map-get($theme, text-primary);
          &::placeholder {
            color: map-get($theme, search);
            font-family: map-get($theme, ibm-font);
          }
          width: 100%;
          height: 100%;
          padding: 0;
          border: none;
          font-size: 14px;
          line-height: 18px;
          font-family: map-get($theme, ibm-font);

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .chart {
      &-title {
        font-family: map-get($theme, ibm-font);
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: normal;
        color: map-get($theme, selection);
      }

      &-filter {
        display: flex;
        align-content: center;
        padding: 5px;

        .range {
          display: flex;
          align-items: center;
          margin-right: 10px;

          .k-dropdown {
            width: auto;
          }
        }
      }
    }
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: baseline;
      text-align: end;
      .mat-icon {
        color: map-get($theme, selection);
      }
    }

    .row-item {
      width: 93%;
      padding: 0 15px;
      display: flex;
      align-items: center;

      &.row-item-top {
        align-items: flex-start;
      }

      .k-icon {
        position: relative;
        margin: 0;
      }

      .mat-checkbox {
        padding-right: 60%;
      }
      label {
        flex: 0 1 auto;
        padding: 0;
        min-width: 40%;
        padding-right: 10px;
        justify-content: flex-end;
        font-family: map-get($theme, ibm-font);
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: map-get($theme, text-primary);

        &.label-top {
          padding-top: 5px;
        }
      }
      .show-hide-password {
        display: flex;
        color: map-get($theme, text-primary);
        button {
          border: none;
          background: map-get($theme, form-background);
          margin-top: 1px;
          fa-icon {
            color: map-get($theme, text-primary);
          }
        }
        .k-textbox {
          width: 100%;
        }
      }

      .validation-error {
        font-size: 80%;
        font-weight: 400;
        color: red;
        padding: 0 4px 4px 4px;
        text-align: start;
      }
      .reflink-icon {
        color: #3CBA0D;
        background: map-get($theme, form-background);
      }
      .k-multiselect,
      .k-multiselect-wrap,
      .k-multiselect-wrap:hover,
      .k-dropdown,
      .k-input,
      .popup-page-dropdown,
      .multiselect,
      .k-textbox,
      .k-textarea,
      .k-dropdown-wrap:hover,
      .k-dropdown-wrap {
        font-family: map-get($theme, ibm-font);
        font-size: 12px;
        color: map-get($theme, text-primary);
        background: map-get($theme, form-background);
        border-radius: 5px;
        box-shadow: none;
        &.k-state-hover {
          background: map-get($theme, form-background);
        }
      }
    }
    .k-button {
      font-size: 12px;
      color: #353f66;
      background: #039be51a;
      border-radius: 5px;
      box-shadow: none;
      border: none;
    }
    .multiselect-readonly {
      .k-button {
        text-align: left;
      }
      .k-icon.k-i-close {
        display: none;
      }
      .k-multiselect-wrap,
      .k-multiselect-wrap:hover {
        border: none;
        background-color: transparent;
      }
    }
    .k-textbox {
      padding-right: 0px;
    }
    .policy-condition {
      font-weight: 500;
      font-size: 14px;
    }

    &.summary-cards {
      background: transparent;
      padding: 0px !important;
      border: none;
    }
    &.gap-10{
      background-color: transparent;
      width: 100%;
      height: 10px;
      background: map-get($theme, primary-background) !important;
      box-shadow: none !important;
      border: none !important;
    }
  }

  .k-label-popup--hidden {
    display: none;
  }

  //global container
  horizontal-layout-2 #container-2 {
    margin: 0px;
  }
  //fuse breadcrumb bar
  breadcrumb-bar {
    .secondary-text {
      &.arrow {
        margin: 0;
        line-height: 12px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    margin: 0px;
    padding: 5px 30px;

    position: relative;
    z-index: 3;
    background: map-get($theme, primary-background) !important;
    .full-width {
      div.ng-star-inserted {
        &:first-child {
          width: 100%;
        }
      }
    }

    .k-dropdown .k-dropdown-wrap {
      border: none;
      box-shadow: none;
      border-radius: 0;
      background-image: none !important;
      background-color: map-get($theme, primary-background) !important;
      background: map-get($theme, primary-background) !important;
    }
  }
  #breadcrumbBar {
    height: 30px;
    display: flex;
    align-items: center;

    .breadcrumb-actions {
      svg g{
        fill: #666;
      }
      button {
        font-size: 14px;
        font-weight: 500;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: map-get($theme, ibm-font);
        border-radius: 0;
        color: map-get($theme, breadcrumb-icon-color);
        opacity: 1;

        &.selected{
          background-color: map-get($theme, breadcrumb-icon-bk-color);

          .mat-icon{
            svg{
              g,
              path.btn-icon{
                fill: map-get($theme, selection);
              }
            }
          }
        }

        &:hover{
          background-color: map-get($theme, breadcrumb-icon-bk-color);
        }
        &:disabled {
          // pointer-events: none;
          opacity: .5;

          .mat-icon{
            cursor: default;
          }
        }
      }
    }
    .item {
      button {
        &.mat-icon-button {
          width: 32px;
          height: 32px;
          line-height: 32px;
          margin-left: 12px;
          border-radius: 0;

          &.selected {
            background-color: map-get($theme, breadcrumb-icon-bk-color);
            &.has-stroke{
              .mat-icon{
                svg{
                  g{
                    stroke: map-get($theme, selection);
                  }
                }
              }
            }
            .mat-icon{
              svg{
                g{
                  fill: map-get($theme, selection);
                }
              }
            }
          }
          span.mat-button-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:hover{
            background-color: map-get($theme, breadcrumb-icon-bk-color);
          }
        }
      }
    }
    .k-dropdown {
      width: auto;
      background: map-get($theme, breadcrumb-popup-background) !important;
      border-radius: 17px;
      padding: 0 12px;
      border: 1px solid rgba(0,0,0,0.08);

      .k-dropdown-wrap,
      .force-match {
        background: map-get($theme, breadcrumb-popup-background) !important;
        background-image: none !important;
        border: none;
      }
      .k-dropdown-wrap {
        border: none;
        font-weight: 500;
        box-shadow: none;
        border-radius: 0;
        background-color: map-get($theme, breadcrumb-popup-background);

        .k-icon {
          color: map-get($theme, breadcrumb-text);
          background: transparent;
          margin-right: -6px;
          font-size: 12px;
        }
        .k-input {
          border: none;
          font-family: map-get($theme, ibm-font);
          font-weight: 500;
          color: map-get($theme, breadcrumb-text);
          background: map-get($theme, breadcrumb-popup-background);
          font-size: 14px;
          box-shadow: none;
          height: 26px;
          line-height: 26px;
          height: auto;
          padding: 0;
        }
      }
    }
    .k-dropdown {
      .k-select {
        background-color: map-get($theme, breadcrumb-popup-background);
        display: flex;
        justify-content: flex-end;
        width: 16px;
      }
    }
    button {
      .mat-icon {
        color: map-get($theme, breadcrumb-icon-color);
        background: transparent;

        &.ruler-icon{
          svg{
            width: 21px;
          }
        }
      }
    }
  }
  //fuse search bar section -- location bar
  .search-bar-section {
    .toolbar-location {
      &--wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: map-get($theme, search-bar-height);
        font-family: map-get($theme, ibm-font);
        font-weight: 400;

        .kendo-hierarchical-dropdownlist {
          width: 200px;
          height: 30px;
          padding: 0 16px 0 0;
          &__btn {
            width: 100%;

            background: map-get($theme, secondary-background);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            border-right: 0;
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 16px;
            padding-left: 0px;
            font-weight: 300;
            font-family: map-get($theme, ibm-font);
            color: map-get($theme, text-primary);
            height: 30px;

            &:hover {
              cursor: pointer;
            }
            .k-icon {
              color: map-get($theme, select-icon);
              margin-right: 7px;
            }
          }

          .k-treeview {
            width: 198px;


            .k-icon {
              color: map-get($theme, select-icon);
            }
            .k-in{
              width: 100%;
              font-size: 14px;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.88;
              letter-spacing: normal;
              color: #958787;
              font-family: map-get($theme, ibm-font);
            }
            .k-in:hover{
              background: transparent;
              cursor: pointer;
              color: map-get($theme, selection);
            }
            .k-in.k-state-focused{
              box-shadow: none;
            }
            .k-in.k-state-selected{
              background: transparent;
              color: map-get($theme, selection);
            }
            .k-treeview-lines {
              & > .k-item{
                padding: 0;
                text-indent: 0px;
              }
            }
          }

          .k-popup {
            .k-item:hover {
              background-color: transparent;
              color: map-get($theme, table-content-link);
            }
          }
          .k-list-filter{
            width: 198px;

            input.k-textbox {
              font-family: map-get($theme, ibm-font);
              font-size: 14px;
            }
          }
        }
        .icon-btn.k-button{
          background-color: transparent;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid rgba(0,0,0,0.01);
        }
        .k-dropdown {
          .k-dropdown-wrap {
            .k-input {
              font-size: 16px;
              font-weight: 300;
              border: none;
              box-shadow: none;
              height: 40px;
              padding-top: 0px;
              padding-bottom: 0px;
              font-family: map-get($theme, ibm-font);
              background: map-get($theme, secondary-background);
            }
            .k-select {
              border: 0;
              box-shadow: 0;
              background: map-get($theme, secondary-background);
              background-image: none;
              font-weight: 300;
              font-family: map-get($theme, ibm-font);
              font-size: 16px;
            }
            .k-icon {
              color: map-get($theme, select-icon);
              background: map-get($theme, secondary-background);
            }
          }
        }
      }
    }
  }
  //fuse search bar section -- search bar
  .fuse-search-bar {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    background: map-get($theme, secondary-background);

    .k-animation-container-shown, 
    .k-animation-container > .k-popup{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 5px 0 rgba(0, 0, 0, 0.04);
    }
    .k-popup{
      .k-item {
        width: 100%;
        font-size: 12px;
  
        &:hover,
        &.k-state-hover,
        &.k-state-selected {
          background-color: transparent;
          color: inherit;
          box-shadow: none;
        }
      }
    }
    .fuse-search-bar--dropdown{
      .btn-group{
        padding: 10px;
      }
    }
    .search-wrapper{
      display: flex;
      align-items: center;

      .more{
        color: map-get($theme, selection);
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-right: 15px;
        text-decoration: none;

        &:hover,
        &:visited,
        &:focus{
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
    ::placeholder {
      color: map-get($theme, search);
    }

    input {
      font-family: map-get($theme, ibm-font);
      height: map-get($theme, search-bar-height);
      color: map-get($theme, breadcrumb-text);
      border-radius: 5px;
      background-color: map-get($theme, secondary-background);
      padding: 0 20px 0 0;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .fuse-search-bar-collapser{
      margin: 0 0 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  //popup for dashboard menu
  .for-breadcrumb {
    &.k-popup {
      background-color: map-get($theme, secondary-background);

      .k-list {
        .k-item {
          font-size: 12px;
        }
      }
    }
  }

  //multi dropdown styles
  .topology-menu-wrapper {
    button.icon-button{
      width: 32px;
      height: 32px;
      border-radius: 0;
      margin-left: 12px;

      span.mat-button-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover{
        background-color: map-get($theme, breadcrumb-icon-bk-color);
      }
      &.selected{
        background-color: map-get($theme, breadcrumb-icon-bk-color);
        svg{
          g{
            fill: map-get($theme, selection);
          }
        }
      }
    }
    .mat-icon{
      svg{
        g{
          fill:#666
        }
      }
    }
    .icon-button{
      .k-icon{
        font-size: 24px;
        color: #666;
      }
    }
    .multiselect-dropdown .dropdown-btn {
      color: map-get($theme, selection);
      border: none !important;
    }

    .multiselect-dropdown .dropdown-btn .dropdown-down {
      border-top: 10px solid map-get($theme, selection) !important;
    }

    .multiselect-dropdown .dropdown-btn .dropdown-up {
      border-bottom: 10px solid map-get($theme, selection);
    }

    .multiselect-dropdown .dropdown-btn .selected-item {
      border: 1px solid map-get($theme, selection) !important;
      background: transparent !important;
      color: map-get($theme, selection) !important;
    }
    .multiselect-dropdown .dropdown-btn .selected-item a {
      color: map-get($theme, selection) !important;
    }
  }

  // table
  .table {
    height: 100%;
    border-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;

    &-title {
      height: 50px;
      padding-left: 5px;
      background: map-get($theme, text-secondary);
      border-radius: 5px;
    }

    &-wrapper {
      background: map-get($theme, text-secondary);
      width: 100%;
      height: 100%;
      display: flex;
      overflow: auto;
    }
  }

  //location menu
  .location-menu-wrapper {
    display: flex;
    flex-direction: row;
    .mat-icon {
      color: map-get($theme, text-secondary);
    }
    .k-button {
      border-radius: 4px;
      padding: 5px 15px;
      &:first-child {
        margin: 0 10px 0 0;
      }
      &.grey-cancel {
        background: #d3dced;
      }
      &.green-save {
        background: #6fce9a;
        color: #ffffff;
      }
    }
  }

  // Floorplan - To be checked
  /* Classes */

  .dialog-panel {
    font-family: Muli, Helvetica Neue, Arial, sans-serif;

    .dialog-title {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #199be5;
      color: #ffffff;
      padding: 15px 24px;
      margin-top: 0;
      margin-bottom: 24px;
      width: 100%;
    }

    .dialog-content {
      padding: 0 32px;
    }

    .dialog-actions {
      display: flex;
      padding: 24px 32px;
      justify-content: flex-end;
    }

    //

    .mat-dialog-container {
      margin: 0;
      padding: 0;
    }
  }

  .mat-menu-panel {
    min-height: 48px;

    .mat-menu-item {
      font-family: sans-serif;
      font-size: 100%;
      height: 32px;
      line-height: 32px;

      &.k-button:focus,
      &.k-button.k-state-focused {
        box-shadow: none !important;
      }
    }
  }

  /* Components */
  roomplanner {
    width: calc(100vw - 51px);
    height: calc(100vh - 96px);

    .measure-container {
      top: 5px;
    }

    .catalog-container {
      right: 0px;
    }
  }

  fuse-roomplanner-menu, roomplanner-viewer {
    .btn {
      position: relative;
      display: flex;
      align-items: center;
      border: 0;
      margin-right: 10px;
      padding: 7px 15px;
      border-radius: 4px;
      background: transparent;
      transition: all 250ms ease;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &.btn-secondary {
        background: map-get($theme, cancel-button-background);
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #958787;
        border-radius: 4px;
        border: solid 2px #958787;
        height: 30px;
        opacity: 1;
        font-family: map-get($theme, ibm-font);

        mat-icon {
          color: #958787 !important;
        }
      }

      &.btn-primary {
        border: solid 2px map-get($theme, save-button-background);
        background-color:map-get($theme, save-button-background);
        font-family: map-get($theme, ibm-font);
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-right: 35px;
        height: 30px;

        mat-icon {
          color: #ffffff !important;
        }
      }

      mat-icon {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        font-size: 16px;
        line-height: 16px;
      }

      &.btn--select-floorspace {
        margin-left: 4px;
        color: map-get($theme, text-primary);
        background: map-get($theme, breadcrumb-popup-background);
        border-radius: 17px;
        text-align: left;
        padding: 5px 12px;
        font-size: 14px;

        &.mode-open {
          background: #ffffff;
        }

        mat-icon {
          color: map-get($theme, text-primary);
          margin-left: 10px;
          margin-right: -4px;
        }
      }

      &.btn--toggle-2d-3d {
        font-size: 12px;
        color: map-get($theme, selection);
        padding: 0;
        margin-right: 0;

        &:before {
          content: "";
          width: 43px;
          height: 22px;
          margin-right: 5px;
          border-radius: 14px;
          background: #d7e1f4;
        }

        &:after {
          content: "";
          position: absolute;
          left: 21px;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          background: map-get($theme, save-button-background);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          transition: left 250ms ease;
        }

        &.mode-2d {
          &:after {
            left: 0;
          }
        }

        &.mode-3d {
          &:after {
            left: 21px;
          }
        }
      }

      &.btn--transform {
        font-size: 12px;
        color: map-get($theme, breadcrumb-selected);
        padding: 0;
        margin: 0 0 0 20px;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          color: map-get($theme, selection);
        }

        mat-icon {
          color: map-get($theme, breadcrumb-selected);
          width: 24px;
          height: 24px;
          min-height: 24px;
          font-size: 24px;
          line-height: 24px;
        }
      }
    }

    //

    .k-icon {
      background-color: transparent;
      color: map-get($theme, selection);
    }

    .k-popup {
      border: 0;
      background: #ffffff !important;
    }

    .k-grid.k-treelist {
      font-family: sans-serif;
      font-size: 100%;

      .k-grid-toolbar {
        .k-button {
          margin-right: 10px;
          padding: 4px 8px;
          color: map-get($theme, selection);
          background: transparent;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .k-grid-content {
        overflow-y: auto !important;

        td,
        tr > td {
          font-family: sans-serif;
          font-size: 100%;
        }

        td.k-cut,
        tr.k-cut > td {
          opacity: 0.6 !important;
        }

        td.k-state-selected,
        tr.k-state-selected > td {
          background-color: transparent !important;
        }
      }
    }
  }
  // Floorplanner - recheck

  //navigation kendo drawer
  .k-drawer-container {
    background: map-get($theme, popupmenu-background) !important;

    &:not(.k-drawer-expanded) {
      .k-drawer-items {
        .k-drawer-item .nav-link-title {
          color: map-get($theme, popupmenu-header-text);
        }
      }
    }

    .k-drawer {
      border-right-width: 0 !important;
      background-color: map-get($theme, popupmenu-background) !important;

      .k-drawer-items {
        .k-drawer-item {
          position: relative;
          border-radius: 4px;
          min-width: 40px;
          height: 40px;
          margin: 5px;
          padding: 0;
          align-items: center;

          &.k-state-selected {
            background: map-get($theme, selection);
            color: map-get($theme, text-secondary);

            .nav-link-icon {
              color: map-get($theme, text-secondary);
            }
          }

          .k-menu-expand-arrow {
            display: none;
          }

          .k-state-active {
            > .k-menu-expand-arrow {
              display: inherit;
              background: map-get($theme, selection);
            }
          }
        }
      }

      .nav-link {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 12px;

        &:hover {
          text-decoration: none !important;
        }

        &-title {
          vertical-align: top;
          color: map-get($theme, popupmenu-header-text);
        }

        a {
          color: inherit !important;
        }

        a:hover,
        &.active {
          background-color: rgba(0, 0, 0, 0.12);
        }
      }

      .fuse-nav-link,
      .fuse-nav-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 7px;
        padding-top: 11px;
        padding-bottom: 11px;
        height: 40px;
        border-radius: 4px;
        color: map-get($theme, popupmenu-header-text);

        .nav-link-badge {
          min-width: 20px;
          height: 20px;
          padding-left: 5px;
          padding-right: 7px;
          font-size: 11px;
          font-weight: 600;
          border-radius: 20px;
          transition: opacity 0.2s ease-in-out 0.1s;
          margin-left: 8px;

          + .collapsable-arrow {
            margin-left: 8px;
          }
        }

        &.active {
          .nav-link-icon {
            opacity: 1;
          }

          .nav-link-badge {
            background: #ffffff !important;
            color: rgba(0, 0, 0, 0.87) !important;
          }
        }

        .nav-link-icon,
        .collapsable-arrow {
          font-size: 18px;
          width: 18px;
          height: 18px;
          min-width: 18px;
          min-height: 18px;
          line-height: 18px;
        }
      }
    }
  }
  .fuse-nav-collapsable {
    kendo-menu {
      .k-menu-item {
        > .k-state-active {
          .fuse-nav-item {
            color: map-get($theme, text-secondary);
            background-color: map-get($theme, selection);
          }

          .k-icon {
            color: map-get($theme, primary-background);
            background: map-get($theme, primary-background);
          }
        }
      }
    }
  }

  //AB TableChartComponent
  app-table-chart {
    kendo-grid {
      height: 100%;
    }
    .k-grid-content {
      overflow-y: scroll;
    }
  }
  .k-checkbox {
    border-color: rgba(0, 0, 0, 0.8);
    &:checked {
      opacity: 1;
    }
  }

  //collapse menu
  .fuse-nav-collapsable {
    kendo-menu,
    .k-menu {
      width: 100%;
      height: 100%;

      .k-menu > li.k-item {
        color: map-get($theme, popupmenu-background) !important;
        width: 100%;

        .k-icon {
          display: none;
        }

        .k-menu-link {
          padding: 0;

          .k-icon {
            margin: 0 !important;
          }
        }
      }
    }
  }
  .k-drawer-item {
    &.k-state-selected,
    &:hover {
      background-color: map-get($theme, selection);
      .fuse-nav-item {
        color: map-get($theme, text-secondary);
      }
    }
  }
  li.k-menu-item:not(:hover) {
    > :not(.k-state-active) {
      .fuse-nav-item {
        color: map-get($theme, popupmenu-header-text);
      }
    }
  }

  //change filter icon
  .k-grid-filter span.k-icon.k-i-more-vertical::before {
    content: "\e006" !important;
  }
  .k-grid-toolbar,
  .k-grouping-header,
  .k-grid-add-row,
  .k-grid-footer,
  .k-pager-wrap.k-grid-pager {
    background-color: map-get($theme, text-secondary);
  }

  .k-icon {
    &.k-icon-24 {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 24px;
      &.k-icon-grey {
        color: rgba(0, 0, 0, 0.54) !important;
      }
    }
  }
  //

  .k-treeview .k-in.k-state-selected {
    color: map-get($theme, text-secondary);
    background-color: map-get($theme, table-header-background);
  }

  //location page wrapper
  #locationPageWrapper {
    width: 100%;
    margin: 0;
    padding: 0px 30px;

    #mapHeader {
      .address-info {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
      }

      .address-actions {
        text-align: center;
        .edit {
          background: none #039be533;
          color: map-get($theme, selection);
          border-radius: 50%;
        }
        .delete {
          background: none #565b6c33;
          color: #565b6c;
          border-radius: 50%;
        }
      }
    }
    #locationWrapper {
      width: 100%;
      background: map-get($theme, text-secondary);
      padding: 0;
      border-radius: 6px;
      height: calc(100vh - 100px);
      margin-bottom: 16px;
      #locationSearch {
        padding: 15px;
        box-shadow: 0px 3px 6px #d7e1f4;
        .k-autocomplete {
          font-family: "Poppins", sans-serif;
          width: 100%;
          background: #fcfcfc 0% 0% no-repeat padding-box;
          border: 1px solid #00000033;
          border-radius: 4px;
          padding: 10px;
        }
      }
      #locationHeader {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        padding: 15px 0px 15px 10px;
        margin: 0px 5px 0px 5px;
        border-bottom: 1px solid #00000033;
        &.location-selected {
          background: #029be5;
          color: map-get($theme, text-secondary);
          border-radius: 5px;
        }
        & > button {
          min-width: 40px;
          position: absolute;
          right: 10px;
        }
        > h2 {
          margin: 0;
          cursor: pointer;
        }
      }
      kendo-tabstrip {
        background: #f3f2ef;
      }
      kendo-treeview {
        width: 100%;
        padding: 0 5px 0 10px;
        font-family: "Poppins", sans-serif;
        .k-treeview-item {
          padding: 0 0 0 25px;
          .k-in {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            outline: 0;

            &:hover {
              background: inherit;
            }

            &.k-state-focused {
              box-shadow: none;
            }

            .location-item {
              width: 100%;
              cursor: pointer;

              & > h4 {
                margin: 10px 0;
                padding-left: 10px;
              }
              & > span {
                &.tree-count-element {
                  background: #f2f6ff 0 0 no-repeat padding-box;
                  border: 1px solid #dee5f7;
                  border-radius: 11px;
                  text-align: center;
                  margin: 0 5px 0 0;
                  width: 40px;
                }
              }
              & > button {
                width: 40px;
              }
              &.location-expanded {
                .k-icon {
                  color: #199be5;
                }
                > h4 {
                  color: #199be5;
                }
                > span {
                  background: #199be5 0 0 no-repeat padding-box;
                  color: map-get($theme, text-secondary);
                }
              }
              &.location-selected {
                background: #029be5;
                border-radius: 5px;
                .k-icon {
                  color: map-get($theme, text-secondary);
                }
                > h4 {
                  color: map-get($theme, text-secondary);
                }
                > span {
                  background: #199be5 0 0 no-repeat padding-box;
                  color: map-get($theme, text-secondary);
                }
              }
            }
          }
        }
      }

      .k-treeview .k-i-collapse:before {
        content: "\e121";
      }

      .k-treeview .k-i-expand:before {
        content: "\e11e";
      }
    }

    #rightWrapper {
      #mapContainer {
        background: map-get($theme, text-secondary);
        border-radius: 6px;
        padding: 15px;
        .address-info {
          .row {
            padding: 5px 10px;
            .label {
              font-weight: bold;
              line-height: 18px;
              font-size: 13px;
              color: #353f66;
            }
            .value {
              background: #f8fbfc;
              border-radius: 6px;
              width: 100%;
              padding: 5px 10px;
            }
          }
        }
        #mapContent {
          padding: 0 15px 15px;
          height: 100%;

          agm-map {
            height: 100%;
            .agm-map-container-inner {
              border: 1px solid #029be5;
            }
            .marker-info {
              > p > span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  //dialog
  .dialog-content-container {
    form {
      padding: 0 0 15px 0;
      .form-group {
        margin: 7px 0;
        label {
          text-align: left;
          color: #00000099;
          font-family: "Poppins", sans-serif;
          font-size: 12px;
        }

        input {
          border: 1px solid #00000033;
          border-radius: 2px;
          padding: 8px 14px;
          color: #000000cc;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          margin: 0 0 0 20px;
          min-width: 300px;
        }
      }
    }
  }

  //bulk actions: save, cancel
  .bulk-actions {
    &.k-button {
      border-radius: 4px;
      padding: 5px 15px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      height: min-content;
    }
    &.cancel {
      background: map-get($theme, cancel-button-background);
    }
    &.save {
      background: map-get($theme, save-button-background);
      color: map-get($theme, text-secondary);
    }
  }

  //server form
  #serverForm .mat-form-field .mat-form-field-wrapper {
    margin: 100;

    .pl10 {
      padding-left: 10px;
    }

    .pb10 {
      padding-bottom: 10px;
    }

    .content {
      form {
        width: 100%;
        max-width: 800px !important;
      }

      .form-errors-model {
        flex: 1;

        code {
          background: none !important;
        }
      }

      .horizontal-stepper-wrapper,
      .vertical-stepper-wrapper {
        max-width: 800px;
      }
    }
    .bor {
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 4px;
    }
    .mat-select {
      display: inline-block;
      width: 100%;
      outline: none;
      padding-top: 5px;
      font-family: OpenSans, Muli;
      line-height: 1.4285714286;
    }
    .mat-select-value {
      color: #525252 !important;
      margin-left: 8px;
    }
    .mat-form-field-appearance-legacy {
      .mat-form-field-infix {
        padding-top: 0.9em;
        padding-bottom: 0.9em;
      }
    }
    .mat-form-field.mat-form-field-type-mat-select .mat-form-field-wrapper {
      padding: 5px 0 !important;
    }
  }

  //file manager breadcrumb bar action menu
  app-file-manager-breadcrumbs {
    display: flex;
    flex: 1 1 auto;
  }
  fuse-filemanager-menu, app-revisions-menu {
    button {
      // pointer-events: none;
      &:disabled{
        opacity: .5;
      }
      svg g{
        fill: #666
      }
    }
    display: flex;
    flex: 0 0 auto;
    align-items: center;

    .breadcrumb-action-menu {
      display: flex;
      float: right;
      align-items: center;
      position: absolute;
      right: 30px;

      button.icon-button{
        margin-left: 12px;
        height: 32px;
        width: 32px;
        display: flex;
        border-radius: 0;
        justify-content: center;
        align-items: center;

        .mat-icon{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.btn-compare{
          .mat-icon{
            svg{
              height: 22px;
              width: 22px;
            }
          }
        }
        &.selected{
          background-color: map-get($theme, breadcrumb-icon-bk-color);

          .mat-icon{
            svg{
              g{
                fill: map-get($theme, selection);
              }
            }
          }
        }
        &:hover{
          background-color: map-get($theme, breadcrumb-icon-bk-color);
        }
      }
      .k-toolbar {
        padding: 0;
        margin: 0;
        background: transparent !important;
        height: 30px;
        border: none;

        & > * {
          padding: 0;
          margin: 0;
        }
        .k-state-hover {
          background: transparent !important;
          border: none !important;
          outline: none !important;
        }
        .k-button {
          padding: 0;
          margin-left: 20px;
          color: map-get($theme, breadcrumb-toolbar);

          &:active,
          &.k-state-active,
          &:hover {
            background: transparent !important;
            border: none !important;
            outline: none !important;
          }
        }
      }
    }
  }

  //@at-root
  .table,
  .k-grid,
  .k-grid-pager {
    border: none;
  }
  #report-grid {
    margin: 0px auto;
    background: #f4f2f7;
    width: 100%;

    .header-button {
      width: 100%;
    }
    gridster-item {
      border-radius: 5px;
      transition: 0.2s ease-in-out;
      &.selected {
        transition: 0.2s ease-in-out;
        box-shadow: 0px 0px 1px 1px #494d57;
      }

      &:not(.line_box) {
        padding: 15px 30px;
      }

      &.time_box {
        padding: 6px !important;
        .drag-item {
          right: -8px;
          top: -8px;
        }
        .table-wrapper {
          height: 100%;
        }
      }

      &.text_box {
        padding: 0 !important;
        .drag-item:not(.no-editor) {
          position: absolute;
          z-index: 1;
          top: 4px;
          right: 4px;
        }
        .drag-item.no-editor {
          position: relative;
          margin-left: auto;
          top: 0;
          right: 0;
        }
        .table-wrapper {
          height: 100%;
        }
        .k-editor {
          border: none;
        }
      }

      &.image_box {
        padding: 8px;
      }

      &.line_box {
        overflow: visible;
        background-color: transparent;
        .gridster-item-resizable-handler.handle-w {
          background-color: transparent;
        }
        .table {
          &.textbox,
          &.imagebox {
            border: none;
          }
          &.linebox {
            border: none;
            border-radius: none;
            position: relative;
            .table-title {
              position: absolute;
              width: 80px;
              height: 40px;
              top: -40px;
              right: 0;
              background: transparent;
            }
            .table-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              background-color: transparent;
              &.horizontal {
                padding: 5px;
              }
              &.vertical {
                padding: 8px;
              }
              & > * {
                width: 100%;
                min-width: 1px;
                min-height: 1px;
                height: 100%;
                border-radius: 5px;
              }
            }
          }
        }
        .drag-item {
          right: 0;
          top: 0;
        }
      }

      .drag-item {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        right: -8px;
        top: -8px;
        position: relative;
        margin-left: auto;
      }
    }

    .editor-html {
      padding: 8px;
      height: 100%;
      overflow: auto;
    }

    .k-editor-content > .ProseMirror {
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
    }

    .editable .drag-enabled .k-toolbar .k-overflow-anchor {
      right: 48px;
    }
  }
  //kendo window close button
  .k-dialog {
    .k-button-icon {
      padding: 0;
    }
  }
  .k-button-icon.k-window-action.k-dialog-action.k-dialog-close {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    &:hover,
    &::before:hover,
    &::after:hover,
    span.k-icon:hover,
    span.k-icon::before:hover,
    span.k-icon::after:hover {
      text-decoration: none;
    }
  }
  //kendo window
  .k-window-content,
  .k-prompt-container {
    padding: 16px;
  }
  .kendo-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .k-dialog-buttongroup.k-dialog-button-layout-stretched,
  .kendo-actions-container {
    display: flex;
    border: none;
    justify-content: flex-end;
    padding: 16px;

    .k-button {
      flex: none;
    }
  }
  .k-action-container.no-border {
    border: none;
    padding: 16px;
  }
  .k-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .fullWidth {
      width: 100%;
    }
  }
  app-manage-chart-dialog,
  kendo-dashboard-dialog,
  kendo-confirm-dialog,
  app-json-dialog,
  kendo-dashboard-item-dialog,
  kendo-report-item-dialog {
    width: 100%;
    height: 100%;
  }
  .kendo-dialog-content {
    width: 100%;

    form {
      width: 100%;
    }
  }
  kendo-object-dialog {
    .row-item {
      display: flex;
      justify-content: flex-end;
      padding: 5px 0;
    }
  }
  .k-window-titlebar.k-dialog-titlebar {
    padding-bottom:16px;
    font-family: map-get($theme, ibm-font);
    .k-dialog-action.k-dialog-close {
      display: none !important;
    }
  }
  a.k-button.k-bare.k-button-icon.k-window-action.k-dialog-action.k-dialog-close {
    display: none;
  }
  .k-window-title {
    font-size: 16px;
    line-height: 20px;
  }
  .chart-filter {
    .k-dropdown,
    .k-input,
    .k-dropdown-wrap:hover,
    .k-select,
    .k-dropdown-wrap {
      font-family: map-get($theme, ibm-font);
      font-size: 12px;
      color: map-get($theme, text-primary);
      background: map-get($theme, secondary-background);;
      border-radius: 5px;
      box-shadow: none;
      &.k-state-hover {
        background: map-get($theme, form-background);
      }
    }
  }
  app-file-manager-new-folder-dialog {
    width: 100%;
    .form-group {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;

      .k-label{
        width: 110px;
      }
    }
  }

  //tenant widget
  fuse-tenant-widget{
    border-right: 1px solid rgba(0,0,0,0.1);
    height: 40px;
    width: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .tenant-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;

    &::after{
      width: 1px;
      background-color: #000;
      height: 40px;
    }
    &__dropdown-list {
      .k-dropdown {
        height: 30px;
        line-height: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .k-input {
          line-height: 30px;
          height: 30px;
        }
        .k-dropdown-wrap {
          border: none;
          border-right: 1px solid rgba(0, 0, 0, 0.08);
          border-left: 1px solid rgba(0, 0, 0, 0.08);
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          &.k-state-focused {
            box-shadow: none;
          }
        }
      }
    }
  }
  .icon-btn.k-button {
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;

    &:active,
    &:focus {
      box-shadow: none;
    }
    .k-icon {
      height: 18px;
      width: 18px;
      line-height: 18px;
      color: map-get($theme, selection);
      &::before{
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
  .kendo-hierarchical-dropdownlist__tree-view{
    max-height: 150px;
  }

  fuse-timezone-widget{
    padding-left: 20px;
    .toolbar-timezone{
      margin-right: 16px;
    }
    .k-dropdown{
      margin-right: 16px;
      width: 168px;

      .k-input{
        color: map-get($theme, text-primary);
        font-weight: 300;
      }
      .k-dropdown-wrap{
        border: none;
        height: 30px;
        line-height: 30px;
        background: transparent;

        &.k-state-focused{
          box-shadow: none;
        }
      }
    }
  }

  .custom-dropdown{
    width: 100%;
    min-width: 168px;
    background: map-get($theme, secondary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-right: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    padding-left: 0px;
    font-weight: normal;
    font-family: map-get($theme, ibm-font);
    color: map-get($theme, text-primary);
    height: 30px;

    &:hover {
      cursor: pointer;
    }
    .k-icon {
      color: map-get($theme, select-icon);
      margin-right: 7px;
    }

    &.custom-dropdown__timezone{
      margin-right: 16px;
    }
    &__search {
      width: auto;
      background-color: map-get($theme, primary-background);
      min-width: auto;
      border-radius: 15px;
      padding: 0 5px;
      padding-left: 10px;
      height: 26px;
      margin-left: 0px;
      margin-right: 12px;
    }
  }
  .custom-popup__timezone{
    min-width: 185px;

  }
  toolbar {
    position: relative;
    display : flex;
    flex    : 0 0 auto;
    z-index : 4;
    padding: 0;

    &.below {
      z-index: 2;
    }
    .mat-toolbar {
      position  : relative;
      //background: #F2F6FA!important;
      //background: #656565!important;
      //background: #039be510!important;
      background: #ffffff !important;
      height    : 40px;
      padding: 0;
    }

    .toolbar-separator {
      height: 40px;
      width : 1px;

      @include media-breakpoint('xs') {
        height: 28px;
      }
    }

    .search-bar-section {
      flex          : 0 0 auto;
      box-sizing    : border-box;
      flex-direction: row;
      display       : flex;

      fuse-search-bar {
        position: relative;
        display: flex;
        flex-direction: column;

        button {
          mat-ripple {
            border-radius: 4px;
          }
        }
      }

      @media screen and (max-width: 992px) {
        &.section-1 {
          place-content: center flex-start;
          flex: 0 1 auto;
        }

        &.section-3 {
          place-content: center flex-end;
          align-items: center;
          flex: 1 1 auto;
        }
      }

      &.section-1 {
        place-content: center flex-start;
      }

      &.section-3 {
        place-content: center flex-end;
        align-items: center;
      }

      .mat-button, .mat-icon-button {
        width: 40px;
        height: 40px;
        mat-icon {
          height: 18px;
          width: 18px;
          font-size: 18px;
          min-width: 18px;
          min-height: 18px;
        }
      }
    }
    .toolbar-location--time {
      font-family: IBM Plex Mono;
      margin-right: 0px;
      padding: 0 16px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #ffffff;
      color: #a1a4b1;
      div {
        width: 1px;
        height: 23px;
        margin: auto 16px;
        background-color: #efd9ad;
      }
    }

  }
  fuse-labels-menu.button-bottom {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: map-get($theme, bottombar-background);
    width: 100% !important;
    box-shadow: 0 -3px 8px 0 rgba(84, 62, 62, 0.23);
    color: #fff;
    z-index: -100;
    .bulk-actions.cancel{
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
    .bulk-actions.save{
      background: map-get($theme, bottombar-save-button);
      border: solid 2px map-get($theme, bottombar-save-button);
    }
  }
  fuse-roomplanner-menu .locationFooter {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: map-get($theme, bottombar-background);
    width: 100% !important;
    box-shadow: 0 -3px 8px 0 rgba(84, 62, 62, 0.23);
    color: #fff;
    z-index: -100;
    .bulk-actions.cancel{
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
    .bulk-actions.save{
      background: map-get($theme, bottombar-save-button);
      border: solid 2px map-get($theme, bottombar-save-button);
    }
  }
  mat-tooltip-component{
    & .mat-tooltip{
      border-radius: 4px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
      background-color: #fffdf1;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #958787;
      font-family: map-get($theme, ibm-font);
      padding: 10px;
    }
  }
  .dashboard-menu-wrapper{
    width: 100%;
    height: 40px;
  }
  .dashboard-right-menu-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
  }
  .bulk-actions.cancel{
    background-color: map-get($theme, cancel-button-background);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #958787;
    border-radius: 4px;
    border: solid 2px #958787;
    height: 30px;
    opacity: 1;
  }
  .bulk-actions.save{
    border-radius: 4px;
    border: solid 2px map-get($theme, save-button-background);
    background-color: map-get($theme, save-button-background);
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-right: 18px;
    height: 30px;
  }
  .k-dialog-button-layout-stretched .k-button:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active){
    &.bulk-actions.cancel{
      background-color: map-get($theme, cancel-button-background);
      color: #958787;
    }
    &.bulk-actions.save{
      background-color: map-get($theme, save-button-background);
      color: #ffffff;
    }
  }
  .dialog-actions{
    button{
      display: flex;
      align-items: center;
    }
  }
  .pl-8.table-header-left{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: map-get($theme, save-button-background);
    font-family: map-get($theme, ibm-font);
  }
  .k-form-field{
    .k-input, .k-textbox{
      border-radius: 17px;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.08);
    }
    .k-numerictextbox{
      .k-numeric-wrap.k-state-focused,
      .k-numeric-wrap.k-state-hover{
        box-shadow: none;
      }

    }
  }
  .left-float.inventory.button-bottom {
    background: #fff;
    height: 40px;
    box-shadow: 0 -3px 8px 0 rgba(84, 62, 62, 0.23);
  }
  ng-multiselect-dropdown {
    width: auto;
    background: #fff;
    border-radius: 17px;
    padding: 0;
    height: 26px;
    .dropdown-list{
      width: auto;
    }
    .multiselect-dropdown .dropdown-btn {
      border: none !important;
      color: map-get($theme, text-primary);
      font-size: 12px !important;
      font-weight: 500 !important;
      font-family: map-get($theme, ibm-font) !important;

      .selected-item{
        border: none !important;
        color: map-get($theme, selection) !important;
        background-color: transparent !important;
      }
    }
  }
  .file-menu{
    .mat-menu-item {
      font-family: map-get($theme, ibm-font);
      font-size: 100%;
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;

      .k-icon{
        font-size: 24px;
      }
      .mat-icon{
        display: flex;
      }
    }
  }
  toolbar {
    position: relative;
    display : flex;
    flex    : 0 0 auto;
    z-index : 4;
    padding: 0;

    &.below {
      z-index: 2;
    }
    .mat-toolbar {
      position  : relative;
      //background: #F2F6FA!important;
      //background: #656565!important;
      //background: #039be510!important;
      background: #ffffff !important;
      height    : 40px;
      padding: 0;
    }

    .toolbar-separator {
      height: 40px;
      width : 1px;

      @include media-breakpoint('xs') {
        height: 28px;
      }
    }

    .search-bar-section {
      flex          : 0 0 auto;
      box-sizing    : border-box;
      flex-direction: row;
      display       : flex;

      fuse-search-bar {
        button {
          mat-ripple {
            border-radius: 4px;
          }
        }
      }

      @media screen and (max-width: 992px) {
        &.section-1 {
          place-content: center flex-start;
          flex: 0 1 auto;
        }

        &.section-3 {
          place-content: center flex-end;
          align-items: center;
          flex: 1 1 auto;
        }
      }

      &.section-1 {
        place-content: center flex-start;
      }

      &.section-3 {
        place-content: center flex-end;
        align-items: center;
      }

      .mat-button, .mat-icon-button {
        width: 40px;
        height: 40px;
        mat-icon {
          height: 18px;
          width: 18px;
          font-size: 18px;
          min-width: 18px;
          min-height: 18px;
        }
      }
    }
    .toolbar-location--time {
      font-family: IBM Plex Mono;
      margin-right: 0px;
      padding: 0 16px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #ffffff;
      color: #a1a4b1;
      div {
        width: 1px;
        height: 23px;
        margin: auto 16px;
        background-color: #efd9ad;
      }
    }

  }
  mat-tooltip-component{
    & .mat-tooltip{
      border-radius: 4px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
      background-color: #fffdf1;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #958787;
      font-family: map-get($theme, ibm-font);
      padding: 10px;
    }
  }
  .k-dialog-button-layout-stretched .k-button:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active){
    &.bulk-actions.cancel{
      background-color: map-get($theme, cancel-button-background);
      color: #958787;
    }
    &.bulk-actions.save{
      background-color: map-get($theme, save-button-background);
      color: #ffffff;
    }
  }
  .dialog-actions{
    button{
      display: flex;
      align-items: center;
    }
  }
  .pl-8.table-header-left{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: map-get($theme, save-button-background);
    font-family: map-get($theme, ibm-font);
  }
  .k-form-field{
    .k-input, .k-textbox{
      border-radius: 17px;
      height: 30px;
      border: 1px solid rgba(0,0,0,0.08);
    }
    .k-numerictextbox{
      .k-numeric-wrap.k-state-focused,
      .k-numeric-wrap.k-state-hover{
        box-shadow: none;
      }

    }
  }
  .left-float.inventory.button-bottom {
    background: #fff;
    height: 40px;
    box-shadow: 0 -3px 8px 0 rgba(84, 62, 62, 0.23);
  }
  ng-multiselect-dropdown {
    width: auto;
    background: #fff;
    border-radius: 17px;
    padding: 0;
    height: 26px;
    .dropdown-list{
      width: auto;
    }
    .multiselect-dropdown .dropdown-btn {
      border: none !important;
      color: map-get($theme, text-primary);
      font-size: 12px !important;
      font-weight: 500 !important;
      font-family: map-get($theme, ibm-font) !important;

      .selected-item{
        border: none !important;
        color: map-get($theme, selection) !important;
        background-color: transparent !important;
      }
    }
  }
  .file-menu{
    .mat-menu-item {
      font-family: map-get($theme, ibm-font);
      font-size: 100%;
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;

      .k-icon{
        font-size: 24px;
      }
      .mat-icon{
        display: flex;
      }
    }
  }

  kendo-splitter {
    height: 100%;
    border: none;
    .k-splitbar {
      border-radius: 5px;
    }
  }
  kendo-splitter-pane {
    height: 100%;
    border: none;
    .search-filter-title {
      height: 36px;
      color: map-get($theme, text-secondary);
      background: map-get($theme, search-filter-title-background);
      border-radius: 5px;
      align-items: center !important;
      font-size: 13px;
      font-weight: 500;
      font-family: map-get($theme, ibm-font);
    }
  }
  .search-filter {
    color: map-get($theme, text-primary);
    background: map-get($theme, secondary-background);
    font-size: 12px;
    font-weight: 300;
    font-family: map-get($theme, ibm-font);
    .parent {
      color: map-get($theme, search-filter-parent-text);
      font-size: 13px;
      font-weight: 500;
    }
  }
  .search-filter-button {
    background: transparent !important;
    color: map-get($theme, search-filter-title-background) !important;
    margin: 0;
  }
  .k-popup li.k-item{
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #958787;
    font-family: map-get($theme, ibm-font);
  }
  .breadcrumb-measure-action{
    button{
      position: absolute;
      height: 32px;
      background-color: #FF8080;
      border-radius: 4px;
      color: white;
      left: calc(50% - 45px);
      top: 8px;
      border: 0;
      min-width: 90px;
    }
  }
  .btn-filter{
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      cursor: pointer;
    }

    .mat-icon{
        svg{
            g{
                path:first-child{
                    fill: map-get($theme, selection);
                }
            }
        }
    }
  }
  .btn-close{
    display: flex;
    align-items: center;
    
    &:hover{
      cursor: pointer;
    }
  }
  .filter-clear-wrapper{
    display: flex;
    a{
      color: map-get($theme, selection);
      font-size: 14px;

      &:hover{
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .filter-btn-wrapper{
    position: relative;
    .badge{
      text-align: center;
      position: absolute;
      right: 6px;
      background: map-get($theme, selection);
      padding: 4px;
      line-height: 0.5;
      font-weight: lighter;
      font-size: 12px;
      color: white;
      border-radius: 50%;
    }
  }
}

.tenant-location-tabstrip {
  .k-tabstrip {
    .k-tabstrip-items {
      .k-item {
        width: 110px;
      }
    }
  }
}

.location-picker {
  font-size: 17px;
  .k-tabstrip-items .k-item {
    color: #958787;
    border-top: none;
  }

  .k-content {
    padding: 0px;
  }

  .k-treeview .k-in {
    padding: 0px;
  }
}

.data-loader {
  position: absolute !important;
  top: 40%;
  left: 50%;
  z-index: 10;
}

.disabled-list {
  filter: blur(1px);
  pointer-events: none;
}
