<div class="page-layout blank py-24">
    <div class="card">
        <roomplanner-viewer
            [location]="location"
            [layers]="layers"
        >
        </roomplanner-viewer>
    </div>
</div>
