
:host {
    padding-bottom: 5px;
    #device-grid {
        gridster {
            margin: 0px auto;
            background: #f4f2f7;
            width: 100vw;
        }

        gridster-item {
            background-color: transparent;
        }
    }

    gridster {
        margin: 0px auto;
        background: #f4f2f7;
        width: 100vw;
    }

    .header-button {
        width: 100%;
    }
}
