.content {
  background-color: #fff;
  width: 100%;

  .error-block, .info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

    .error-message, .info-message {
      height: 200px;
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      border-radius: 5px;;
      background-color: #F8FBFC;
      text-align: center;
    }

    .error-message {
      border: 1px dotted #dc3545;
    }
    .info-message {
      border: 1px dotted #007bff;
    }
  }

  .k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255,255,255,.3);
    color: #007bff;
  }
}
