<div class="content">
  <div *ngIf="!state.isLoading && !state.isFailed">
    <ng-container [ngSwitch]="fileType">
      <pre *ngSwitchCase="FileExtension.Plain">{{ data ? data : '' }}</pre>

      <img *ngSwitchCase="FileExtension.Image" [src]="fileUrl" />

      <div *ngSwitchDefault class="info-block">
        <div class="info-message">Preview is not supported this type of file.</div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="state.isLoading" class="k-i-loading"></div>

  <div *ngIf="state.isFailed" class="error-block">
    <div class="error-message">
      The content of the file cannot be displayed due to a server issue.<br />
      Please try again later.
    </div>
  </div>
</div>
