


<div kendoDialogContainer></div>
<gridster fuseNavigationMenuGlidster *ngIf="endpointset" id="endpointset-grid" name="endpointset-grid" [options]="options">

    <ng-container *ngFor="let item of activeDashboards; let index = index" [ngSwitch]="item.reportType">

        <ng-container *ngSwitchCase="itemType.LABELS">
            <gridster-item [item]="item" *ngIf="labels && labels.length > 0">
                <labels-grid-item [labels]="labels"></labels-grid-item>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="'ITEM_RULES_EDITOR'">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isMenuDisabled]="true"
                            [isContolPanel]="true">
                            <span class="chart-title" title>EndPoint Set Conditions</span>

                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                            <div menuItems>
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <app-rules-editor
                            [(parsedData)]="parsedData"
                            [endpointset]="endpointset"
                            [searchText]="tableHeader.searchText"
                            (setRows)="setHeightGridster(index, item, $event)"
                            [pageSize]="tableHeader.pageSize.value">
                        </app-rules-editor>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.ENDPOINTSET_ENDPOINT_SET_CONDITIONS_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"
                            [isContolPanel]="false">
                            <span class="chart-title" title>EndPoint Set Conditions</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <app-rule-parse
                         [(parsedData)]="parsedData"
                         (setRows)="setHeightGridster(index, item, $event)"
                        >
                        </app-rule-parse>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>

        <ng-container *ngSwitchCase="itemType.ENDPOINTSET_TEMPLATE_DETAILCARD">
            <gridster-item [item]="item">
                <form-widget class="widget">
                    <div title class="table-title" fxLayout="column" fxLayoutAlign="center start">
                        <shared-table-header-widget
                            class="w-100-p"
                            #tableHeader
                            [item]="item"
                            [index]="0"[isMenuDisabled]="true"
                            [isContolPanel]="false">
                            <span class="chart-title" title>Template</span>
                            <!--  UNCOMMENT THESE AFTER WE ADD SUPPORT TO THEM
                             ************
                                <button (click)="tableHeader.onAddToReport(item)" mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Add to Report</span>
                                </button>
                                <button (click)="tableHeader.onAddToDashboard(item)" mat-menu-item>
                                    <mat-icon>dashboard</mat-icon>
                                    <span>Add to Dashboard</span>
                                </button>
                                <button mat-menu-item (click)="changeGridsterState(item)">
                                    <ng-container *ngIf="item?.resizeEnabled; else lockedTemplate">
                                        <mat-icon>lock_open</mat-icon>
                                        <span>Lock Resize/Position</span>
                                    </ng-container>
                                    <ng-template #lockedTemplate>
                                        <mat-icon>lock</mat-icon>
                                        <span>Unlock Resize/Position</span>
                                    </ng-template>
                                </button>
                            </div>
                            *************
                            END OF COMMENT -->
                        </shared-table-header-widget>
                    </div>
                    <div content class="gridster-item-content">
                        <endpointset-template
			            
			             [endpointset]="endpointset" [resourceName]="resourceName" [namespace]="namespace" (refreshGridster)="refreshGridster()"></endpointset-template>
                    </div>
                </form-widget>
            </gridster-item>
        </ng-container>
        <ng-container *ngSwitchCase="itemType.CHART">
    	    <gridster-item class="shared-chart" [item]="item">
        	<shared-chart-header-widget title #widgetHeader [widget]="item" (edit)="chartWidget.editWidget($event)"
            	    (gridsterStateChanged)="changeGridsterState(item, false)" (panelJson)="chartWidget.jsonWidget($event, index)"
            	    (remove)="chartWidget.removeWidget($event)" (view)="customViewWidget($event)">
        	</shared-chart-header-widget>
        	<shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async"
            	    [interval]="widgetHeader.refreshTimeObs | async">
        	</shared-chart-widget>
    	    </gridster-item>
    	</ng-container>
    </ng-container>
</gridster>

