
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="name" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    <div *ngIf="!isNew">
                        {{formGroup.controls.name.value}}
                    </div>
                    <div *ngIf="isNew">
                        <input kendoTextBox #input class="k-textbox" [formControl]="formGroup.controls.name">
                        <kendo-popup [anchor]="input"
                            *ngIf="formGroup.controls.name.invalid && !(isNew && formGroup.controls.name.untouched)"
                            popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-i-warning"></span>
                            Subinterface name is required
                        </kendo-popup>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="SubinterfacespecApiVersion" title="Api Version" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.SubinterfacespecApiVersion}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.SubinterfacespecApiVersion"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SubinterfacespecKind" title="Kind" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.SubinterfacespecKind}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.SubinterfacespecKind"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SubinterfacespecEnabled" title="Enabled">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.SubinterfacespecEnabled"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.SubinterfacespecEnabled" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SubinterfacespecParentInterface" title="Parent Interface" >
        <ng-template kendoGridCellTemplate let-dataItem>
            <a style="color:#039be5" *ngIf="dataItem.SubinterfacespecParentInterface"
             href="{{objectRefToUrl(dataItem.SubinterfacespecParentInterface)}}"
             (click)="loadRefLink(dataItem.SubinterfacespecParentInterface)">
	         {{dataValueAccessor(dataItem.SubinterfacespecParentInterface, IfInterfaceDataSource)}}
            </a>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup" let-isNew="isNew">
		<kendo-dropdownlist matTooltip="Parent Interface" [data]="IfInterfaceDataSource"
                        [textField]="'name'" [valueField]="'value'" [(ngModel)]="selectedSubinterfacespecParentInterface"
			[popupSettings]="{ popupClass: 'popup-page-dropdown' }"
			(valueChange)="onSubinterfacespecParentInterfaceValueChange($event)" >
                </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="subinterfaces.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="subinterfaces.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
