<div class="dialog-content-container" fxLayout="column" fxLayoutAlign="start stretch">
  <form [formGroup]="formGroup" fxFlex="80" fxLayout="column">
    <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
      <label for="name" fxFlex="20">Name</label>
      <input
        fxFlex="80"
        type="text"
        class="form-control"
        id="name"
        [formControl]="formGroup.get('name')"
        required
        [readOnly]="editMode"
      />
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
      <label for="address" fxFlex="20">Address</label>
      <input
        #addressACRef
        fxFlex="80"
        type="text"
        class="form-control"
        id="autoAddress"
        [value]="formGroup.get('address').value"
        [formControl]="formGroup.get('autoAddress')"
        matGoogleMapsAutocomplete
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
        (onLocationSelected)="onLocationSelected($event)"
      />
    </div>
    <div *ngIf="editMode && !isParentLocation" class="form-group" fxLayout="row" fxLayoutAlign="start center">
      <app-manage-tenant-location-dropdown
        [selectedTenant]="selectedTenant"
        [parentLocationLink]="parentLocationLink"
        [editedLocationSelfLink]="selectedLocation?.metadata?.selfLink"
        class="item-w-100"
        (locationChanged)="onLocationChanged($event)"
      ></app-manage-tenant-location-dropdown>
    </div>
  </form>

  <kendo-dialog-actions class="no-border kendo-actions-container">
    <button kendoButton class="btn bulk-actions cancel" [icon]="'close-circle'" (click)="onCancelAction()">
      Cancel
    </button>
    <button
      kendoButton
      class="btn btn-primary bulk-actions save"
      [icon]="'save'"
      [primary]="true"
      [disabled]="!formGroup.valid"
      (click)="onSaveAction()"
    >
      Save
    </button>
  </kendo-dialog-actions>
</div>
