<div class="view-panel" kendoDialogContainer>
    <gridster fuseNavigationMenuGlidster [options]="options">
        <ng-container *ngFor="let item of listOfCharts">
            <gridster-item [item]="item">
                <shared-chart-header-widget title #widgetHeader 
                    [widget]="item" 
                    [isMenu]="true" 
                    [isView]="false"
                    [isRemove]="false"
                    (edit)="chartWidget.editWidget($event)"
                    (gridsterStateChanged)="changeGridsterState()"
                    (panelJson)="chartWidget.jsonWidget($event, index)"
                    (remove)="chartWidget.removeWidget($event)" 
                    (view)="customViewWidget($event)"
                    (filterChange)="filterChanged($event)">
                </shared-chart-header-widget>
                <shared-chart-widget #chartWidget [item]="item" [index]="index" [period]="widgetHeader.selectedRangeObs | async" [interval]="widgetHeader.refreshTimeObs | async">
                </shared-chart-widget>
            </gridster-item>
            <gridster-item [item]="item1">
                <div class="table" fxLayout="column">
                    <div class="table-title" fxLayout="column" fxLayoutAlign="center start">
                            <shared-table-header-widget 
                                class="w-100-p"
                                #tableHeader
                                [item]="item1"
                                [index]="0"
                                [isContolPanel]="true">
                                <div menuItems>
                                    <button (click)="detailTable.onExportPDFHandler()" mat-menu-item>
                                        <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                        <span>Export to PDF</span>
                                    </button>
                                    <button (click)="detailTable.onExportExcelHandler()" mat-menu-item>
                                        <span class="k-icon k-icon-24 k-icon-grey k-i-file-excel mr-16"></span>
                                        <span>Export to Excel</span>
                                    </button>
                                    <button mat-menu-item (click)="changeGridsterState(item1)">
                                        <ng-container *ngIf="item1?.resizeEnabled; else lockedTemplate">
                                            <mat-icon>lock_open</mat-icon>
                                            <span>Lock Resize/Position</span>
                                        </ng-container>
                                        <ng-template #lockedTemplate>
                                            <mat-icon>lock</mat-icon>
                                            <span>Unlock Resize/Position</span>
                                        </ng-template>
                                    </button>
                                    <button mat-menu-item (click)="detailTable.onGroupable()">
                                        <ng-container *ngIf="detailTable.groupable; else lockedDragTemplate">
                                            <mat-icon>highlight_off</mat-icon>
                                            <span>Disable group by column</span>
                                        </ng-container>
                                        <ng-template #lockedDragTemplate>
                                            <mat-icon>group_work</mat-icon>
                                            <span>Enable group by column</span>
                                        </ng-template>
                                    </button>
                                </div>
                            </shared-table-header-widget>
                        </div>
                    <div content class="gridster-item-content table-wrapper">
                        <app-kendo-table
                            #detailTable
                            [widget]="item" 
                            [interval]="widgetHeader.refreshTimeObs | async" 
                            [selectedRange]="widgetHeader.selectedRangeObs | async"
                            [filter]="filter"
                            [objName]="objName"
                            [namespace]="namespace"
                            [searchText]="tableHeader.searchText" (setRows)="setHeightGridster($event, item1, tableHeader.height, listOfCharts)" [pageSize]="tableHeader.pageSize.value">
                        </app-kendo-table>
                    </div>
                </div>
            </gridster-item>
        </ng-container>
    </gridster>
</div>
