

<form #form="ngForm" class="k-form" *ngIf="endpoint" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusAuthProtocol" class="label-top">Protocol </label>
	 <input [readonly]="true"
            #statusAuthProtocol
            kendoTextBox
            [(ngModel)]="endpoint?.status.authProtocol"
            name="status.authProtocol"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusAuthStartTimeStamp" class="label-top">Start Time </label>
	 <input [readonly]="true"
            #statusAuthStartTimeStamp
            kendoTextBox
            [ngModel]="getendpointstart_time_status_authstarttimestamp()" (ngModelChange)="endpoint?.status.authStartTimeStamp = $event"
            name="status.authStartTimeStamp"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusLastAuthTimeStamp" class="label-top">End Time </label>
	 <input [readonly]="true"
            #statusLastAuthTimeStamp
            kendoTextBox
            [ngModel]="getendpointend_time_status_lastauthtimestamp()" (ngModelChange)="endpoint?.status.lastAuthTimeStamp = $event"
            name="status.lastAuthTimeStamp"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusAuthTimeDiff" class="label-top">Time Taken in ms </label>
	 <input [readonly]="true"
            #statusAuthTimeDiff
            kendoTextBox type="number"
            [(ngModel)]="endpoint?.status.authTimeDiff"
            name="status.authTimeDiff"
	     (keyup)="onValueChanged(form)"
        />
    </div>

	<div *ngIf="!(false) && (true)" class="row-item">
	     <label [for]="statusAuthStatus">Status </label>
        <div>
            <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                    <span *ngIf="endpoint.status.authStatus == 'TunnelConnecting'" class="badge badge-success">Up</span>
                    <span *ngIf="endpoint.status.authStatus == 'TunnelConnected'" class="badge badge-success">Up</span>
                    <span *ngIf="endpoint.status.authStatus == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                    <span *ngIf="endpoint.status.authStatus == 'TunnelInactive'" class="badge badge-danger">Inactive</span>
                    <span *ngIf="(endpoint.status.authStatus.toLowerCase() == 'unknown') || (!endpoint.status.authStatus)" class="badge badge-unknown">Unknown</span>
                    <span *ngIf="endpoint.status.authStatus == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                    <span *ngIf="endpoint.status.authStatus == 'REJECTED'" class="badge badge-danger">Failed</span>
                    <span *ngIf="endpoint.status.authStatus == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                    <span *ngIf="endpoint.status.authStatus == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                    <span *ngIf="endpoint.status.authStatus == 'DECLINED'" class="badge badge-danger">Failed</span>

                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                    <span *ngIf="endpoint.status.authStatus == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>

        </div>
     </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusAuthFailureReason" class="label-top">Failure Reason </label>
	 <input [readonly]="true"
            #statusAuthFailureReason
            kendoTextBox
            [(ngModel)]="endpoint?.status.authFailureReason"
            name="status.authFailureReason"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
