:host ::ng-deep {
    .gridster-item-content {
        width: 100%;
        height: calc(100% - 65px);
    }
    &.table-widget .gridster-item-content {
        height: calc(100% - 65px);
    }
    .no-data-centered {
        font-family: 'IBMPlexMono';
        font-size: 1.25rem;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
