<ng-content></ng-content>
<div class="gridster-item-content" *ngIf="!noData" [ngSwitch]="item?.chartType">
    <ng-template [ngSwitchCase]="'bar'">
        <app-bar-chart
            [widget]="item"
            [index]="index"
            [chartVariant]="chartVariant"
            [chartOptions]="chartOptions"
            [colorPalette]="colorPalette"
            [refreshTime]="refreshTimer"
            [interval]="interval"
            [selectedRange]="period"
            (filter)="onCustomFilterByType($event)"
        ></app-bar-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'scatter'">
        <app-scatter-chart
            [refreshTime]="refreshTimer"
            [widget]="item"
            [chartOptions]="chartOptions"
            [colorPalette]="colorPalette"
            [interval]="interval"
            [selectedRange]="period"
            [index]="index"
            (filter)="onFilterByType($event)">
        </app-scatter-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'gauge'">
        <app-gauge-chart
            [widget]="item"
            [interval]="interval"
            [selectedRange]="period"
            [index]="index"
            (filter)="onFilterByType($event)">
        </app-gauge-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'pie'">
        <app-pie-chart
            [refreshTime]="refreshTimer"
            [widget]="item"
            [interval]="interval"
            [selectedRange]="period"
            [index]="index"
            (filter)="onCustomFilterByType($event)">
        </app-pie-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'graph'">
        <app-graph-chart
            [refreshTime]="refreshTimer"
            [widget]="item"
            [interval]="interval"
            [selectedRange]="period"
            [index]="index"
            (filter)="onFilterByType($event)">
        </app-graph-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'summary'">
        <app-summary-chart
            [refreshTime]="refreshTimer"
            [widget]="item"
            [interval]="interval"
            [selectedRange]="period"
            [index]="index"
            (filter)="onFilterByType($event)">
        </app-summary-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'table'">
        <app-table-chart
            [refreshTime]="refreshTimer"
            [widget]="item"
            [interval]="interval"
            [selectedRange]="period"
            [index]="index"
            [isViewPanel]="isViewPanel"
            (filter)="onFilterByType($event)">
        </app-table-chart>
    </ng-template>
</div>
<div class="no-data-centered"
     *ngIf="noData">
    No Data Available</div>
