<div class="dashboard-menu-wrapper">
  <div class="right-float">
    <div *ngIf="!isDetailPage" class="dashboard_layout_menu item">
      <mat-icon class="secondary-text arrow mr-0">navigate_next</mat-icon>
      <kendo-dropdownlist
        [popupSettings]="{ width: 250, popupClass: 'for-breadcrumb' }"
        (valueChange)="updateLayout($event)"
        [value]="selectedLayout"
        [data]="layouts$ | async"
        [textField]="'name'"
        [iconClass]="'k-i-arrow-chevron-down'"
        [valueField]="'uid'"
      >
      </kendo-dropdownlist>
    </div>

    <div class="item" *ngIf="!isReportPage">
      <mat-icon class="secondary-text arrow mr-0">navigate_next</mat-icon>

      <kendo-dropdownlist
        [popupSettings]="{ width: 150, popupClass: 'for-breadcrumb' }"
        [value]="selectedRange"
        (valueChange)="updateRange($event)"
        [data]="rangeList"
        [iconClass]="'k-i-arrow-chevron-down'"
        [textField]="'label'"
        [valueField]="'short'"
      >
      </kendo-dropdownlist>
    </div>
    <div class="item" *ngIf="!isReportPage">
      <mat-icon class="secondary-text arrow mr-0">navigate_next</mat-icon>

      <kendo-dropdownlist
        [popupSettings]="{ width: 80, popupClass: 'for-breadcrumb' }"
        [value]="selectedRefreshInterval"
        (valueChange)="refreshTimeSelected($event)"
        [data]="refreshList"
        [iconClass]="'k-i-arrow-chevron-down'"
        [textField]="'label'"
        [valueField]="'value'"
      >
      </kendo-dropdownlist>
    </div>
    <div class="left-float">
        <div class="item" *ngIf="!isReportPage">
            <!--Refresh  -->
            <button mat-icon-button matTooltip="Refresh the dashboard" (click)="onRefresh()">
                <mat-icon [svgIcon]="'dashboard-refresh'"></mat-icon>
            </button>
        </div>
        <ng-container *ngIf="isReportPage">
            
            <div class="item">
                <!--Edit report -->
                <ng-container *ngIf="editReport; else editTemplate">
                    <button mat-icon-button matTooltip="View report" (click)="onEditReport()">
                        <mat-icon>pageview</mat-icon>
                    </button>
                </ng-container>
                <ng-template #editTemplate>
                    <button mat-icon-button matTooltip="Edit report" (click)="onEditReport()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </ng-template>
            </div>
            <div class="item">
                <!--Add to PDF -->
                <button mat-icon-button matTooltip="Add to PDF" (click)="onPDFReport()">
                        <mat-icon>picture_as_pdf</mat-icon>
                </button>
            </div>
            <ng-container *ngIf="editReport">
                <div class="item">
                    <!--Add textbox -->
                    <button mat-icon-button matTooltip="Add text box" (click)="onAddTextBoxControl()">
                        <mat-icon>text_fields</mat-icon>
                    </button>
                </div>
                <div class="item">
                    <!--Add image -->
                    <button mat-icon-button matTooltip="Add image" (click)="onAddImageBoxControl()">
                        <mat-icon>add_photo_alternate</mat-icon>
                    </button>
                </div>
                <div class="item">
                    <!--Add time -->
                    <button mat-icon-button matTooltip="Add time" (click)="onTimerReport()">
                            <mat-icon>av_timer</mat-icon>
                    </button>
                </div>
                <div class="item">
                    <!--Add line -->
                    <button mat-icon-button matTooltip="Add line" (click)="onLineReport()">
                            <mat-icon>playlist_add</mat-icon>
                    </button>
                </div>
            </ng-container>
        </ng-container>

        <div *ngIf="!isDetailPage && !isReportPage" class="item">
            <button mat-icon-button
                (click)="onAddNewChart()" 
                class="dashboard-menu-item icon-button has-stroke"
                [class]="selectedAction === 'ADD_CHART' ? 'selected' : ''"
                matTooltip="Add a chart" aria-label="Operations">
                <mat-icon [svgIcon]="'dashboard-add'"></mat-icon>
            </button>
<!--            <button mat-icon-button (click)="onNewWidget()" class="dashboard-menu-item icon-button"-->
<!--                matTooltip="Add a chart" aria-label="Operations">-->
<!--                <mat-icon style="width:26px; height:40px">add_photo_alternate</mat-icon>-->
<!--            </button>-->
            <div kendoDialogContainer></div>
        </div>
        <div *ngIf="!isDetailPage" class="item">
            <button 
                matTooltip="{{ 'Select a ' + (isReportPage ? 'report' : 'dashboard') + ' operation' }}" 
                mat-icon-button 
                [matMenuTriggerFor]="menu"
                (menuOpened)="onOthersMenuOpened()"
                (menuClosed)="onOthersMenuClosed()"
                [class]="selectedAction === 'OTHERS' ? 'selected' : ''"
                aria-label="Operations">
                <!-- <mat-icon>settings_applications</mat-icon> -->
                <mat-icon [svgIcon]="'dashboard-settings'"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="onAddItem()" mat-menu-item>
                    <mat-icon>assessment</mat-icon>
                    <span>Add</span>
                </button>
                <button (click)="onSaveItem()" mat-menu-item>
                    <mat-icon>save</mat-icon>
                    <span>Save</span>
                </button>
                <button (click)="onCloneLayout()" mat-menu-item>
                    <mat-icon>queue</mat-icon>
                    <span>Clone</span>
                </button>
                <button (click)="onDeleteLayout()" mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
        <div *ngIf="isReportPage && selectedReportItem && editReport" class="item">
            <button matTooltip="'item menu'" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Operations">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onItemLockUnlock()">
                    <ng-container *ngIf="reportItemUnlock; else lockedTemplate">
                        <mat-icon>lock_open</mat-icon>
                        <span>Lock Resize/Position</span>
                    </ng-container>
                    <ng-template #lockedTemplate>
                        <mat-icon>lock</mat-icon>
                        <span>Unlock Resize/Position</span>
                    </ng-template>
                </button>
                <button *ngIf="isEditItem" mat-menu-item (click)="onEditReportItem()">
                    <ng-container *ngIf="isEditStateItem; else templateEditItem">
                        <mat-icon>pageview</mat-icon>
                        <span>View</span>
                    </ng-container>
                    <ng-template #templateEditItem>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </ng-template>
                </button>
                <hr class="break">
                <button mat-menu-item class="remove-menu" (click)="onRemoveReportItem()">
                    <mat-icon>delete_outline</mat-icon>
                    <span>Remove</span>
                </button>
            </mat-menu>
        </div>
    </div>
  </div>
</div>
