button.mat-menu-trigger {
  box-align: center;
  align-items: center;
  font-weight: 500;
  padding: 0;
  line-height: 18px;
  color: #fff;
  white-space: nowrap;
  border-radius: 2px;
}

mat-button-toggle-group {
  align-items: center;
}

.dashboard-menu-item {
  border-radius: 2px;
  margin-top: -1px;
  color: white !important;
}

.item-refresh {
  height: 35px;
  line-height: 35px;
}

:host ::ng-deep {
  .dashboard-menu-wrapper {
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .left-float {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
  }
  .right-float {
    display: flex;
    align-items: center;
    margin-left: -20px;
  }
  .item {
    padding: 0;
    display: flex;
    align-items: center;
  }
}
