<fuse-widget class="widget">

    <!-- Front -->
    <div class="fuse-widget-front">
        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h3">Test Widget</div>

            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="blue-grey-fg font-size-72 line-height-72">
                {{data.count}}
            </div>
            <div class="h3 secondary-text font-weight-500">{{data.label}}
            </div>
        </div>

        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate">
                {{data.extra.label}}:
            </span>
            <span class="h4 ml-8">{{data.extra.count}}</span>
        </div>
    </div>
    <!-- / Front -->

    <!-- Back -->
    <div class="fuse-widget-back p-16 pt-32">
        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
        </button>

        <div>
            You can show some detailed information about this widget in here.
        </div>
    </div>
    <!-- / Back -->

</fuse-widget>
