.main-container {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidenav {
  right: 0;
  z-index: 1000;
  width: 30%;
  max-width: 300px;
  overflow: visible;
  visibility: visible !important;

  .modal-space {
    height: 100%;
    width: 20px;
    position: absolute;
    background: white;
  }

  .toggle-button {
    position: absolute;
    top: 20px;
    width: 30px;
    height: 30px;

    ::ng-deep .mat-button-wrapper {
      display: block !important;
      padding: 0 !important;

      .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.sidenav.right {
  right: 0;
  .modal-space {
    left: -20px;
    border-left: 1px solid #dae1e7;
  }
  .toggle-button {
    left: -35px;
  }
  .modal-content {
    padding: 1rem;
  }
}
.content {
  width: 100%;
}
