<!-- <div class="spinner" [style.background-color]="echarts.bg" *ngIf="pending"><i class="fas fa-spinner fa-spin"></i></div> -->
<mat-spinner
    [diameter] = "50"
    *ngIf="pending"></mat-spinner>
<div  echarts
      [options]="options"
      [autoResize]="true"
      (chartLegendSelectChanged)="onChartClick($event, 'chartClick')"
      class="echart"
      (chartInit)="onChartInit($event)"></div>
