:host{
    ::ng-deep{
        .mat-form-field{
            width: 100%;
            text-align: left;
        }
        kendo-grid{
            width: 100%;
            height: calc(40vh - 72px);
        }
    }
}
