<kendo-grid [data]="gridView" [pageSize]="pageSize" [pageable]="true" [sortable]="true"
    [columnMenu]="{ filter: false }" [skip]="skip" (pageChange)="pageChange($event)" [reorderable]="true"
    [resizable]="true">
    <kendo-grid-column field="address" title="address" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="latitude" title="Latitude" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="longitude" title="Longitude" width="50">
    </kendo-grid-column>
</kendo-grid>
