<div class="wrapper">
    <div>
        <kendo-switch 
            [(ngModel)]="isMenuWithTextChecked"
            (ngModelChange)="onMenuWithTextChanged($event)"
            [onLabel]="'Yes'"
            [offLabel]="'No'"
        ></kendo-switch>
        <span>
            Display icon and title on the left menu. 
        </span>
    </div>
</div>
