<div fxLayout="row" fxLayoutAlign="start center" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>List of notifications</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <kendo-grid
                [kendoGridBinding]="gridView.data"
                [pageSize]="10"
                [pageable]="true"
                [hideHeader]="true"
                [resizable]="true">
        
                <kendo-grid-column [width]="60" field="icons" [resizable]="false">
                    <ng-template kendoGridCellTemplate let-notification>
                        <ng-container [ngSwitch]="notification?.status?.typeID">
                            <mat-icon class="mt-4" *ngSwitchCase="'Critical'" svgIcon="notification-critical"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Debug'" svgIcon="notification-debug"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Emergency'" svgIcon="notification-emergency"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Error'" svgIcon="notification-error"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Info'" svgIcon="notification-info"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Notice'" svgIcon="notification-notice"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Warning'" svgIcon="notification-warning"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchCase="'Configuration'" svgIcon="notification-warning"></mat-icon>
                            <mat-icon class="mt-4" *ngSwitchDefault svgIcon="notification-warning"></mat-icon>
                        </ng-container>
                    </ng-template>
                </kendo-grid-column>
        
                <kendo-grid-column field="description" [resizable]="false">
                    <ng-template kendoGridCellTemplate let-notification>
                        <div class="text-left" fxLayout="row" fxLayoutAlign="start start">
                            {{ notification?.status?.description }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="timeCreated" [width]="150" [class]="{'text-center': true}" [resizable]="false">
                    <ng-template kendoGridCellTemplate let-notification>
                        {{ notification?.status?.timeCreated | date }}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="country" [width]="200" [class]="{'text-center': true}" [resizable]="false">
                    <ng-template kendoGridCellTemplate let-notification>
                        <kendo-dropdownlist 
                            [popupSettings]="{ width: 80 }" 
                            [value]="getValueObject(notification.spec.acknowledged)"
                            (valueChange)="updateNotification($event, notification)" 
                            [data]="stateOfNotification" 
                            [textField]="'label'"
                            [valueField]="'value'">
                        </kendo-dropdownlist>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </mat-card-content>
    </mat-card>
</div>
