:host {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;

    mat-card {
        max-width: 960px;
        width: 100%;
    }

    kendo-grid {
        border: 0;

        ::ng-deep td {
            border-color: transparent !important;
            padding: 16px 12px;
        }

        ::ng-deep kendo-pager {
            border: 0;
        }
    }
}
