<ng-container>
    <div class="group-title" [ngClass]="item.classes" *ngIf="menuState === FuseMenuType.IconWithText || menuState === FuseMenuType.Overlapping">
        <span class="hint-text" [translate]="item.translate">{{(item.translate | translate) || item.text}}</span>
    </div>
 
    <div class="group-items">
        <ng-container *ngFor="let item of item.items; trackBy: trackByItem">
            <fuse-nav-vertical-group    *ngIf="item.type=='group'" 
                                        [item]="item"
                                        (menuItemSelected)="onMenuItemSelected($event)"></fuse-nav-vertical-group>
            <fuse-nav-vertical-collapsable *ngIf="item.type=='collapsable'"
                                            [item]="item"
                                            (menuItemSelected)="onMenuItemSelected($event)"></fuse-nav-vertical-collapsable>
            <fuse-nav-vertical-item *ngIf="item.type=='item'" 
                                    [item]="item"
                                    (menuItemSelected)="onMenuItemSelected($event)"></fuse-nav-vertical-item>
        </ng-container>
    </div>
</ng-container>
