<div class="kendo-dialog-content" class="navigate-away">
  <img src="assets/icons/global/icons-24-warning.svg" class="Icons-24-Warning">
  <span style="white-space: pre-line">{{ message }}</span>
</div>
<kendo-dialog-actions>
  <button
    kendoButton
    class="btn bulk-actions cancel"
    (click)="onNavigateAction()"
  >
    Continue Without Saving
  </button>
  <button
    kendoButton
    class="btn bulk-actions cancel"
    (click)="onCancelAction()"
  >
    Cancel
  </button>
  <button
    kendoButton
    class="btn btn-primary bulk-actions save"
    (click)="onSaveAction()"
  >
    Save
  </button>
</kendo-dialog-actions>
