.Icons-24-Warning {
  width: 60px;
  height: 60px;
  margin: -32px 248px 5px 248px;
  object-fit: contain;
}
.navigate-away {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-weight: 500;
  color: #958787;
  text-align: center;
}
