<inventory-widget-a [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === 'widgetA'">
</inventory-widget-a>
<inventory-widget-b [widget]="widget" [resizeEvent]="resizeEvent" *ngIf="widget.type === 'widgetB'">
</inventory-widget-b>
