
<gridster id="label-detail-grid" name="label-detail-grid" [options]="options">
    <gridster-item [item]="item1">
        <form-widget class="widget">
            <div title>Detail</div>
            <div content class="gridster-item-content">
                <label-details></label-details>
             </div>
        </form-widget>
    </gridster-item>
</gridster>
