:host {
    padding-bottom: 5px;

    #device-detail-grid {
        gridster-item {
            background-color: transparent;
        }
    }

    gridster {
        margin: 0px auto;
        background: #f4f2f7;
    }

    form-widget {
        overflow-y: auto;
        height: 100%;
        border: 1px solid;
        border-color: rgba(193, 193, 193, 1);
    }
}
