

<form #form="ngForm" class="k-form" *ngIf="platformcomponent" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specName" class="label-top">Platform Name </label>
	 <input [readonly]="false"
            #specName
            kendoTextBox
            [(ngModel)]="platformcomponent?.spec.name"
            name="spec.name"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="specPowerSupplyEnabled">Power Supply </label>
        <mat-checkbox [disabled]="false" class="example-margin" name="spec.powerSupply.enabled" [(ngModel)]="platformcomponent.spec.powerSupply.enabled" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specLinecardPowerAdminState" class="label-top">Line Card AdminState </label>
	 <input [readonly]="false"
            #specLinecardPowerAdminState
            kendoTextBox
            [(ngModel)]="platformcomponent?.spec.linecard.powerAdminState"
            name="spec.linecard.powerAdminState"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusType" class="label-top">Type </label>
	 <input [readonly]="true"
            #statusType
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.type"
            name="status.type"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusId" class="label-top">ID </label>
	 <input [readonly]="true"
            #statusId
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.id"
            name="status.id"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusLocation" class="label-top">Location </label>
	 <input [readonly]="true"
            #statusLocation
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.location"
            name="status.location"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusDescription" class="label-top">Description </label>
	 <input [readonly]="true"
            #statusDescription
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.description"
            name="status.description"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusMfgName" class="label-top">Manufacturer Name </label>
	 <input [readonly]="true"
            #statusMfgName
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.mfgName"
            name="status.mfgName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusMfgDate" class="label-top">Manufacturer Date </label>
	 <input [readonly]="true"
            #statusMfgDate
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.mfgDate"
            name="status.mfgDate"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusHardwareVersion" class="label-top">Hardware Version </label>
	 <input [readonly]="true"
            #statusHardwareVersion
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.hardwareVersion"
            name="status.hardwareVersion"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusSoftwareVersion" class="label-top">Software Version </label>
	 <input [readonly]="true"
            #statusSoftwareVersion
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.softwareVersion"
            name="status.softwareVersion"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusFirmwareVersion" class="label-top">Firmware Version </label>
	 <input [readonly]="true"
            #statusFirmwareVersion
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.firmwareVersion"
            name="status.firmwareVersion"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusSerialNo" class="label-top">Serial Number </label>
	 <input [readonly]="true"
            #statusSerialNo
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.serialNo"
            name="status.serialNo"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusPartNo" class="label-top">Part Number </label>
	 <input [readonly]="true"
            #statusPartNo
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.partNo"
            name="status.partNo"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusRemovable">Removable </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.removable" [(ngModel)]="platformcomponent.status.removable" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusOperStatus" class="label-top">Operational Status </label>
	 <input [readonly]="true"
            #statusOperStatus
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.operStatus"
            name="status.operStatus"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusEmpty">Empty </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.empty" [(ngModel)]="platformcomponent.status.empty" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusParent" class="label-top">Parent </label>
	 <input [readonly]="true"
            #statusParent
            kendoTextBox
            [(ngModel)]="platformcomponent?.status.parent"
            name="status.parent"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
