
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="name" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    <div *ngIf="!isNew">
                        {{formGroup.controls.name.value}}
                    </div>
                    <div *ngIf="isNew">
                        <input kendoTextBox #input class="k-textbox" [formControl]="formGroup.controls.name">
                        <kendo-popup [anchor]="input"
                            *ngIf="formGroup.controls.name.invalid && !(isNew && formGroup.controls.name.untouched)"
                            popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-i-warning"></span>
                            NetworkTemplate name is required
                        </kendo-popup>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="NetworkTemplatespecTemplateEnable" title="Template Mode" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of template_mode_spec_template_enable_enum"> 
                <ng-container *ngIf="item.value===dataItem.NetworkTemplatespecTemplateEnable"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="NetworkTemplatespecTemplateEnable"
            [(ngModel)]="formGroup.controls.NetworkTemplatespecTemplateEnable.value"
            [data]="template_mode_spec_template_enable_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="NetworkTemplatespecNetworkAccessControl" title="NAC">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.NetworkTemplatespecNetworkAccessControl"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.NetworkTemplatespecNetworkAccessControl" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="NetworkTemplatespecNetworkTrafficAnalytics" title="Flow Analytics">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.NetworkTemplatespecNetworkTrafficAnalytics"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.NetworkTemplatespecNetworkTrafficAnalytics" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="NetworkTemplatespecNetworking" title="Networking" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of networking_spec_networking_enum"> 
                <ng-container *ngIf="item.value===dataItem.NetworkTemplatespecNetworking"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="NetworkTemplatespecNetworking"
            [(ngModel)]="formGroup.controls.NetworkTemplatespecNetworking.value"
            [data]="networking_spec_networking_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="networktemplates.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="networktemplates.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
