

<form #form="ngForm" class="k-form" *ngIf="device" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusPowerSource" class="label-top">Power Source </label>
	 <input [readonly]="true"
            #statusPowerSource
            kendoTextBox
            [(ngModel)]="device?.status.powerSource"
            name="status.powerSource"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
	<label [for]="statusUpgradeProgress">Upgrade In Progress </label>
        <mat-checkbox [disabled]="true" class="example-margin" name="status.upgradeProgress" [(ngModel)]="device.status.upgradeProgress" (change)="onValueChanged(form)">
        </mat-checkbox>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="statusAplinks">Access Point Links </label>
        <kendo-multiselect
            #statusAplinks
	    [readonly]="true"
	    name="statusAplinks"
            [(ngModel)]="device.status.aplinks"
	    [allowCustom]="true"
	    [popupSettings]="{popupClass: 'k-label-popup--hidden'}"
	    (valueChange)="onValueChanged(form)"
            [valueNormalizer]="statusAplinksStringNormalizer"
        >
        </kendo-multiselect>
    </div>
</form>
