:host {
	flex: 1 1 100%;
	box-sizing: border-box;
	flex-direction: row;
	display: flex;
	place-content: center flex-end;
	align-items: center;
}

.revisions-actions {
	display: flex;
	align-items: center;

	input {
		margin-left: 30px;
	}

	label {
		margin-left: 10px;
	}
}
