<div class="breadcrumb-action-menu">
    <kendo-toolbar>
        <kendo-toolbar-button
            look="bare"
            [text]="'View'"
            iconClass="zmdi zmdi-eye mr-8"
            [disabled]="!view"
            (click)="onView()"
        >
        </kendo-toolbar-button>
        <kendo-toolbar-button
            look="bare"
            [text]="'Compare'"
            iconClass="zmdi zmdi-flip-to-front mr-8"
            [disabled]="!compare"
            (click)="onDiff()"
        >
        </kendo-toolbar-button>
    </kendo-toolbar>
    <div class="revisions-actions">
        <input type="checkbox" id="showCards" kendoCheckBox [formControl]="showCardsControl" />
        <label class="k-checkbox-label" for="showCards">
            Show Cards
        </label>
        <input type="checkbox" id="showAll" kendoCheckBox [formControl]="showAllControl" />
        <label class="k-checkbox-label" for="showAll">
            Show all Revisions
        </label>
    </div>
</div>
