<div class="kendo-dialog-content">
  <form [formGroup]="form">
    <kendo-multiselect
      formControlName="selectedItems"
      [data]="selectData"
      [textField]="'text'"
      [valueField]="'id'"
      [valuePrimitive]="false"
    ></kendo-multiselect>
  </form>
</div>
<kendo-dialog-actions class="no-border kendo-actions-container">
  <button
    kendoButton
    class="btn bulk-actions cancel"
    [icon]="'close-circle'"
    (click)="closeDialog()"
  >
    Cancel
  </button>
  <button
    kendoButton
    [icon]="'save'"
    class="btn btn-primary bulk-actions save"
    [disabled]="toRemoveList.length + toAddList.length === 0"
    (click)="saveReports()"
  >
    Save
  </button>
</kendo-dialog-actions>
