<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>{{data.msg}}</mat-dialog-content>
<mat-dialog-actions style="min-height: 68px;">
  <button mat-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>
