<div class="row-item search-bar-section">
  <label [for]="location" class="location-font-size">Location: </label>
  <div class="toolbar-location--wrapper">
    <div class="kendo-hierarchical-dropdownlist item-w-100 select-location-dropdownlist">
      <div #anchor (click)="onToggle()" class="kendo-hierarchical-dropdownlist__btn select-location-dropdownlist-btn">
        {{ selectedLocation }}
        <mat-icon class="select-location-dropdownlist-btn-icon">expand_more</mat-icon>
      </div>
      <kendo-popup
        #popup
        class="kendo-hierarchical-dropdownlist_popup select-location-list-popup"
        [anchor]="anchor"
        (anchorViewportLeave)="close()"
        *ngIf="show"
      >
        <span class="k-list-filter item-w-100">
          <input
            [(ngModel)]="searchTerm"
            #category
            class="k-textbox search-location-input"
            (keyup)="onKeyUp(category.value)"
            name="searchinput"
            placeholder=""
          />
          <span class="k-icon k-i-search search-icon-position"></span>
        </span>
        <kendo-treeview
          class="treeview item-w-100"
          [nodes]="filteredLocationData"
          textField="name"
          name="location"
          kendoTreeViewSelectable
          kendoTreeViewHierarchyBinding
          childrenField="children"
          [selectBy]="'name'"
          [isDisabled]="isDisabledNode"
          [(selectedKeys)]="selectedLocation"
          (selectionChange)="updateLocation($event)"
        >
        </kendo-treeview>
      </kendo-popup>
    </div>
    <div class="toolbar-separator"></div>
  </div>
</div>
