.toolbar-location--wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
  width: 83%;
  display: inline-flex !important;
  margin-left: 10px;
  margin-top: 10px;
}

.search-bar-section .toolbar-location--wrapper .kendo-hierarchical-dropdownlist__btn {
  font-size: 14px;
  background: transparent;
}

.item-w-100 {
  width: 100% !important;
}

.search-location-input {
  margin-left: 0px !important;
  min-width: 80% !important;
}

.select-location-list-popup {
  margin-left: -7px;
  width: 300px;
  background: none;
}

.location-font-size {
  font-size: 12px;
}

.search-icon-position {
  position: absolute;
}

.select-location-dropdownlist {
  margin-left: -22px !important;
}

.select-location-dropdownlist-btn {
  margin-left: 10px;
}

.select-location-dropdownlist-btn-icon {
  margin-right: -20px;
}
