kendo-dialog-titlebar {
  font-family: IBM Plex Sans;
  font-size: 16px; 
  font-weight: 500;
  line-height: 1.3em;
  border-radius: 5px;
}

form {  
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : baseline;
    text-align     : end;
}  

.row-item { 
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    
    label{
        flex: 0 1 auto;
        padding: 0;
        min-width: 30%;
        padding-right: 5px;
        justify-content: flex-end;
        font-family: "IBM Plex Mono", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #353F66;
    }   
    ::ng-deep {
    	.popup-page-dropdown,
    	.k-dropdown,
    	.k-dropdown-wrap,
    	.k-input,
    	.k-select,
    	.k-textbox {
    	    font-family: "IBM Plex Mono", sans-serif;
    	    font-size: 12px;
    	    color: #353F66 !important;
    	    background: #F8FBFC!important;
    	    border-radius: 5px;
    	    box-shadow: none;
    	    border: none;
    	}
    }
    a.k-button.k-bare.k-button-icon.k-window-action.k-dialog-action.k-dialog-close{
      display:none;
    }
    .k-icon {
	position: relative;
	margin: 0;
    }
    .ul-tooltip-info {
        font-size: 80%;
        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tooltip-info {
        font-size: 80%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.validation-error {
    font-size: 80%;
    font-weight: 400;
    color: red;
    padding: 0 4px 4px 115px;
    text-align: start;
}

.k-button {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 12px;
    color: #353F66 !important;
    background: #039be51a!important;
    //background: #EBF0FA!important;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
::ng-deep .k-button.k-bare {
    display: none;
}
.btn-cancel {
    margin: 10px 10px 0 0;
}
.btn-confirm {
    margin: 10px 0 0 0 !important;
}
.mat-dialog-container {
    padding: 15px;
    border-radius: 5px;
}
