<kendo-dialog-titlebar (close)="onCancelAction()">
  <div class="titlebar"><span class="k-icon k-i-form-element"></span>Add New Object</div>
</kendo-dialog-titlebar>

  <form #addObjectForm="ngForm" novalidate fxLayout="column" fxLayoutAlign="start">
    <div class="row-item">
      <label [for]="objectName">Name: </label>
      <kendo-textbox
       #objectName="ngModel"
       name="objectName"
       [(ngModel)]="data.name"
       required
       class="k-textbox"
       [showSuccessIcon]="false"
       [showErrorIcon]="false"
       appValidateRules
       [validateRules]="nameRules"
      >
        <ng-template kendoTextBoxSuffixTemplate>
            <div kendoTooltip [tooltipTemplate]="objectNameTooltipTemplate" filter="kendo-icon">
            <kendo-icon
                *ngIf="!(!objectName.errors && objectName.dirty)"
                [name]="'info'"
                [class.k-color-error]="!!objectName.errors && objectName.dirty"
            ></kendo-icon>
            <kendo-icon
                *ngIf="!objectName.errors && objectName.dirty"
                [name]="'check-outline'"
                class="k-color-success"
            ></kendo-icon>
            <ng-template #objectNameTooltipTemplate>
              <ul class="ul-tooltip-info">
        	<li>contain at most 63 characters</li>
                <li>contain only lowercase alphanumeric characters or '-'</li>
                <li>start with an alphanumeric character</li>
                <li>end with an alphanumeric character</li>
              </ul>
            </ng-template>
          </div>
        </ng-template>
      </kendo-textbox>
    </div>
    <div class="validation-error" *ngIf="objectName.errors && objectName.dirty">
      <div *ngIf="!!objectName.errors?.required">Name is required.</div>
      <div *ngIf="!!objectName.errors?.maxLength">Cannot be more than 63 characters.</div>
      <div *ngIf="!!objectName.errors?.noUpperCase">Uppercase characters are not allowed.</div>
      <div *ngIf="!!objectName.errors?.firstAlphaNumeric">First character has to be alphanumeric.</div>
      <div *ngIf="!!objectName.errors?.lastAlphaNumeric">Last character has to be alphanumeric.</div>
      <div *ngIf="!!objectName.errors?.allowedCharacters">Only alphanumeric and '-' allowed.</div>
    </div>

    <div class="row-item">
        <label [for]="location">Location: </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    #location="ngModel"
            name="location"
            [(ngModel)]="data.location"
            [data]="locationList" 
	    required
	>
        </kendo-dropdownlist>
        <kendo-formerror *ngIf="location.errors?.required && location.dirty && location.invalid">
	    Host name is required
	</kendo-formerror>
    </div>
  </form>

<kendo-dialog-actions class="no-border kendo-actions-container">
  <button kendoButton class="btn bulk-actions cancel" (click)="onCancelAction()">Cancel</button>
  <button kendoButton class="btn btn-primary bulk-actions save" (click)="onConfirmAction()" [primary]="true" [disabled]="!addObjectForm.valid">
    Go To Details
  </button>
</kendo-dialog-actions>
