<!-- breadcrumb -->
<div class="col">
  <ol class="breadcrumb">
    <li class="breadcrumb-breadcrumb">
      <a matTooltip="Home" routerLink="/">
        <mat-icon [svgIcon]="'breadcrumbs-home'" class="secondary-text"></mat-icon>
        <!-- <mat-icon>home</mat-icon> -->
      </a>
      <!-- <mat-icon *ngIf="breadcrumbs.length !== 0" [svgIcon]="'breadcrumbs-arrow-next'" class="secondary-text arrow"></mat-icon> -->
      <mat-icon *ngIf="breadcrumbs.length !== 0" class="secondary-text arrow"
        >navigate_next</mat-icon
      >
    </li>
    <li
      class="breadcrumb-breadcrumb"
      *ngFor="let breadcrumb of breadcrumbs; let i = index"
      [class.active]="i === breadcrumbs.length - 1"
    >
      <!-- <a
        [routerLink]="breadcrumb.url"
        [queryParams]="breadcrumb.params"
        [queryParamsHandling]="'merge'"
        *ngIf="i !== breadcrumbs.length - 1"
      >
        {{ breadcrumb.label }}
      </a> -->
      <a
        *ngIf="i !== breadcrumbs.length - 1"
        (click)="onBreadcrumbClicked(breadcrumb)"
      >
        {{ breadcrumb.label }}
      </a>
      <span *ngIf="i === breadcrumbs.length - 1; else arrowTemplate">{{
        breadcrumb.label
      }}</span>
      <ng-template #arrowTemplate>
        <mat-icon class="secondary-text arrow mr-0">navigate_next</mat-icon>
      </ng-template>
    </li>
    <li *ngIf="extraBreadcrumb">
      <span class="ml-8">{{ extraBreadcrumb.label }}</span>
    </li>
  </ol>
</div>
