@mixin fuse-breadcrumbs-theme($theme) {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $contrast-color: mat-color($primary, default-contrast);

    a {
        color: $contrast-color;
    }

    #fuse-breadcrumbs {

        &.show-mobile-panel {
            background-color: map-get($background, background);
        }
    }
}
