<div class="toolbar-timezone">
    <div
        #anchor
        (click)="onToggle()"
        class="custom-dropdown custom-dropdown__timezone"
    >
        {{ currentTime | async}}
        <mat-icon>expand_more</mat-icon>
    </div>
    <kendo-popup
        (blur)="onBlur()"
        #popup
        class="custom-popup custom-popup__timezone"
        [anchor]="anchor"
        [style]="'width: ' + anchor.width"
        (anchorViewportLeave)="close()"
        *ngIf="show"
    >
        <div class="k-list-scroller" style="max-height: 200px">
            <ul class="k-list k-reset">
            <li
                *ngFor="let item of timeZoneList"
                (click)="onTimeZoneChange(item)"
                [ngClass]="item.value == selectedTimeZone.value ? 'k-item k-state-selected' : 'k-item'"
            >
                {{item.label}}
            </li>
            </ul>
        </div>
    </kendo-popup>
</div>
