

<form #form="ngForm" class="k-form" *ngIf="platformcomponent" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusAllocatedPower" class="label-top">Allocated Power </label>
	 <input [readonly]="true"
            #statusAllocatedPower
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.allocatedPower"
            name="status.allocatedPower"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusUsedPower" class="label-top">Used Power </label>
	 <input [readonly]="true"
            #statusUsedPower
            kendoTextBox type="number"
            [(ngModel)]="platformcomponent?.status.usedPower"
            name="status.usedPower"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
