<div [ngClass]="fuseConfig.layout.navbar.secondaryBackground" id="breadcrumbBar">
  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
      <ng-container [ngSwitch]="currentPage">
        <ng-container *ngSwitchCase="'ROOM_PLANNER'">
          <fuse-roomplanner-menu></fuse-roomplanner-menu>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <fuse-breadcrumbs></fuse-breadcrumbs>
          </div>
          <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <div [ngSwitch]="currentPage" class="full-width">
              <div *ngSwitchCase="'DASHBOARD'" class="full-width">
                <fuse-dashboard-menu [isReportPage]="false" [isDetailPage]="false"></fuse-dashboard-menu>
              </div>
              <div *ngSwitchCase="'DASHBOARD_DETAIL'">
                <fuse-dashboard-menu [isReportPage]="false" [isDetailPage]="true"></fuse-dashboard-menu>
              </div>
              <div *ngSwitchCase="'REPORT'">
                <fuse-dashboard-menu [isReportPage]="true" [isDetailPage]="false"></fuse-dashboard-menu>
              </div>
              <div *ngSwitchCase="'TOPOLOGY'">
                <fuse-topology-menu *ngIf="canShowTopologyMenu"></fuse-topology-menu>
              </div>
              <div *ngSwitchCase="'LOCATION'" class="full-width reverse" >
                <fuse-location-menu></fuse-location-menu>
              </div>
              <div *ngSwitchCase="'deviceuserrule_detail'">
                <fuse-deviceuserrule-menu [iconStyle]="iconStyle"></fuse-deviceuserrule-menu>
              </div>
              <ng-container *ngSwitchCase="'INVENTORY_DETAIL'">
                <fuse-inventory-detail-menu fxFlex="100" fxLayout="row"  fxLayoutAlign="end center" [iconStyle]="iconStyle">
                </fuse-inventory-detail-menu>
                <fuse-labels-top-menu fxFlex="100" fxLayout="row" fxLayoutAlign="end center" [iconStyle]="iconStyle" >
                </fuse-labels-top-menu>
                <fuse-labels-menu fxFlex="100" fxLayout="row" class="button-bottom" [show_hide_btn]="true" fxLayoutAlign="end center" [iconStyle]="iconStyle" >
                </fuse-labels-menu>
              </ng-container>
              <ng-container *ngSwitchCase="'DEVICE_DETAIL'">
                <fuse-labels-top-menu fxFlex="100" fxLayout="row" fxLayoutAlign="end center" [iconStyle]="iconStyle" >
                </fuse-labels-top-menu>
                <fuse-labels-menu fxFlex="100" fxLayout="row" class="button-bottom" [show_hide_btn]="true" fxLayoutAlign="end center" [iconStyle]="iconStyle" >
                </fuse-labels-menu>
              </ng-container>
               
              <ng-container *ngSwitchCase="'device_list'">
                <fuse-labels-menu fxFlex="100" fxLayout="row" class="button-bottom" fxLayoutAlign="end center" [iconStyle]="iconStyle" [show_hide_btn]="true">
                </fuse-labels-menu>
              </ng-container>

              <ng-container *ngSwitchCase="'DEVICE_DETAIL_ADD'">
                <fuse-labels-menu fxFlex="100" fxLayout="row" class="button-bottom" [show_hide_btn]="true" fxLayoutAlign="end center" [iconStyle]="iconStyle">
                </fuse-labels-menu>
              </ng-container>
              <ng-container *ngSwitchCase="'FILE_MANAGER'">
                <app-file-manager-breadcrumbs></app-file-manager-breadcrumbs>
                <fuse-filemanager-menu></fuse-filemanager-menu>
              </ng-container>
              <ng-container *ngSwitchCase="'AUDIT_DETAIL'">
                <app-revisions-menu></app-revisions-menu>
              </ng-container>
              <div *ngSwitchDefault></div>
            </div>
          </div>
        </ng-container>
      </ng-container>
  </div>
</div>
