
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [kendoGridBinding]="gridView.data"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">

    <kendo-grid-column field="vlanName" title="Vlan Name" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.vlanName}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.vlanName"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="vlanId" title="Vlan Id" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.vlanId}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.vlanId"/>
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="devicesviconfigs.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="devicesviconfigs.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
