@import "src/@fuse/scss/fuse";

horizontal-layout-2 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    .display-none {
        display: none;
    } 

    #container-2{
        overflow-y: auto; 
    }

    .icon-only {
        margin-left: 50px;
    }

    #main {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        width: 100%;
        height: 100%;
        //z-index: 1;
        min-width: 0;

        .container-aside {
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            flex-shrink: 0;

            // /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
            /* Hide scrollbar for IE, Edge and Firefox */
            & {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
        }
        // Container 1
        >.container {
            position: relative;
            flex: 1 1 0%;
            width: 100%;
            min-height: 0;
            min-width: 0;
            flex-direction: column;



            .container-content {
                display: flex;
                flex-flow: column nowrap;
                width: 100%;
                height: 100%;
                padding: 0px 0;

                // Container 2
                >.container-2 {
                    position: relative;
                    display: flex;
                    flex: 1 1 0%;
                    flex-direction: column;
                    min-width: 0;

                    // Container 3 (Scrollable)
                    >.container-3 {
                        position: relative;
                        display: flex;
                        flex: 1 1 0%;
                        flex-direction: column;
                        overflow-x: hidden;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;

                        // Content component
                        content {
                            &.inner-scroll {
                                flex: 1 1 0%;
                                min-height: 0;

                                >*:not(router-outlet) {
                                    flex: 1 1 0%;
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }
}

navbar.vertical-style-2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

fuse-sidebar.folded {
    top: 40px;
    height: calc(100vh - 73px);
}
