<!-- SIDE PANEL -->
<ng-container *ngIf="!fuseConfig.layout.sidepanel.hidden && fuseConfig.layout.sidepanel.position === 'left'">

    <!-- PANEL CONTENT -->

</ng-container>
<!-- / SIDE PANEL -->

<div id="main">


    <!-- NAVBAR: Left -->
    <div class="container-aside">
        <fuse-navigation layout="horizontal"></fuse-navigation>
    </div>
    <!-- / NAVBAR: Left -->



    <!-- NAVBAR: Top -->
    <ng-container *ngIf="fuseConfig.layout.navbar.position === 'top'">
        <ng-container *ngTemplateOutlet="topNavbar"></ng-container>
    </ng-container>
    <!-- / NAVBAR: Top -->

    <!-- TOOLBAR: Below -->
    <ng-container *ngIf="fuseConfig.layout.toolbar.position === 'below'   ">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </ng-container>
    <!-- / TOOLBAR: Below -->



    <div id="container-1" class="container">
        <!-- TOOLBAR: Above -->

        <div
            *ngIf="fuseConfig.layout.toolbar.position === 'above'"
            [class.display-none]="hideToolbar" 
        >
            <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </div>
        <!-- / TOOLBAR: Above -->
        <div class="container-content">
	     <floating-notification></floating-notification>
            <!-- BREADCRUMBBAR: Below -->
            <breadcrumb-bar> </breadcrumb-bar>
            <!-- / BREADCRUMBBAR: Below -->

            <div #contentContainer id="container-2" class="container-2">
                <div id="container-3" class="container-3" >

                    <!-- CONTENT -->
                    <content></content>
                    <!-- / CONTENT -->

                    <!-- FOOTER: Below -->
                    <ng-container *ngIf="fuseConfig.layout.footer.position === 'above-static'">
                        <ng-container *ngTemplateOutlet="footer"></ng-container>
                    </ng-container>
                    <!-- / FOOTER: Below -->

                </div>

            </div>
        </div>


        <!-- <ng-container *ngIf="fuseConfig.layout.navbar.position === 'left'">
            <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
        </ng-container> -->


    </div>

    <!-- FOOTER: Above -->
    <ng-container *ngIf="fuseConfig.layout.footer.position === 'above-fixed'">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
    </ng-container>
    <!-- FOOTER: Above -->

</div>

<!-- SIDE PANEL -->
<ng-container *ngIf="!fuseConfig.layout.sidepanel.hidden && fuseConfig.layout.sidepanel.position === 'right'">

    <!-- PANEL CONTENT -->

</ng-container>
<!-- / SIDE PANEL -->

<!-- QUICK PANEL -->
<fuse-sidebar name="quickPanel" position="right" class="quick-panel">
    <quick-panel></quick-panel>
</fuse-sidebar>
<!-- / QUICK PANEL -->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->
<ng-template #toolbar>
    <toolbar *ngIf="!fuseConfig.layout.toolbar.hidden"
        [ngClass]="fuseConfig.layout.toolbar.customBackgroundColor === true ? fuseConfig.layout.toolbar.position + ' ' + fuseConfig.layout.toolbar.background : fuseConfig.layout.toolbar.position">
    </toolbar>
</ng-template>
<!-- / TOOLBAR -->

<!-- FOOTER -->
<ng-template #footer>
    <footer *ngIf="!fuseConfig.layout.footer.hidden"
        [ngClass]="fuseConfig.layout.footer.customBackgroundColor === true ? fuseConfig.layout.footer.position + ' ' + fuseConfig.layout.footer.background : fuseConfig.layout.footer.position">
    </footer>
</ng-template>
<!-- / FOOTER -->

<!-- TOP NAVBAR -->
<ng-template #topNavbar>
    <navbar variant="horizontal-style-2" class="top-navbar" fxHide fxShow.gt-md
        *ngIf="!fuseConfig.layout.navbar.hidden">
    </navbar>
</ng-template>
<!-- / TOP NAVBAR -->
