<div class="kendo-dialog-content">
    {{ message }}
  </div>
  <kendo-dialog-actions class="no-border kendo-actions-container">
    <button
      kendoButton
      class="btn btn-primary bulk-actions save"
      (click)="onOkBtnClicked()"
    >
     OK
    </button>
  </kendo-dialog-actions>
  
