<div class="tenant-list">
  <div
    class="tenant-list-item"
    *ngFor="let tenant of tenantsList"
    [class.selected-tenant-list-item]="selectedTenant && tenant.name == selectedTenant.name"
    (click)="selectTenant(tenant)"
    (dblclick)="onTenantDblClick(tenant)"
  >
    <span>
      {{ tenant.name }}
    </span>

    <div class="tenant-context-menu-button">
      <button kendoButton #target icon="more-vertical" look="flat"></button>
      <app-location-item-context-menu
        [target]="target"
        [addButtonHidden]="true"
        (openDeleteItemDialog)="openDeleteTenantDialog(tenant)"
        (openEditItemDialog)="openEditTenantDialog(tenant)"
      ></app-location-item-context-menu>
    </div>
  </div>
</div>
