.tenant-list {
  max-height: calc(100vh - 135px);
  overflow-y: auto;

  .tenant-list-item {
    padding: 10px 5px;
    margin: 0px 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .tenant-context-menu-button {
    float: right;
  }

  .selected-tenant-list-item {
    background-color: #039be5;
    color: white;
    border-radius: 5px;
  }
}
