<div content class="gridster-item-content">
    <kendo-grid 
        #grid="kendoGrid" 
        kendoGridSelectBy="id" 
        [data]="gridView"  
        [kendoGridBinding]="gridView.data"
        [skip]="skip"
        [selectable]="true" 
        [pageSize]="pageSize" 
        [pageable]="true" 
        [sortable]="true" 
        [groupable]="groupable"
        [group]="groups"
        [reorderable]="true" 
        [resizable]="true" 
        [columnMenu]="{ filter: true }"
        (pageChange)="pageChange($event)" 
        (cellClick)="onCellClick($event)"
        (dataStateChange)="setHeight()"
    >
        <kendo-grid-column field="name" title="Name" width="100">
        </kendo-grid-column>
        <kendo-grid-column class="values-field" field="values" title="Values" width="400">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <div class="values-wrapper">
                    <kendo-multiselect
                            #list
                            [data]="dataItem.filteredValues"
                            [filterable]="true"
                            placeholder="Select values"
                            [(ngModel)]="dataItem.selectedValues"
                            (filterChange)="_filter($event, rowIndex)"
                            (valueChange)="valueChange($event)"
                        >
                    </kendo-multiselect>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-pdf fileName="labels.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
        <kendo-grid-excel fileName="labels.xlsx"></kendo-grid-excel>
    </kendo-grid>
</div>
