<ol class="breadcrumb">
  <li
    class="breadcrumb-breadcrumb"
    *ngFor="let breadcrumb of breadcrumbs; let isLast = last"
  >
    <mat-icon *ngIf="breadcrumbs.length !== 0" class="secondary-text arrow mr-0"
      >navigate_next</mat-icon
    >
    <span
      class="cursor-pointer"
      *ngIf="!isLast"
      (click)="onBreadcrumbClick(breadcrumb)"
    >
      {{ breadcrumb.name }}
    </span>
    <span *ngIf="isLast">{{ breadcrumb.name }}</span>
  </li>
</ol>
