
<gridster id="label-grid" name="label-grid" [options]="options">
    <gridster-item [item]="item1">
        <widget class="widget" >
            <div title>Labels List</div>
                <div content class="gridster-item-content">
                    <label-list></label-list>
                </div>
        </widget>
    </gridster-item>
</gridster>
