<div kendoDialogContainer></div>
<div
  class="k-overlay"
  style="opacity: 0.1; z-index: 100"
  #overlay
  *ngIf="showTree"
></div>

<!-- -->

<div class="container-side--left">
  <ol class="breadcrumb">
    <li class="breadcrumb-breadcrumb">
      <a routerLink="/" matTooltip="Home">
        <mat-icon [svgIcon]="'breadcrumbs-home'" class="secondary-text"></mat-icon>
      </a>
      <mat-icon class="secondary-text arrow ng-star-inserted">navigate_next</mat-icon>
    </li>

    <li
      class="breadcrumb-breadcrumb"
      *ngFor="let breadcrumb of breadcrumbs; let i = index"
      [class.active]="i === breadcrumbs.length - 1"
    >
      <!-- <a
        [routerLink]="breadcrumb.url"
        [queryParams]="breadcrumb.params"
        [queryParamsHandling]="'merge'"
        *ngIf="i !== breadcrumbs.length - 1"
      >
        {{ breadcrumb.label }}
      </a> -->
      <a
        *ngIf="i !== breadcrumbs.length - 1"
        (click)="onBreadcrumbClicked(breadcrumb)"
      >
        {{ breadcrumb.label }}
      </a>
      <span *ngIf="i === breadcrumbs.length - 1; else arrowTemplate">{{
        breadcrumb.label
      }}</span>
      <mat-icon class="secondary-text arrow ng-star-inserted">navigate_next</mat-icon>
    </li>
  </ol>

  <button
    class="btn btn--select-floorspace"
    #treeAnchor
    [class.mode-open]="showTree"
    (click)="openTree()"
  >
    {{ selectedTitle || "Select Floorspace" }}
    <mat-icon>expand_more</mat-icon>
  </button>

  <!-- <button
    class="btn btn--toggle-2d-3d"
    [class.mode-2d]="editor.viewManager.viewMode === 0"
    [class.mode-3d]="editor.viewManager.viewMode === 1"
    (click)="editor.viewManager.changeViewMode()"
  >
    {{editor.viewManager.viewMode === 0 ? '2D View' : '3D View'}}
  </button> -->
</div>

<div class="container-side--center breadcrumb-actions">
<div class="scale-button">
  <button
    type="button" 
    (click)="editor.measureManager.setScale()"
    *ngIf="editor.viewManager.editorMode === 0"
  >
    <mat-icon matTooltip="Set Unit" [svgIcon]="'setunit'" class="secondary-text scale-icon-w ruler-icon">
    </mat-icon>
  </button>
</div>
  <button
    class="btn btn--transform"
    [disabled]="!editor.selectionManager.selected?.isSelectable || editor.viewManager.editorMode === 1"
    *ngIf="editor.viewManager.editorMode === 0"
    (click)="onSelectionBtnClicked()"
    [class]="(selectedAction ==='SELECTION' || editor.selectionManager.selected?.isSelectable) ? 'selected' : ''"
  >
    <mat-icon 
      matTooltip="Select" 
      [svgIcon]="'select'" 
      class="secondary-text">
    </mat-icon>
  </button>
 
  <button
    class="btn btn--transform"
    [disabled]="!editor.selectionManager.selected?.isSelectable || editor.viewManager.editorMode === 1"
    (click)="onMoveBtnClicked()"
    [class]="selectedAction ==='MOVE' ? 'selected' : ''"
    *ngIf="editor.viewManager.editorMode === 0"
  >
    <mat-icon 
      matTooltip="Move" 
      [svgIcon]="'move'" 
      class="secondary-text">
    </mat-icon>
  </button>

  <button
  class="btn btn--transform"
  [disabled]="!editor.selectionManager.selected?.isScalable || editor.viewManager.editorMode === 1"
  *ngIf="editor.viewManager.editorMode === 0"
  (click)="editor.viewManager.changeTransformMode('scale')"
>
  <mat-icon 
    matTooltip="Scale" 
    [svgIcon]="'scale'" 
    class="secondary-text scale-icon-w"
    [class]="selectedAction ==='SCALE' ? 'selected' : ''">
  </mat-icon>
</button>
 
  <button
    class="btn btn--transform"
    [disabled]="!editor.selectionManager.selected?.isRotatable || editor.viewManager.editorMode === 1"
    *ngIf="editor.viewManager.editorMode === 0"
    (click)="editor.viewManager.changeTransformMode('rotate')"
  >
    <mat-icon matTooltip="Rotate" [svgIcon]="'rotate'" class="secondary-text rotate-icon-w"></mat-icon>
  </button>
  <button
    class="btn btn--transform"
    #settingsAnchor
    [disabled]="!editor.selectionManager.selected?.params || editor.viewManager.editorMode === 1"
    *ngIf="editor.viewManager.editorMode === 0"
    (click)="onPropertiesBtnClicked()"
    [class]="selectedAction ==='PROPERTIES' ? 'selected' : ''"
  >
    <mat-icon 
      matTooltip="Properties" 
      [svgIcon]="'properties'" 
      class="secondary-text">
    </mat-icon>
    <!-- <mat-icon
      style="
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        font-size: 16px;
        line-height: 16px;
        margin-left: 2px;
        margin-right: 0;
        position: relative;
        left: 3px;
      "
    >
      expand_more
    </mat-icon> -->
  </button>


  
 <!-- <button mat-icon-button
    (click)="onViewChangeClicked()" 
    class="icon-button"
    [matTooltip]="tooltipForOrientation" 
  >
    <mat-icon [svgIcon]="_breadcrumbService.viewDropdown.selectedItem && _breadcrumbService.viewDropdown.selectedItem.item_text ==
    'Left to Right' ? 'top-to-bottom' : 'left-to-right'"></mat-icon>
  </button> -->


 

  <button
    class="btn btn--transform"
    #controlAnchor
    [disabled]="editor.viewManager.editorMode === 1"
    *ngIf="editor.viewManager.editorMode === 0"
    (click)="onOthersBtnClicked()"
    [class]="selectedAction ==='OTHERS' ? 'selected' : ''"
  >
    <mat-icon 
      matTooltip="Settings" 
      [svgIcon]="'settings'" 
      class="secondary-text"
    >
    </mat-icon>
  <!-- <mat-icon
    style="
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
      font-size: 16px;
      line-height: 16px;
      margin-left: 2px;
      margin-right: 0;
      position: relative;
      left: 3px;
    "
  >
    expand_more
  </mat-icon> -->
</button>

<button [matTooltip]="editor.viewManager.editorMode === 0 ? 'Edit' : 'View'" class="btn btn--transform eye-btn" (click)="onEditModeBtnClicked()">
  <mat-icon *ngIf="editor.viewManager.editorMode === 0">visibility</mat-icon>
  <mat-icon 
    *ngIf="editor.viewManager.editorMode !== 0"
    [svgIcon]="'edit'" 
    class="secondary-text">
  </mat-icon>
  <!-- <mat-icon>{{editor.viewManager.editorMode === 0 ? 'hide' : 'visibility' }}</mat-icon> -->
  <!-- <mat-icon matTooltip="View" [svgIcon]="'rotate'" class="secondary-text"></mat-icon> -->
</button>
<button
  class="btn btn--transform"
  (click)="on3DModeBtnClicked()"
  [class]="is3DMode ? 'selected' : ''"
>
  <mat-icon 
    matTooltip="3D View" 
    [svgIcon]="'3d-view'" 
    class="secondary-text"
  >
  </mat-icon>
</button>


</div>

<div class="container-side--right locationFooter" *ngIf="editor.viewManager.editorMode === 0">
  <ng-container>
    <button type="button" class="bulk-actions cancel k-button" (click)="handleCancel()">
      Cancel
    </button>
    <button type="button" class="bulk-actions save k-button" (click)="handleSave()">
      Save
    </button>
  </ng-container>
</div>

<!-- -->

<kendo-popup
  style="width: 360px; margin-top: 10px"
  #treePopup
  [anchor]="treeAnchor"
  (anchorViewportLeave)="closeTree()"
  *ngIf="showTree"
>
  <form novalidate #form="ngForm">
    <kendo-treelist
      #tree
      kendoTreeListExpandable
      kendoTreeListSelectable
      idField="name1"
      parentIdField="parentName1"
      scrollable="virtual"
      [pageSize]="30"
      [rowHeight]="36"
      [height]="400"
      [filter]="filter"
      [loading]="loadTree"
      [kendoTreeListFlatBinding]="dataTree"
      [initiallyExpanded]="true"
      [hideHeader]="true"
      [selectable]="{ mode: 'row', multiple: true, drag: false }"
      [selectedItems]="selectedItems"
      (selectedItemsChange)="selectHandler($event)"
      (edit)="editHandler($event, form)"
      (remove)="removeHandler($event, form)"
      (save)="saveHandler($event, form)"
      (cancel)="cancelHandler($event, form)"
    >
      <kendo-treelist-checkbox-column [width]="40" [checkChildren]="true">
      </kendo-treelist-checkbox-column>

      <kendo-treelist-column
        field="type"
        title="Type"
        width="120"
        [expandable]="true"
        [style]="{ 'text-align': 'left' }"
      >
      </kendo-treelist-column>

      <kendo-treelist-column
        field="name"
        title="Floorspace"
        [style]="{ 'text-align': 'left' }"
      >
        <ng-template kendoTreeListEditTemplate let-dataItem="dataItem">
          <input
            class="k-textbox"
            name="name"
            placeholder="Enter name"
            required
            [(ngModel)]="dataItem.name"
          />
        </ng-template>
      </kendo-treelist-column>

      <kendo-treelist-command-column
        title="Actions"
        width="74"
        [headerStyle]="{ 'text-align': 'center' }"
        [style]="{ padding: '3px 0' }"
      >
        <ng-template kendoTreeListCellTemplate let-cellContext="cellContext">
          <div class="k-command-cell" style="display: flex; align-items: center; justify-content: center; padding: 0;">
            <button
              [kendoTreeListSaveCommand]="cellContext"
              [disabled]="form?.invalid"
              icon="save"
              title="{{ isNew ? 'Add' : 'Update' }}"
            ></button>

            <button
              [kendoTreeListCancelCommand]="cellContext"
              icon="cancel"
              title="{{ isNew ? 'Discard changes' : 'Cancel' }}"
            ></button>

            <button
              style="display: flex; align-items: center; justify-content: center; width: 30px; height: 30px"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              *ngIf="!isNew && !isEdit"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu class="menu" #menu>
              <!--
              <button mat-menu-item [kendoTreeListEditCommand]="cellContext">
                  <span>Edit</span>
              </button>
              -->

              <button class="menu-item" mat-menu-item [kendoTreeListRemoveCommand]="cellContext">
                <span>Remove</span>
              </button>
            </mat-menu>
          </div>
        </ng-template>
      </kendo-treelist-command-column>

      <ng-template kendoTreeListToolbarTemplate position="top">
        <div style="text-align: right;">
          <!-- <button
            class="k-button"
            [disabled]="!selectedItems.length"
            (click)="loadHandler()"
          >
            Load selected
          </button> -->
          <button
            class="k-button"
            [disabled]="!selectedItems.length"
            (click)="cancelSelection()"
          >
            Cancel
          </button>
        </div>
      </ng-template>
    </kendo-treelist>
  </form>
</kendo-popup>

<!-- -->

<kendo-popup
  style="width: 200px; margin-top: 10px"
  #settingsPopup
  [anchor]="settingsAnchor"
  (anchorViewportLeave)="settingsShow = false"
  *ngIf="settingsShow"
>
  <ul class="dropdown-menu">
    <li class="dropdown-menu--item" *ngFor="let menu of editor.selectionManager.selected?.params || []" (click)="menu.onClick($event)">
      <div class="command">
        <img
          *ngIf="menu.icon.endsWith('.jpg') || menu.icon.endsWith('.png')"
          [src]="menu.icon"
          alt=""
        />
        <img
          style="filter: invert(43%) sepia(0%) saturate(1993%) hue-rotate(143deg) brightness(94%) contrast(81%);"
          *ngIf="menu.icon.endsWith('.svg')"
          [src]="menu.icon"
          alt=""
        />
        <mat-icon
          *ngIf="!menu.icon.endsWith('.svg') && !menu.icon.endsWith('.jpg') && !menu.icon.endsWith('.png')"
        >
          {{ menu.icon }}
        </mat-icon>
        <span>{{ menu.label }}</span>
      </div>
    </li>
  </ul>
</kendo-popup>

<!-- -->

<kendo-popup
  style="width: 200px; margin-top: 10px"
  #controlPopup
  [anchor]="controlAnchor"
  (anchorViewportLeave)="controlShow = false"
  *ngIf="controlShow"
>
  <ul class="dropdown-menu">
    <li class="dropdown-menu--item" [class.disabled]="!editor.historyManager.hasUndo()" (click)="handleHistory('undo')">
      <div class="command">
        <mat-icon>undo</mat-icon> Undo
      </div>
      <div class="shortcut">
        <img src="assets/icons/keyboard/cmd.png" alt=""/>
        <span>Z</span>
      </div>
    </li>
    <li class="dropdown-menu--item" [class.disabled]="!editor.historyManager.hasRedo()" (click)="handleHistory('redo')">
      <div class="command">
        <mat-icon>redo</mat-icon> Redo
      </div>
      <div class="shortcut">
        <img src="assets/icons/keyboard/cmd.png" alt=""/>
        <img src="assets/icons/keyboard/shift.png" alt=""/>
        <span>Z</span>
      </div>
    </li>
    <li class="dropdown-menu--item" (click)="handleRestart()">
      <div class="command">
        <mat-icon>launch</mat-icon> Reset
      </div>
    </li>
    <li class="dropdown-menu--item" (click)="editor.viewManager.zoomIn()">
      <div class="command">
        <mat-icon>zoom_in</mat-icon> Zoom In
      </div>
    </li>
    <li class="dropdown-menu--item" (click)="editor.viewManager.zoomOut()">
      <div class="command">
        <mat-icon>zoom_out</mat-icon> Zoom Out
      </div>
    </li>
    <li class="dropdown-menu--divider"></li>
    <li class="dropdown-menu--item" [class.disabled]="!editor.selectionManager.selected" (click)="editor.eventManager.handleCut()">
      <div class="command">
        <mat-icon>content_cut</mat-icon>
        Cut
      </div>
      <div class="shortcut">
        <img src="assets/icons/keyboard/cmd.png" alt=""/>
        <span>X</span>
      </div>
    </li>
    <li class="dropdown-menu--item" [class.disabled]="!editor.selectionManager.selected" (click)="editor.eventManager.handleCopy()">
      <div class="command">
        <mat-icon>content_copy</mat-icon>
        Copy
      </div>
      <div class="shortcut">
        <img src="assets/icons/keyboard/cmd.png" alt=""/>
        <span>C</span>
      </div>
    </li>
    <li class="dropdown-menu--item" [class.disabled]="!editor.selectionManager.selected" (click)="editor.eventManager.handlePaste()">
      <div class="command">
        <mat-icon>content_paste</mat-icon>
        Paste
      </div>
      <div class="shortcut">
        <img src="assets/icons/keyboard/cmd.png" alt=""/>
        <span>V</span>
      </div>
    </li>
    <li class="dropdown-menu--item" [class.disabled]="!editor.selectionManager.selected" (click)="editor.eventManager.handleDelete()">
      <div class="command">
        <mat-icon>delete</mat-icon>
        Delete
      </div>
      <div class="shortcut">
        <img src="assets/icons/keyboard/del.png" alt=""/>
      </div>
    </li>
    <li class="dropdown-menu--divider"></li>
    <li class="dropdown-menu--item" (click)="editor.viewManager.changeGrid()">
      <div class="command">
        <mat-icon>{{editor.grid.visible ? 'grid_off' : 'grid_on'}}</mat-icon> Grid {{editor.grid.visible ? 'Off' : 'On'}}
      </div>
      <div class="shortcut">
        <span>G</span>
      </div>
    </li>
  </ul>
</kendo-popup>

<!-- <div class="breadcrumb-measure-action" *ngIf="!editor.measureManager.isSetted">
  <button type="button" (click)="editor.measureManager.setScale()">Set Unit</button>
</div> -->




