:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
}

/* */

.container-side--left,
.container-side--center,
.container-side--right {
  display: flex;
  align-items: center;
}
.locationFooter{position: fixed;
  bottom: 0px;
  right: 0px;
   
  width: 100%;
  height: 40px;
  z-index: -100;}
.container-side--left {
  justify-content: flex-start;
  flex: 1 1 auto;
  
  .breadcrumb {
    margin: 0 !important;
  }
}

.container-side--center {
  justify-content: center;
}

.container-side--right {
  width: 220px;
  justify-content: flex-end;
}


.dropdown-menu {
  list-style: none;
  padding: 7px 0;
  margin: 0;

  .dropdown-menu--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;

    &:hover {
      background: #e2e7f0;
      opacity: 0.8;
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    .command {
      display: flex;
      align-items: center;

      img, mat-icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 9px;
      }
    }

    .shortcut {
      display: flex;
      align-items: center;

      img {
        max-width: 20px;
        width: 20px;
        margin: 0 -2px;
      }

      span {
        margin-left: 2px;
      }
    }
  }

  .dropdown-menu--divider {
    height: 1px;
    background: #e2e7f0;
    margin: 4px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.svg-w{
  width: 20px !important;
}

.scale-icon-w {
width: 20px !important;
}

.rotate-icon-w{
  width: 20px !important;
  }

  .scale-icon-w .svg{
    width: 20px !important;
    }
    
    .rotate-icon-w .svg{
      width: 20px !important;
      }

      .scale-button button{
        background:none;
        border: none;
        opacity: 0.5;
      }

      .eye-btn{
        opacity: 0.5;
      }
