<div class="navigation-container">
    <div class="navigation-logo" [class.opened]="menuState === FuseMenuTypes.IconWithText">
        <a  matTooltip="Home" routerLink="/" class="navigation-logo-link">
	    <div class="navigation-logo-img">
                <img src="assets/images/logos/fuse.svg" alt="">
            </div>
	    <span class="navigation-logo-title">
                <img src="assets/images/logos/fuse.svg" alt="">
	    </span>
        </a>
    </div>

    <button class="mat-icon-button mat-button-base hamburger-button" 
        (click)="openMenu()" 
        [class.opened]="menuState === FuseMenuTypes.IconWithText">
        <div class="hamburger-wrapper">
            <div class="hamburger"></div>
        </div>
    </button>
    <kendo-drawer-container>
        <kendo-drawer
            #drawer
            [items]="navigation"
            [mode]="'push'"
            [mini]="true"
            [autoCollapse]="false"
            width="180"
            [miniWidth]="50"
            [(expanded)]="isMenuExpanded"
            (select)="onSelect($event)">

            <ng-template kendoDrawerItemTemplate let-item>
                <fuse-nav-vertical-item 
                    *ngIf="item.type == 'item'" 
                    [item]="item"
                    [isHoverEnabled]="true"
                    [isIconOnly]="menuState === FuseMenuType.IconOnly"
                    (menuItemSelected)="onMenuItemSelected($event)"
                >
                </fuse-nav-vertical-item>
                <fuse-nav-vertical-collapsable
                    *ngIf="item.type == 'collapsable'"
                    [item]="item"
                    (menuItemSelected)="onMenuItemSelected($event)"
                >
                </fuse-nav-vertical-collapsable>
                <fuse-nav-vertical-group 
                    *ngIf="item.type == 'group'" 
                    [item]="item"
                    (menuItemSelected)="onMenuItemSelected($event)"
                >
                </fuse-nav-vertical-group>
            </ng-template>
        </kendo-drawer>
    </kendo-drawer-container>
</div>
