@import "src/@fuse/scss/fuse";

.navigation-logo {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #646464;
  &.opened {
    .navigation-logo-title {
      width: 100px;
      height: 16px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto auto auto 10px;
    text-decoration: none !important;
  }
  &-img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    flex: 0 0 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title {
    width: 0;
    display: block;
    font-size: 24px;
    color: #039be5;
    font-weight: 800;
    margin-left: 10px;
    transition: width 0.2s ease-in-out;
    overflow: hidden;
  }
}
.hamburger-button {
  width: 40px;
  height: 25px !important;
  position: relative;
  margin: 5px;
  padding: 10px;

  .hamburger-wrapper {
    width: 17px;
    height: 10px !important;
    position: relative;
  }

  .hamburger {
    width: 100%;
    height: 2px;
    background-color: #9f9f9f;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 !important;
    margin: 0 !important;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #9f9f9f;
      border-radius: 5px;
      position: absolute;
      top: 4px;
      left: 0;
      transition: all 0.2s ease-in-out;
      line-height: 1;
      box-sizing: border-box;
      border: 0;
      overflow: hidden;
      padding: 0 !important;
      margin: 0 !important;
    }

    &:after {
      width: 80%;
      border-radius: 5px;
      top: inherit;
      bottom: 0;
    }
  }

  &.opened {
    .hamburger {
      background-color: #494c57;

      &:before,
      &:after {
        transform: translateY(-50%) rotate(45deg);
        top: 50%;
        transition: all 0.2s ease-in-out;
      }

      &:after {
        width: 100%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.navigation-container {
  border-color: rgba(0, 0, 0, 0.08);
  color: #656565;
  background-color: #494c57;
  border-width: 0;
  border-style: solid;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-right-width: 1px;
  height: 100%;
}

::ng-deep {
  
}
