<div kendoDialogContainer></div>
<kendo-splitter size="100%">
  <kendo-splitter-pane class="tree-view" min="5%">
    <kendo-treeview
      [nodes]="rootFolder"
      textField="name"
      kendoTreeViewExpandable
      kendoTreeViewSelectable
      [hasChildren]="hasChildren"
      [children]="fetchTreeViewChildren"
      [isExpanded]="isExpanded"
      [(selectedKeys)]="selectedKeys"
      (selectionChange)="handleTreeViewSelection($event)"
      (collapse)="handleCollapse($event)"
      (expand)="handleExpand($event)"
      (dblclick)="treeViewItemDbclick()"
    >
      <ng-template kendoTreeViewNodeTemplate let-dataItem let-index="index">
        <span class="zmdi zmdi-folder mr-8"></span>
        <ng-container *ngIf="isLevelMenuNumber(index, 2)">{{dataItem.location}}/</ng-container>{{ dataItem.name }}
      </ng-template>
    </kendo-treeview>
  </kendo-splitter-pane>

  <kendo-splitter-pane class="content-panel" size="80%">
    <!-- <kendo-toolbar style="display: none !important;">
      <kendo-toolbar-button
        look="bare"
        [text]="'New'"
        iconClass="zmdi zmdi-folder mr-8"
        (click)="onCreateNewFolder()"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Upload'"
        iconClass="zmdi zmdi-upload mr-8"
        (click)="onUploadFile()"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Refresh'"
        iconClass="zmdi zmdi-refresh-alt mr-8"
        (click)="onRefresh()"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Cut'"
        iconClass="zmdi zmdi-scissors mr-8"
        [disabled]="!toolbarState.canCopyOrCut"
        (click)="onCut()"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Copy'"
        iconClass="zmdi zmdi-copy mr-8"
        [disabled]="!toolbarState.canCopyOrCut"
        (click)="onCopy()"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Paste'"
        iconClass="zmdi zmdi-file-text mr-8"
        [disabled]="!toolbarState.canPaste"
        (click)="onPaste()"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Delete'"
        iconClass="zmdi zmdi-delete mr-8"
        (click)="onDeleteItems()"
        [disabled]="!toolbarState.canDelete"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Download'"
        iconClass="zmdi zmdi-download mr-8"
        (click)="onDownloadFile()"
        [disabled]="!toolbarState.canDownload"
      ></kendo-toolbar-button>
      <kendo-toolbar-button
        look="bare"
        [text]="'Compare'"
        iconClass="zmdi zmdi-flip-to-front mr-8"
        [disabled]="!toolbarState.canDiff"
        (click)="onDiff()"
      ></kendo-toolbar-button>

      <app-file-manager-toolbar-selected-rows
        *ngIf="selectedGridItems.length > 0"
        [selectedFiles]="selectedGridItems"
        (resetSelected)="onResetSelectedFiles($event)"
      ></app-file-manager-toolbar-selected-rows>
    </kendo-toolbar> -->

    <!-- <kendo-card [orientation]="'vertical'" class="file-manager-content-card" width="auto"> -->
      <app-file-manager-grid
        [title]="selectedFolder?.name"
        [items]="allGridData"
        [selectedFiles]="selectedGridItems"
        [isLoading]="state.isGridLoading"
        (fileOpening)="onFileOpening($event)"
        (folderOpening)="onFolderOpening($event)"
        (itemsSelected)="onGridItemsSelected($event)"
      ></app-file-manager-grid>
    <!-- </kendo-card> -->
  </kendo-splitter-pane>
</kendo-splitter>
