:host ::ng-deep {
  flex-direction: column;

  kendo-splitter.toolbar {
    height: 50px;
  }

  kendo-splitter {
    border: 0;
    kendo-splitter + kendo-splitter {
      margin: 20px 0 0;
    }

    h3 {
      font-size: 1.2em;
      padding: 10px;
    }

    height: 100%;

    table tr td {
      text-align: left;
    }

    .k-grid-header .k-header:first-child {
      padding-left: 30px;
    }
  }
  kendo-treeview {
    ::selection {
      background-color: transparent;
      color: inherit;
    }
  }
  kendo-treelist {
    height: calc(100vh - 125px);
  }
  kendo-toolbar {
    background-color: white;
    border: 0;
  }

  .k-dialog-wrapper .k-dialog {
    min-width: 300px;
  }

  .k-icon.icon-normal {
    font-size: 20px;
    margin-right: 5px;
  }

  .selected-rows {
    margin-left: auto;
  }

  .content-panel {
    padding-left: 20px;
    padding-right: 20px;

    .k-toolbar .k-button {
      padding: 4px 4px;
    }
  }

  .tree-view {
    padding: 10px;
  }

  .file-manager-content-card {
    padding: 20px;
    min-height: calc(100vh - 225px);
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
  }
}
