
:host {
    height: auto;
    display: block;
    overflow: hidden;
    kendo-grid  {
        .k-grid-content {
            overflow: scroll;
            overflow-x: hidden;
        }
    }

    .k-pager-numbers .k-link.k-state-selected {
        background-color: #326de6;
    }

    kendo-pager-numeric-buttons a {
        background-color: #326de6;
    }

    k-link k-state-selected {
        background-color: #326de6;
    }

    kendo-pager {
        background-color: #fff;
    }

    .bor {
        border: 1px solid gainsboro;
        padding: 2px 0 0 8px !important;
        height: 28px;
        background-color: white;
    }
    .liststring {
	list-style-type: none;
	margin-left: 0px;
        margin-top: 2px;
        margin-bottom: 2px;
	padding: 0px;
	a {
	    color: #039be5;
	}
    }
			
}

::ng-deep {
    .k-label-popup--hidden{
	display: none;
    }
    .multiselect-readonly{
	.k-icon.k-i-close{
	    display: none;     
    	}       
	.k-multiselect-wrap, .k-multiselect-wrap:hover{
	    border: none;
	    background-color: transparent;
	}  
    } 
}
