// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

//mapbox styles
@import "~mapbox-gl/dist/mapbox-gl.css";

//kendo ui styles
$accent: #039be5;
// @import "~@progress/kendo-theme-default/dist/all.css";
@import "~@progress/kendo-theme-default/scss/panelbar/_index.scss";
@import "~@progress/kendo-theme-default/scss/grid/_index.scss";
// Other styles
@import "assets/styles/kendo-table";
@import "assets/styles/_buttons";

@import "assets/fonts/fonts.css";

body.filtering{
  .container-content{
    margin-top: 320px;
  }
}

:root {
  --common-font-family: IBM Plex Sans;
}

horizontal-layout-2 #main .container-aside{
  z-index: 100;
}

.container-side--right.locationFooter {
  background: #494c57;
  width: 100% !important;
  box-shadow: 0 -3px 8px 0 rgba(84, 62, 62, 0.23);
  background-color: #494c57;  
  .gray-cancel {
    background: transparent;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    border-radius: 4px;
    border: solid 1px white;
    color: white !important;
    height: 30px!important;
    opacity: 1;
    padding: 5px 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    };
  .green-save {
      border-radius: 4px;
      border: solid 2px #37A000 !important;
      background: #37A000 !important;
      background-color: #37A000 !important;
      opacity: 1;
      font-size: 16px;
      padding: 5px 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-right: 18px;
      height: 30px ;
      margin-left: 10px;
    };
}

.d-none{
  display: none !important;
}
.inventory.button-bottom{
  position: fixed !important;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  padding-left: 100%;
  background: #d1d1d1;
  // width: 100%;
  z-index: -100;
}

.inventory-btn-bg{
  background: #d1d1d1;
  width: 100%;
}

horizontal-layout-2 #main > .container .container-content{
  margin-bottom: 50px;
}
.echart {
  height: 100%;
  width: 100%;
}

mat-spinner {
  margin: 0 auto;
}

body.theme-default .mat-progress-bar-fill::after {
  background-color: #326de6;
}

body {
  font-family: var(--common-font-family);
}

.summary-container {
  span.item-text {
    margin: auto 20px !important;
  }

  span {
    font-size: 30px;
  }
}

// deviceuserrule global
deviceuserrule-details {
  .mat-form-field.mat-form-field-type-mat-select .mat-form-field-underline {
    display: none;
  }
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 80%;
  font-family: var(--common-font-family);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-unknown {
  color: #fff;
  background-color: #808080;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

//AB
.menu-container.hovered {
  z-index: 9000 !important;
  .nav-link {
    > .nav-link-title,
    > .nav-link-badge {
      opacity: 1 !important;
      transition: opacity 200ms ease;
    }
  }
}

body.theme-default .mat-input-element {
  font-size: 15px !important;
  color: #606060;
  font-family: var(--common-font-family);
}

.mat-form-field-label {
  font-size: 15px !important;
  color: #909090;
  font-family: var(--common-font-family);
}

body.theme-default .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.mat-select-underline {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgba(0, 0, 0, 0.14) !important;
}

.breadcrumb {
  margin: 0 10px 0 3px !important;
  color: rgba(144, 144, 144, 0.9) !important;
}

.navigation-backdrop {
  display: none;
}

.navigation-backdrop + * .cdk-overlay-pane {
  position: relative !important;
  top: 46px !important;
  pointer-events: initial !important;

  .navigation-menu {
    //max-height: calc(100vh - 32px);
    min-width: 280px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    margin-top: -14px;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    &.hidden {
      display: none;
    }

    .mat-menu-content {
      padding: 0;
    }
  }
}

.enum-icon {
  height: 17px;
  background: transparent;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.leader-line {
  z-index: 1;
}

.node-text {
  cursor: pointer;
  // fill: #2a932d;
  // font-weight: bold;
}

.topology-node-tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #6e6f70;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
}

.topology-node-context-menu {
  position: absolute;
  z-index: 15;
  visibility: hidden;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  min-width: 250px;

  .menu-item {
    padding: 10px;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: lightgrey;
  }
}

.topology-node-label-first-line {
  // fill: #039be5;
  font-size: 10px;
}

.topology-node-label-second-line {
  // fill: #039be5;
  font-size: 8px;
}

.topology-node {
  stroke-linejoin: round;
  stroke-width: 3;
  cursor: pointer;
}

.topology-link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5;
}

.topology-tree {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.topology-node-label-top-down {
  transform: rotateY(0deg) rotate(30deg);
}
