kendo-grid {
    margin: 12px;
}
:host ::ng-deep {
    th {
        font-family: "IBM Plex Sans", sans-serif;
        background: #039BE5;
        color: #ffffff;
        border: none;
    }
    tr {
        background: #F8FBFC;
        border: 2px solid #ffffff;
    }
    td {
        .data-value {
            font-family: "IBM Plex Mono", sans-serif;
        }
    }
}
