<kendo-grid
    [kendoGridBinding]="gridView"
    [height]="gridHeight"
    [resizable]="true"
    [sortable]="isViewPanel"
    [pageSize]="pageSize"
    [pageable]="isViewPanel"
    [loading]="isLoading"
    [columnMenu]="isViewPanel ? {filter: true} : false"
    (dataStateChange)="gridDataChanged($event)"
    scrollable="scrollable">
    <kendo-grid-column [field]="column.label" [title]="column.title" *ngFor="let column of columns">
        <ng-template *ngIf="column.render_type === 'text'" kendoGridCellTemplate let-dataItem>
            <div class="data-value">
                {{ dataItem[column.label || 'value'] }}
            </div>
        </ng-template>
        <ng-template *ngIf="column.render_type === 'indicator'" kendoGridCellTemplate let-dataItem>
            <div class="data-value" *ngIf="dataItem['value'] === '1'">
                <span class="k-icon k-i-circle" style="color: green;"></span>
            </div>
            <div class="data-value" *ngIf="dataItem['value'] === '0'">
                <span class="k-icon k-i-circle" style="color: red;"></span>
            </div>
        </ng-template>
        <ng-template *ngIf="column.render_type === 'progress-percentage'" kendoGridCellTemplate let-dataItem>
            <kendo-sparkline type="bar"
                             renderAs="canvas"
                             [seriesColors]="[getProgressBarColor(dataItem.value)]"
                             [data]="dataItem.value"
                             [tooltip]="{visible: false}"
                             [transitions]="true"
                             [seriesDefaults]="{labels: {background: 'none', visible: true, format: '{0}%'}}"
                             [class.red-progress]="dataItem.value > 0 && dataItem.value <= 50"
                             [class.yellow-progress]="dataItem.value > 50 && dataItem.value <= 80"
                             [class.green-progress]="dataItem.value > 80"
            >
                <kendo-chart-area opacity="0" [width]="'100%'"></kendo-chart-area>
                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [min]="0" [max]="100">
                    </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>
            </kendo-sparkline>
        </ng-template>
    </kendo-grid-column>
    <!--    <kendo-grid-column field="interface" title="Interface">-->
    <!--    </kendo-grid-column>-->
    <!--    <kendo-grid-column field="receive" title="Receive">-->
    <!--        <ng-template kendoGridCellTemplate let-dataItem>-->
    <!--            <kendo-sparkline type="bar"-->
    <!--                             [data]="dataItem.receive / 10000 * 100"-->
    <!--                             [tooltip]="{visible: false}"-->
    <!--                             [transitions]="true"-->
    <!--                             [seriesDefaults]="{labels: {background: 'none', visible: true, format: '{0}%'}}"-->
    <!--            >-->
    <!--                <kendo-chart-area opacity="0" [width]="200"></kendo-chart-area>-->
    <!--                <kendo-chart-value-axis>-->
    <!--                    <kendo-chart-value-axis-item [min]="0" [max]="100">-->
    <!--                    </kendo-chart-value-axis-item>-->
    <!--                </kendo-chart-value-axis>-->
    <!--            </kendo-sparkline>-->
    <!--        </ng-template>-->
    <!--    </kendo-grid-column>-->
    <!--    <kendo-grid-column field="transmit" title="Transmit">-->
    <!--        <ng-template kendoGridCellTemplate let-dataItem>-->
    <!--            <kendo-sparkline type="bar"-->
    <!--                             [data]="dataItem.transmit / 10000 * 100"-->
    <!--                             [tooltip]="{visible: false}"-->
    <!--                             [transitions]="true"-->
    <!--                             [seriesDefaults]="{labels: {background: 'none', visible: true, format: '{0}%'}}"-->
    <!--            >-->
    <!--                <kendo-chart-area opacity="0" [width]="200"></kendo-chart-area>-->
    <!--                <kendo-chart-value-axis>-->
    <!--                    <kendo-chart-value-axis-item [min]="0" [max]="100">-->
    <!--                    </kendo-chart-value-axis-item>-->
    <!--                </kendo-chart-value-axis>-->
    <!--            </kendo-sparkline>-->
    <!--        </ng-template>-->
    <!--    </kendo-grid-column>-->
</kendo-grid>
