.k-button {
    padding: 8px 20px 8px 10px;
    border-radius: 4px;
    border: 0px;

    * {
        font: normal normal medium 14px/21px IBM Plex Mono;
    }

    &.k-button-icontext .k-icon,
    &.k-button-icontext .k-image,
    &.k-button-icontext .k-sprite {
        margin: 1px 7px 0px 4px;
    }

    &.success {
        //background: #6FCE9A !important;
        background: #3CBA0D !important;
        color: white !important;
	height: 26px;
    }

    &.default {
        //background: #D3DCED !important;
        background: #039be560 !important;
        color: 0x000000 !important;
	height: 26px;
    }

    &[disabled] {
        opacity: 0.6;
    }
}
