<ul class="labels" fxLayout="row" fxLayoutAlign="start center"> 
    <li class="mr-8" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon svgIcon="label-outline" aria-hidden="false"></mat-icon>
    </li>
    <li class="labels-item" *ngFor="let label of labels">{{ label.name }}: {{ label.values[0] }}</li>
</ul>
