:host {
    height: 100%;
    display: flex;

    .labels {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 16px;
        list-style-type: none;
        margin: 0;

        &-item {
            font-size: 12px;
            letter-spacing: .3px;
            line-height: 18px;
            box-sizing: border-box;
            border-spacing: 2px;
            border-color: grey;
            background-color: rgb(221, 221, 221);
            color: rgb(102, 102, 102);
            border-radius: 4px;
            padding-left: 4px;
            padding-right: 4px;
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
