<div class="dashboard-right-menu-wrapper admitted">
    <div class="left-float">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon [svgIcon]="'dashboard-settings'"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="add()" mat-menu-item>
                <mat-icon>playlist_add</mat-icon>
                <span>Add</span>
            </button>
            <button (click)="clone()" mat-menu-item>
                <mat-icon>content_copy</mat-icon>
                <span>Clone</span>
            </button>
            <button (click)="delete()" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
</div>
