<div class="kendo-dialog-content">
  <form [formGroup]="form">
    <kendo-textbox
      class="fullWidth"
      formControlName="name"
      required
    ></kendo-textbox>
  </form>
</div>
<kendo-dialog-actions class="no-border kendo-actions-container">
  <button
    kendoButton
    class="btn bulk-actions cancel"
    [icon]="'close-circle'"
    (click)="onCancelBtnClicked()"
  >
    Cancel
  </button>
  <button
    kendoButton
    [icon]="'save'"
    class="btn btn-primary bulk-actions save"
    [disabled]="form.value.name == ''"
    (click)="onSaveBtnClicked()"
  >
    Save
  </button>
</kendo-dialog-actions>
