<div kendoDialogContainer></div>
<div kendoWindowContainer></div>

<gridster
  fuseNavigationMenuGlidster
  id="schedule"
  name="schedule"
  [options]="options"
  class="schedule-gridstar"
>
  <gridster-item [item]="item1" class="schedule-item">
    <app-schedule [isTimezoneEnabled]="false" [scheduler]="scheduleObj"></app-schedule>
  </gridster-item>
  <gridster-item [item]="item1" class="schedule-item">
    <div class="popup-wrapper">
      <button kendoButton (click)="showWindow()">Set schedule</button>
    </div>
  </gridster-item>
</gridster>
