.schedule-item{
  height: auto !important;
  width: 420px;
}
:host ::ng-deep {
  .k-window-actions {
    button[title='Minimize'],
    button[title='Maximize'] {
      display: none !important;
    }
  }
  kendo-dialog{
    z-index: 10009;
  }
}
.popup-wrapper{
  padding: 20px;
}
