<div fxLayout="row" fxLayoutAlign="space-between center" class="gridster-item-content" fxFlex="0 1 100">
  <span fxLayout="row" fxLayoutAlign="start center" class="chart-title pl-16"
    *ngIf="widget?.title">{{widget.title}}</span>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="0 0 auto">
    <ng-container *ngIf="item?.resizeEnabled">
      <button fxLayout="row" fxLayoutAlign="center center" mat-menu-item class="drag-handler chart-icon_btn px-8 w-40">
          <mat-icon class="mr-0">open_with</mat-icon>
      </button>
    </ng-container>
    <button matTooltip="Select widget operation" mat-icon-button [matMenuTriggerFor]="menu"
      aria-label="Operations">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
        <ng-content select="[menuItemsChart]"></ng-content>
    </mat-menu>
  </div>
</div>
