:host {
  // padding-bottom: 5px;
  ::ng-deep {
      .mat-form-field-infix {
          width: 100%;
      }

      .k-grid td.values-field {
          text-align: left;
      }
  }

  gridster {
      margin    : 0px auto;
      background: #f4f2f7;
  }

}
