<gridster fuseNavigationMenuGlidster id="file-manager" name="file-manager" [options]="options">
  <gridster-item [item]="item1">
    <app-file-manager></app-file-manager>
  </gridster-item>
</gridster>
