

<form #form="ngForm" class="k-form" *ngIf="networktemplate" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specDnsServers">DNS Server </label>
        <kendo-multiselect
            #specDnsServers
	    [readonly]="false"
	    name="specDnsServers"
            [(ngModel)]="networktemplate.spec.dnsServers"
	    [allowCustom]="true"
	    [popupSettings]="{popupClass: 'k-label-popup--hidden'}"
	    (valueChange)="onValueChanged(form)"
            [valueNormalizer]="specDnsServersStringNormalizer"
        >
        </kendo-multiselect>
    </div>
</form>
