
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

        <kendo-grid-column field="EndPointstatusConnectivityType" title="Type" width="75" >
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'TunnelConnecting'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'TunnelConnected'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'TunnelInactive'" class="badge badge-unknown">Inactive</span>
                <span *ngIf="(dataItem.EndPointstatusConnectivityType.toLowerCase() == 'unknown') || (!dataItem.EndPointstatusConnectivityType)" class="badge badge-unknown">Unknown</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'REJECTED'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'DECLINED'" class="badge badge-danger">Failed</span>

                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'alert'"><img class="enum-icon" src="assets/icons/faults-events/Alert.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusConnectivityType == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>


            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
                let-isNew="isNew">
                {{formGroup.controls.EndPointstatusConnectivityType.value}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="EndPointstatusAuthStatus" title="Auth" width="75" >
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'TunnelConnecting'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'TunnelConnected'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'TunnelInactive'" class="badge badge-unknown">Inactive</span>
                <span *ngIf="(dataItem.EndPointstatusAuthStatus.toLowerCase() == 'unknown') || (!dataItem.EndPointstatusAuthStatus)" class="badge badge-unknown">Unknown</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'REJECTED'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'DECLINED'" class="badge badge-danger">Failed</span>

                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'alert'"><img class="enum-icon" src="assets/icons/faults-events/Alert.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                <span *ngIf="dataItem.EndPointstatusAuthStatus == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>


            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
                let-isNew="isNew">
                {{formGroup.controls.EndPointstatusAuthStatus.value}}
            </ng-template>
        </kendo-grid-column>

    <kendo-grid-column field="EndPointspecBaseRealName" title="MAC Address" width="175" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.EndPointspecBaseRealName}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.EndPointspecBaseRealName"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="EndPointstatusDeviceIPAddress" title="IP Address" width="125" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.EndPointstatusDeviceIPAddress}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.EndPointstatusDeviceIPAddress.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="EndPointstatusVendor" title="Vendor" width="200" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.EndPointstatusVendor}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.EndPointstatusVendor.value}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="EndPointstatusSsid" title="SSID" width="175" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.EndPointstatusSsid}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            {{formGroup.controls.EndPointstatusSsid.value}}
        </ng-template>
    </kendo-grid-column>

        <kendo-grid-column  title="Endpoint Set" width="125" >
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'online'" class="badge badge-success">Online</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'offline'" class="badge badge-danger">Offline</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'up'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'down'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'TunnelConnecting'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'TunnelConnected'" class="badge badge-success">Up</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'TunnelDisconnected'" class="badge badge-danger">Down</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'TunnelInactive'" class="badge badge-unknown">Inactive</span>
                <span *ngIf="(dataItem.EndPointAuxstatusImage.toLowerCase() == 'unknown') || (!dataItem.EndPointAuxstatusImage)" class="badge badge-unknown">Unknown</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'AUTHENTICATED'" class="badge badge-success">Ok</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'REJECTED'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'UNKNOWN_AUTH'" class="badge badge-danger">Failed</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'AUTHENTICATING'" class="badge badge-unknown">...</span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'DECLINED'" class="badge badge-danger">Failed</span>

                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'wireless'"><img class="enum-icon" src="assets/icons/networks/wifi-4level.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'wired'"><img class="enum-icon" src="assets/icons/networks/copper-up.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'alert'"><img class="enum-icon" src="assets/icons/faults-events/Alert.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'critical'"><img class="enum-icon" src="assets/icons/faults-events/Critical.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'debug'"><img class="enum-icon" src="assets/icons/faults-events/Debug.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'emergency'"><img class="enum-icon" src="assets/icons/faults-events/Emergency.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'error'"><img class="enum-icon" src="assets/icons/faults-events/Error.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'informational'"><img class="enum-icon" src="assets/icons/faults-events/Info.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'notice'"><img class="enum-icon" src="assets/icons/faults-events/Notice.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage.toLowerCase() == 'warning'"><img class="enum-icon" src="assets/icons/faults-events/Warning.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'laptop'"><img class="enum-icon" src="assets/icons/endpoints/laptop.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'mobile-phone'"><img class="enum-icon" src="assets/icons/endpoints/mobile-phone.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'old-tv'"><img class="enum-icon" src="assets/icons/endpoints/old-tv.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'printer'"><img class="enum-icon" src="assets/icons/endpoints/printer.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'scanner'"><img class="enum-icon" src="assets/icons/endpoints/scanner.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'tv'"><img class="enum-icon" src="assets/icons/endpoints/tv.svg"/></span>
                <span *ngIf="dataItem.EndPointAuxstatusImage == 'wired-phone'"><img class="enum-icon" src="assets/icons/endpoints/wired-phone.svg"/></span>


            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
                let-isNew="isNew">
                {{formGroup.controls.EndPointAuxstatusImage.value}}
            </ng-template>
        </kendo-grid-column>

    <kendo-grid-column field="EndPointtotalBytes" title="Total Bytes" width="125" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.EndPointtotalBytes}}
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="endpoints.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="endpoints.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
