

<form #form="ngForm" class="k-form" *ngIf="networktemplate" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="specDeviceSNMPV2ReadCommunityName" class="label-top">SNMPv2 Read Community </label>
	 <input [readonly]="false"
            #specDeviceSNMPV2ReadCommunityName
            kendoTextBox
            [(ngModel)]="networktemplate?.spec.deviceSNMPV2ReadCommunityName"
            name="spec.deviceSNMPV2ReadCommunityName"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specDevicePortalVendor">Portal Vendor 1 </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #specDevicePortalVendor="ngModel"
	    [readonly]="false"
	    name="specDevicePortalVendor"
            [(ngModel)]="networktemplate.spec.devicePortalVendor"
            [data]="portal_vendor_1_spec_deviceportalvendor_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
        </kendo-dropdownlist>
    </div>

    <div *ngIf="!((this.networktemplate?.spec.devicePortalVendor !== 'Meraki' && this.networktemplate?.spec.devicePortalVendor !=='Mist')) && (true)" class="row-item row-item-top">
        <label [for]="specDevicePortalOrg" class="label-top">Portal Org 1 </label>
	 <input [readonly]="false"
            #specDevicePortalOrg
            kendoTextBox
            [(ngModel)]="networktemplate?.spec.devicePortalOrg"
            name="spec.devicePortalOrg"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!((this.networktemplate?.spec.devicePortalVendor !== 'Meraki' && this.networktemplate?.spec.devicePortalVendor !=='Mist')) && (true)" class="row-item">
        <label [for]="specDevicePortalKey">Portal Key 1 </label>
        <input #specDevicePortalKey="ngModel"
            id="specDevicePortalKey"
            kendoTextBox type="password"
            [(ngModel)]="networktemplate?.spec.devicePortalKey.password"
            name="spec.devicePortalKey"
	    (keyup)="onValueChanged(form)"
            showHideInput
        />
        <i *ngIf="specDevicePortalKey.dirty" class="material-icons" matSuffix
         class="show-hide-password"
         showHideTrigger="specDevicePortalKey"
         [showHideStatus]="{ materialIcon: true, id: 'specDevicePortalKey' }">
        </i>
    </div>

    <div *ngIf="!(false) && (true)" class="row-item">
        <label [for]="specDevicePortalVendor2">Portal Vendor 2 </label>
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
            #specDevicePortalVendor2="ngModel"
	    [readonly]="false"
	    name="specDevicePortalVendor2"
            [(ngModel)]="networktemplate.spec.devicePortalVendor2"
            [data]="portal_vendor_2_spec_deviceportalvendor2_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
	    (valueChange)="onValueChanged(form)"
        >
        </kendo-dropdownlist>
    </div>

    <div *ngIf="!((this.networktemplate?.spec.devicePortalVendor2 !== 'Meraki' && this.networktemplate?.spec.devicePortalVendor2 !=='Mist')) && (true)" class="row-item row-item-top">
        <label [for]="specDevicePortalOrg2" class="label-top">Portal Org 2 </label>
	 <input [readonly]="false"
            #specDevicePortalOrg2
            kendoTextBox
            [(ngModel)]="networktemplate?.spec.devicePortalOrg2"
            name="spec.devicePortalOrg2"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!((this.networktemplate?.spec.devicePortalVendor2 !== 'Meraki' && this.networktemplate?.spec.devicePortalVendor2 !=='Mist')) && (true)" class="row-item">
        <label [for]="specDevicePortalKey2">Portal Key 2 </label>
        <input #specDevicePortalKey2="ngModel"
            id="specDevicePortalKey2"
            kendoTextBox type="password"
            [(ngModel)]="networktemplate?.spec.devicePortalKey2.opaqueSecret"
            name="spec.devicePortalKey2"
	    (keyup)="onValueChanged(form)"
            showHideInput
        />
        <i *ngIf="specDevicePortalKey2.dirty" class="material-icons" matSuffix
         class="show-hide-password"
         showHideTrigger="specDevicePortalKey2"
         [showHideStatus]="{ materialIcon: true, id: 'specDevicePortalKey2' }">
        </i>
    </div>
</form>
