
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="name" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    <div *ngIf="!isNew">
                        {{formGroup.controls.name.value}}
                    </div>
                    <div *ngIf="isNew">
                        <input kendoTextBox #input class="k-textbox" [formControl]="formGroup.controls.name">
                        <kendo-popup [anchor]="input"
                            *ngIf="formGroup.controls.name.invalid && !(isNew && formGroup.controls.name.untouched)"
                            popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-i-warning"></span>
                            SSID name is required
                        </kendo-popup>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="SSIDspecApiVersion" title="Api Version" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.SSIDspecApiVersion}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.SSIDspecApiVersion"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecType" title="Type" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of type_spec_type_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecType"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecType"
            [(ngModel)]="formGroup.controls.SSIDspecType.value"
            [data]="type_spec_type_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecKind" title="Kind" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.SSIDspecKind}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.SSIDspecKind"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecPurpose" title="Purpose" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of purpose_spec_purpose_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecPurpose"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecPurpose"
            [(ngModel)]="formGroup.controls.SSIDspecPurpose.value"
            [data]="purpose_spec_purpose_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecEnabled" title="Enabled">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.SSIDspecEnabled"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.SSIDspecEnabled" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecHidden" title="Hidden">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.SSIDspecHidden"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.SSIDspecHidden" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecOperatingFrequency" title="Operating Frequency" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of operating_frequency_spec_operatingfrequency_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecOperatingFrequency"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecOperatingFrequency"
            [(ngModel)]="formGroup.controls.SSIDspecOperatingFrequency.value"
            [data]="operating_frequency_spec_operatingfrequency_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecBasicDataRates2G" title="Basic Data Rates2g" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of basic_data_rates2g_spec_basicdatarates2g_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecBasicDataRates2G"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecBasicDataRates2G"
            [(ngModel)]="formGroup.controls.SSIDspecBasicDataRates2G.value"
            [data]="basic_data_rates2g_spec_basicdatarates2g_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecSupportedDataRates2G" title="Supported Data Rates2g" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of supported_data_rates2g_spec_supporteddatarates2g_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecSupportedDataRates2G"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecSupportedDataRates2G"
            [(ngModel)]="formGroup.controls.SSIDspecSupportedDataRates2G.value"
            [data]="supported_data_rates2g_spec_supporteddatarates2g_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecBasicDataRates5G" title="Basic Data Rates5g" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of basic_data_rates5g_spec_basicdatarates5g_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecBasicDataRates5G"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecBasicDataRates5G"
            [(ngModel)]="formGroup.controls.SSIDspecBasicDataRates5G.value"
            [data]="basic_data_rates5g_spec_basicdatarates5g_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecSupportedDataRates5G" title="Supported Data Rates5g" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of supported_data_rates5g_spec_supporteddatarates5g_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecSupportedDataRates5G"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecSupportedDataRates5G"
            [(ngModel)]="formGroup.controls.SSIDspecSupportedDataRates5G.value"
            [data]="supported_data_rates5g_spec_supporteddatarates5g_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecOpmode" title="Opmode" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of opmode_spec_opmode_enum"> 
                <ng-container *ngIf="item.value===dataItem.SSIDspecOpmode"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="SSIDspecOpmode"
            [(ngModel)]="formGroup.controls.SSIDspecOpmode.value"
            [data]="opmode_spec_opmode_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecDot11K" title="Dot11k">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.SSIDspecDot11K"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.SSIDspecDot11K" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SSIDspecOkc" title="Okc">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.SSIDspecOkc"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.SSIDspecOkc" />
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="ssids.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="ssids.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
