
.device-width-100 {
  width: 100%;
} 
    
.ul-tooltip-info {
  font-size: 80%;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}       
        
.tooltip-info {
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
} 

