

<form #form="ngForm" class="k-form" *ngIf="ifinterface" (ngSubmit)="save(form)">


    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetSwitchedVlanInterfaceMode" class="label-top">Interface Mode </label>
	 <input [readonly]="true"
            #statusEthernetSwitchedVlanInterfaceMode
            kendoTextBox
            [(ngModel)]="ifinterface?.status.ethernet.switchedVlan.interfaceMode"
            name="status.ethernet.switchedVlan.interfaceMode"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetSwitchedVlanNativeVlan" class="label-top">Native VLAN </label>
	 <input [readonly]="true"
            #statusEthernetSwitchedVlanNativeVlan
            kendoTextBox type="number"
            [(ngModel)]="ifinterface?.status.ethernet.switchedVlan.nativeVlan"
            name="status.ethernet.switchedVlan.nativeVlan"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetSwitchedVlanAccessVlan" class="label-top">Access VLAN </label>
	 <input [readonly]="true"
            #statusEthernetSwitchedVlanAccessVlan
            kendoTextBox type="number"
            [(ngModel)]="ifinterface?.status.ethernet.switchedVlan.accessVlan"
            name="status.ethernet.switchedVlan.accessVlan"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetSwitchedVlanTrunkVlans" class="label-top">Trunk VLANs </label>
	 <input [readonly]="true"
            #statusEthernetSwitchedVlanTrunkVlans
            kendoTextBox
            [(ngModel)]="ifinterface?.status.ethernet.switchedVlan.trunkVlans"
            name="status.ethernet.switchedVlan.trunkVlans"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetStpProtocol" class="label-top">STP Protocol </label>
	 <input [readonly]="true"
            #statusEthernetStpProtocol
            kendoTextBox
            [(ngModel)]="ifinterface?.status.ethernet.stp.protocol"
            name="status.ethernet.stp.protocol"
	     (keyup)="onValueChanged(form)"
        />
    </div>

    <div *ngIf="!(false) && (true)" class="row-item row-item-top">
        <label [for]="statusEthernetStpProtoState" class="label-top">STP Port State </label>
	 <input [readonly]="true"
            #statusEthernetStpProtoState
            kendoTextBox
            [(ngModel)]="ifinterface?.status.ethernet.stp.protoState"
            name="status.ethernet.stp.protoState"
	     (keyup)="onValueChanged(form)"
        />
    </div>
</form>
