
            <kendo-grid 
            #grid="kendoGrid" 
            kendoGridSelectBy="_id" 
            class="noselect"
            [data]="gridView"
            [skip]="skip"
            [selectedKeys]="mySelection"
            [selectable]="{
                mode: 'single'
            }"
            [pageSize]="pageSize" 
            [pageable]="true" 
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [sort]="sort"
            [groupable]="groupable"
            [group]="groups"
            [reorderable]="true" 
            [resizable]="true" 
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)" 
            (save)="saveHandler($event)" 
            (remove)="removeHandler($event)"
            (cellClick)="onCellClick($event)"
            (dblclick)="onDblClick()"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="name" title="Name">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    <div *ngIf="!isNew">
                        {{formGroup.controls.name.value}}
                    </div>
                    <div *ngIf="isNew">
                        <input kendoTextBox #input class="k-textbox" [formControl]="formGroup.controls.name">
                        <kendo-popup [anchor]="input"
                            *ngIf="formGroup.controls.name.invalid && !(isNew && formGroup.controls.name.untouched)"
                            popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-i-warning"></span>
                            AdmitDevice name is required
                        </kendo-popup>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="apiVersion" title="Location">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{apiVersionToLocation(dataItem.apiVersion)}}
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                    {{apiVersionToLocation(formGroup.controls.apiVersion.value)}}
                </ng-template>
            </kendo-grid-column>

    <kendo-grid-column field="AdmitDevicespecApiVersion" title="Api Version" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.AdmitDevicespecApiVersion}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.AdmitDevicespecApiVersion"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AdmitDevicespecKind" title="Kind" >
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.AdmitDevicespecKind}}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input kendoTextBox [formControl]="formGroup.controls.AdmitDevicespecKind"/>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AdmitDevicespecAdmit" title="Admit">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.AdmitDevicespecAdmit"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.AdmitDevicespecAdmit" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AdmitDevicespecDecomission" title="Decomission">
        <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew" >
            <input type="checkbox" class="k-checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.AdmitDevicespecDecomission"  />
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
            let-isNew="isNew">
            <input type="checkbox" class="k-checkbox" kendoCheckBox [formControl]="formGroup.controls.AdmitDevicespecDecomission" />
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AdmitDevicespecVendor" title="Vendor" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of vendor_spec_vendor_enum"> 
                <ng-container *ngIf="item.value===dataItem.AdmitDevicespecVendor"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="AdmitDevicespecVendor"
            [(ngModel)]="formGroup.controls.AdmitDevicespecVendor.value"
            [data]="vendor_spec_vendor_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AdmitDevicespecRole" title="Role" >
        <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container *ngFor="let item of role_spec_role_enum"> 
                <ng-container *ngIf="item.value===dataItem.AdmitDevicespecRole"> {{item.text}}</ng-container>
        </ng-container>
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup" let-isNew="isNew">
	<kendo-dropdownlist [popupSettings]="{ popupClass: 'popup-page-dropdown' }"
	    name="AdmitDevicespecRole"
            [(ngModel)]="formGroup.controls.AdmitDevicespecRole.value"
            [data]="role_spec_role_enum"
            textField="text"
            valueField="value"
	    valuePrimitive="true"
        >
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="isLoading">Loading...</div>
                <div *ngIf="!isLoading">No records available</div>
            </ng-template>
            <kendo-grid-pdf fileName="admitdevices.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="admitdevices.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div kendoDialogContainer></div> 
