<div [class.blur-content]="isLoading">
  <div id="device-tree" #deviceTree></div>
  <button mat-button class="back-to-topology-btn" *ngIf="isExploredNode" (click)="backToWholeTopology()">
    Back to all
  </button>
  <kendo-contextmenu
    id="topology-context-menu"
    #topologyContextMenu
    [items]="contextMenuItems"
    (select)="onSelectContextMenuItem($event)"
  >
  </kendo-contextmenu>
</div>

<mat-spinner [diameter]="40" *ngIf="isLoading" class="loader"></mat-spinner>
