#device-tree {
  padding: 0px 0px;
}

.back-to-topology-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #039be5 !important;
  cursor: pointer;
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
}

.blur-content {
  transform: scale(0.94);
  -webkit-filter: blur(1px);
  filter: blur(1px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: 20;
  transition: opacity 0.45s;
  opacity: 0.9;
}

.loader {
  position: absolute;
  top: 20em;
  left: 50%;
}

:host ::ng-deep {
  .mat-spinner circle {
    stroke: #039be5 !important;
  }
}
