kendo-card-header{
    display: flex;
    justify-content: space-between;
}
.btn-bell{
    background-color: #039be5 !important;
    min-width: 40px;
    height: 40px;
    color: white !important;
}
.chip-list{
    width: 100%;
}
kendo-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-action{
    width: 80px;
    margin-left: 20px;
}
:host .k-grid td{
    text-align: center;
}
