<div class="k-hbox" style="display:flex;justify-content: space-between; padding: 20px">
    <a style="color: #656565" >
        <div>Device: {{deviceName}}</div>
    </a>
    <!-- <mat-icon matBadge="22" matBadgePosition="above after" class="fas fa-bell">fa-bell</mat-icon> -->
    <button mat-raised-button class="btn-bell" matBadge="22" matBadgePosition="above after">
        <fa-icon [icon]="iconBell"></fa-icon>
    </button>
</div>
<div class="gridster-item-content">
    <kendo-grid id="device-detail-grid" class="device-detail-grid" [kendoGridBinding]="deviceData" [sortable]="false"
        (cellClick)="cellClickHandler($event)" [navigable]="false"
        [pageSize]="1">
        <kendo-grid-column field="admit" title="Admit">
            <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-formGroup="formGroup"
                let-isNew="isNew">
                <input type="checkbox" disabled kendoCheckBox [(ngModel)]="dataItem.admit" />
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-formGroup="formGroup"
                let-isNew="isNew">
                <input type="checkbox" kendoCheckBox [formControl]="formGroup.controls.admit" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column *ngFor="let col of columns" [title]="col.name" [field]="col.field"></kendo-grid-column>
    </kendo-grid>
    <div style="display: flex;align-items: center;padding: 10px 20px;">
        <div class="gridster-item-content" fxFlex="1 0 auto">
            <mat-form-field *ngIf="labels" class="chip-list">
                <mat-chip-list #chipList aria-label="Label selection" [selectable]="true"
                    (chipBlurChanges)="chipBlurChanges(item)">
                    <mat-chip *ngFor="let item of labels | keyvalue" [removable]="removable" (removed)="remove(item)">
                        {{item.key}}: {{item.value}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Labels" autocomplete="off" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
            </mat-form-field>
        </div>
        <section fxFlex="0 1 auto">
            <button (click)="onSave()" [disabled]="!canSave" color="accent" class="btn-action" mat-raised-button>Save</button>
            <button (click)="onCancel()" [disabled]="!canCancel" class="btn-action" mat-raised-button
                color="default">Cancel</button>
        </section>
    </div>
</div>
