<div *ngIf="!pending" [ngClass]="{'summary-container': !detailView,'deactivated': !isActive}" (click)="onTableClick(data.name)">

    <h3 class="title">{{data?.name}}</h3>
    <h2 class="section title">{{data?.result[0]?.value[1] | round}}</h2>

    <mat-progress-bar
        mode="determinate"
        [value]="realValue">
    </mat-progress-bar>
    <div class="item">{{changeRate}}</div>
</div>
