<div class="content">
  <p class="title-item">Results <span *ngIf="searchKeyword">for "{{searchKeyword}}"</span></p>
  <!-- {{options | json}} -->
  <ul class="list-collection-container">
    <li class="no-item" *ngIf="options && options.length == 0">No Item Found</li>
    <li *ngFor="let item of options" class="item-container" (click)="redirect(item.url)">
      <span>{{item.resolvedIntent.text}}</span>
    </li>
  </ul>

  <!-- {{options2 | json}} -->

</div>
