.content {
    width: 100%;
    font-family: IBM Plex Sans;
    padding: 0px 40px 20px;
}

ul.list-collection-container {
    list-style: none;
    padding: 0px;
    flex: 1 1 0%;
    box-sizing: border-box;
    z-index: 1;
    display: block;
    font-family: IBM Plex Sans;
}

li.item-container {
    background-color: white;
    margin: 20px 0px;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(95, 101, 126, 0.2);
    border-radius: 5px;
    font-family: IBM Plex Sans;
    cursor: pointer;
}

.title-item {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    box-sizing: border-box;
    z-index: 1;
    display: block;
    width: 100%;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: normal;
    color: #039be5;
}

.no-item{
    text-align: center;
    background-color: white;
    margin: 20px 0px;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(95, 101, 126, 0.2);
    border-radius: 5px;
    font-family: IBM Plex Sans;
}
