:host {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex: 1 1 auto;

  input {
    font-size: 14px;
    width: 100%;
  }

  button {
    display: flex;
    align-items: center;
  }
}

::ng-deep {
  .header-search-bar-list {

    .k-dropdown-wrap>.k-input,
    .k-dropdown .k-dropdown-wrap .k-select,
    .k-list,
    .k-reset {
      background-color: #e7e4e4 !important;
      height: 26px;
    }

    .k-dropdown-wrap {
      overflow: hidden;
      border-radius: 15px;
      border: solid 1px #ffffff;
      background-color: #e7e4e4;
      .k-input {
        padding-left: 14px;
      }
      .k-select {
        background-color: #e7e4e4 !important;

        .k-icon {
          color: #333333 !important;
          font-size: 14px;
        }
      }

    }
  }
}
