<div #fuseSearchBar class="fuse-search-bar">
  <mat-icon [svgIcon]="'toolbar-search'" class="s-24 secondary-text ml-12 mr-12"></mat-icon>
  <div class="search-range" *ngIf="showSearchRangeWidget">
    <div #anchor
        (click)="onToggleDropdown()"
        class="custom-dropdown custom-dropdown__search">
        {{ entireAppMode.name }}
        <mat-icon class="s-16">expand_more</mat-icon>
    </div>
    <kendo-popup
        #searchModePopup
        class="custom-popup custom-popup__search"
        [anchor]="anchor"
        [style]="'min-width: 120px; width: ' + anchor.width"
        style="z-index: 999;"
        (anchorViewportLeave)="show = false"
        *ngIf="show">
        <div class="k-list-scroller" style="max-height: 200px">
            <ul class="k-list k-reset">
            <li *ngFor="let listItem of listItems"
                (click)="updateFilterDirection(listItem); show = false;"
                class="search-mode-item"
                [ngClass]="listItem.value == entireAppMode.value ? 'k-item k-state-selected' : 'k-item'">
                {{listItem.name}}
            </li>
            </ul>
        </div>
    </kendo-popup>
  </div>
  <div class="filter-btn-wrapper" *ngIf="(entireAppMode.value !== 'GLOBAL') && aggregatorStats.length">
    <span class="badge" *ngIf="selectedFilterItems">
      {{selectedFilterItems}}
    </span>
    <a class="btn-filter" (click)="toggleFilter()">
      <mat-icon [svgIcon]="'toolbar-filter'" class="s-24 secondary-text mr-12"></mat-icon>
    </a>
    </div>
  <input
    kendoTextBox
    #searchInput
    (keyup)="search($event)"
    (keydown.enter)="onEnter()"
    (focus)="onSearchEntered()"
    (blur)="onSearchLeaved()"
    [placeholder]="entireAppMode.value === 'GLOBAL' ? 'Search with natural language here' : 'Search by typing here'"/>

  <kendo-popup
    #filterPopup
    style="width: 100%; position: absolute;"
    [offset] = "{left: 0, top: 35}"
    *ngIf="showFilter">
    <div class="fuse-search-bar--dropdown" *ngIf="entireAppMode.value !== 'GLOBAL'">
      <fuse-search-filter 
        #filterWrapper
        [data]="aggregatorStats" 
        (filterChange)="updateFilters()" 
        (selectedItems)="selectedItems($event)">
      </fuse-search-filter>
    </div>
  </kendo-popup>

  <!-- <button mat-icon-button *ngIf="entireAppMode.value !== 'GLOBAL'" (click)="toggleFilter()">
    <mat-icon *ngIf="!showFilter" class="s-24 ml-8">expand_more</mat-icon>
    <mat-icon *ngIf="showFilter" class="s-24 ml-8">expand_less</mat-icon>
  </button> -->
  <a class="btn-close" *ngIf="showSearchRangeWidget || showFilter" (click)="collapseToolbar()">
    <mat-icon [svgIcon]="'toolbar-close'" class="s-24 secondary-text ml-12 mr-12"></mat-icon>
  </a>
</div>
