:host {
  display: block;
  padding: 15px 0 15px 0;
  #rulesParsedContainer {
    background: #ffffff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #d7e1f4;
    border: 1px solid #d7e1f4;
    border-radius: 4px;
    color: #494c57;
    padding: 20px 25px;
  }
}
