<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>{{data.msg}}</mat-dialog-content>
<mat-dialog-actions style="min-height: 68px;">
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>
